force-app/main/default/flows/Account_Location_Tag_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssingAddressValues</name>
        <label>AssingAddressValues</label>
        <locationX>336</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>SingleQuote.SBQQ__ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.SBQQ__ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.SBQQ__ShippingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.SBQQ__ShippingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.SBQQ__ShippingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.SBQQ__ShippingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.SBQQ__BillingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.SBQQ__BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.SBQQ__BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.SBQQ__BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.SBQQ__BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.SBQQ__BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopingOverTheQuotes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MultipleQuotes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleQuote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopingOverTheQuotes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountLocationNullCheck</name>
        <label>AccountLocationNullCheck</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>CheckingForShippingAddressChanges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingLatitude</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingLongitude</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountLocation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Exist_Check</targetReference>
            </connector>
            <label>Address Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Bypass_Flow</name>
        <label>Check Bypass Flow</label>
        <locationX>220</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Custom_MetaData</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Bypass Flow</defaultConnectorLabel>
        <rules>
            <name>Is_Bypass_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Bypass Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckingForShippingAddressChanges</name>
        <label>CheckingForShippingAddressChanges</label>
        <locationX>380</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipping_address_is_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShippingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCity</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingPostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingState</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingStreet</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Records</targetReference>
            </connector>
            <label>Shipping address is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISMetaData</name>
        <label>ISMetaData</label>
        <locationX>567</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISMetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountLocationNullCheck</targetReference>
            </connector>
            <label>ISMetaDataTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Exist_Check</name>
        <label>Location Exist Check</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountLocation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Create</targetReference>
            </connector>
            <label>Location Not Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LocationName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}+&apos; Location&apos;</expression>
    </formulas>
    <interviewLabel>Account Location Tag Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Location Tag Flow</label>
    <loops>
        <name>loopingOverTheQuotes</name>
        <label>loopingOverTheQuotes</label>
        <locationX>248</locationX>
        <locationY>1463</locationY>
        <collectionReference>Get_Related_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssingAddressValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatingQuoteRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Location_Create</name>
        <label>Location Create</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>$Record.BillingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>$Record.BillingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LocationName</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>567</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ISMetaData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Records</name>
        <label>Get Related Records</label>
        <locationX>248</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopingOverTheQuotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>CheckingForShippingAddressChanges</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountLocation__c</field>
            <value>
                <elementReference>Location_Create</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Location</name>
        <label>Update Location</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CheckingForShippingAddressChanges</targetReference>
        </connector>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>$Record.ShippingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>$Record.ShippingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.AccountLocation__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatingQuoteRecords</name>
        <label>UpdatingQuoteRecords</label>
        <locationX>248</locationX>
        <locationY>1763</locationY>
        <inputReference>MultipleQuotes</inputReference>
    </recordUpdates>
    <start>
        <locationX>94</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Bypass_Flow</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MultipleQuotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>SingleQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
