force-app/main/default/flows/Action_plan_automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_4</name>
        <label>Decision 4</label>
        <locationX>1810</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Relationship_Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relationship Building</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_getmetadata</targetReference>
            </connector>
            <label>Relationship Building</label>
        </rules>
        <rules>
            <name>New_opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New opportunities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_getmetadata</targetReference>
            </connector>
            <label>New opportunities</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActive</name>
        <label>IsActive</label>
        <locationX>1832</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsActiveIsmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lead_or_opportunity</targetReference>
            </connector>
            <label>IsActiveIsmetaDataTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>lead_or_opportunity</name>
        <label>lead or opportunity</label>
        <locationX>1150</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lead_Visit_type</targetReference>
            </connector>
            <label>Is lead</label>
        </rules>
        <rules>
            <name>is_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Visit_type</targetReference>
            </connector>
            <label>is opportunity</label>
        </rules>
        <rules>
            <name>Is_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_4</targetReference>
            </connector>
            <label>Is account</label>
        </rules>
    </decisions>
    <decisions>
        <name>lead_Visit_type</name>
        <label>lead Visit type</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Follow_up_on_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow-up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_getmetadata</targetReference>
            </connector>
            <label>Follow-up on Lead</label>
        </rules>
        <rules>
            <name>Pre_site_inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-site inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_getmetadata</targetReference>
            </connector>
            <label>Pre-site inspection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Visit_type</name>
        <label>Opportunity Visit type</label>
        <locationX>930</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercial_Negotiation_Self</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Negotiation - Self</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_metadata</targetReference>
            </connector>
            <label>Commercial Negotiation - Self</label>
        </rules>
        <rules>
            <name>Technical_Negotiation_Self</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Negotiation – Self</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_metadata</targetReference>
            </connector>
            <label>Technical Negotiation – Self</label>
        </rules>
        <rules>
            <name>Commercial_Negotiation_Along_with_IFB_s_Senior_resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Negotiation – Along with IFB’s Senior resource</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_metadata</targetReference>
            </connector>
            <label>Commercial Negotiation – Along with IFB’s Senior resource</label>
        </rules>
        <rules>
            <name>Technical_Negotiation_Along_with_IFB_s_Senior_resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Negotiation - Along with IFB’s Senior resource</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_metadata</targetReference>
            </connector>
            <label>Technical Negotiation - Along with IFB’s Senior resource</label>
        </rules>
        <rules>
            <name>Opportunity_Pre_Site_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-site inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_metadata</targetReference>
            </connector>
            <label>Pre-Site Inspection</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Action plan automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action plan automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_6_of_Copy_1_of_Create_New_Customer_Action_Plan</name>
        <label>Copy 1 of Copy 6 of Copy 1 of Create  New Customer Action Plan</label>
        <locationX>930</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>ActionPlanState</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>Opportunity_metadata.opportunity_action_plan_template_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Retail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUsingHolidayHours</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Visit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.PlannedVisitStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Copy_6_of_Copy_1_of_Create_New_Customer_Action_Plan</name>
        <label>Copy 2 of Copy 6 of Copy 1 of Create  New Customer Action Plan</label>
        <locationX>1810</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>ActionPlanState</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>Order_getmetadata.Account_Action_plan_version_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Retail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUsingHolidayHours</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Visit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.PlannedVisitStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_6_of_Copy_1_of_Create_New_Customer_Action_Plan</name>
        <label>Copy 6 of Copy 1 of Create  New Customer Action Plan</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>ActionPlanState</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>Copy_1_of_getmetadata.Lead_Action_plan_version_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Retail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUsingHolidayHours</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Visit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.PlannedVisitStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_getmetadata</name>
        <label>Copy 1 of getmetadata</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_6_of_Copy_1_of_Create_New_Customer_Action_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Visit_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>visit_action_plan__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>1832</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_metadata</name>
        <label>Opportunity metadata</label>
        <locationX>930</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_6_of_Copy_1_of_Create_New_Customer_Action_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Visit_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>visit_action_plan__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_getmetadata</name>
        <label>Order  getmetadata</label>
        <locationX>1810</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Copy_6_of_Copy_1_of_Create_New_Customer_Action_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Visit_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>visit_action_plan__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1706</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <object>Visit</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>templateVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
