force-app/main/default/flows/Add_Installment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_File_to_Azure</name>
        <label>Send File to Azure</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <actionName>AzureFileUploadInvoker</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentLinkId</name>
            <value>
                <elementReference>contentDocLinkIdList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AzureFileUploadInvoker</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collation_variable</name>
        <label>Add to collation variable</label>
        <locationX>264</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varContectDocRecForUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Content_Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Content_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_content_doc_link</name>
        <label>assign content doc link</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varContentDocLinkRec.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Transaction_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContentDocLinkRec.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Order_Installment_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Transaction_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_doc_link_Id_to_list</name>
        <label>Assign Content doc link Id to list</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>contentDocLinkIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContentDocLinkRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_File_to_Azure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_File_Name_Rec</name>
        <label>Update File Name Rec</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Content_Document.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionProofFileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collation_variable</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>typePicklIst</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Order_Installment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fileNames</name>
        <dataType>String</dataType>
        <expression>if(LEN({!Transaction_Proof.contentDocIds})&gt;2,  &quot;Uploaded File- &quot;+{!Transaction_Proof.fileNames}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>isFileUploaded</name>
        <dataType>Boolean</dataType>
        <expression>if(LEN({!Transaction_Proof.contentDocIds})&gt;2,True,False)</expression>
    </formulas>
    <formulas>
        <name>transactionProofFileName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Type}, &quot; &quot;, &quot;_&quot;) &amp; &quot;_&quot; &amp; SUBSTITUTE({!Loop_on_Content_Document.Title}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <interviewLabel>Add Installment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Installment Flow</label>
    <loops>
        <name>Loop_on_Content_Document</name>
        <label>Loop on Content Document</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>get_content_documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_File_Name_Rec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Content_Document</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Transaction_Id</name>
        <label>Loop on content doc Ids</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Transaction_Proof.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_content_doc_link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_File_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_File_Record</name>
        <label>Create File link Record</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>get_content_documents</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <inputReference>varContentDocLinkRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Installment_Record</name>
        <label>Create Order Installment Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Loop_on_Transaction_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manually_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Id__c</field>
            <value>
                <elementReference>Transaction_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Installment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_content_documents</name>
        <label>get content documents</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Content_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Transaction_Proof.contentDocIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Content_Document</name>
        <label>Update Content Document</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Assign_Content_doc_link_Id_to_list</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <inputReference>varContectDocRecForUpdateList</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Installment</name>
        <label>Add Installment</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Order_Installment_Record</targetReference>
        </connector>
        <fields>
            <name>Add_Installment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Installment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type</name>
                    <choiceReferences>typePicklIst</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Transaction_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Transaction Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Installment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Transaction_Proof</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg, .png, .pdf, .doc, .txt</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Transaction Proof</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(211, 11, 11);&quot;&gt;Please upload transaction proof.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!isFileUploaded}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>displayFileName</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 20, 234);&quot;&gt;{!fileNames}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>968</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;﻿{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Installment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentDocLinkIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfIdToProcess</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContectDocRecForUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>varContentDocLinkRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
