force-app/main/default/flows/Configure_CPQ_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Compare_and_Create_Quote_Line_Item</name>
        <label>Compare and Create Quote Line Item</label>
        <locationX>710</locationX>
        <locationY>1322</locationY>
        <actionName>ConfigureQuote</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>redirect</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>Get_CPQ_Quote.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConfigureQuote</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_NewQuoteConfigure</name>
        <label>Copy 2 of NewQuoteConfigure</label>
        <locationX>578</locationX>
        <locationY>2462</locationY>
        <actionName>ConfigureQuote</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_2_of_RedirectToEditLines_Action_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CostEditable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CurrencyISO</name>
            <value>
                <elementReference>getaccountId.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DeveloperName</name>
            <value>
                <elementReference>RecordTypeNAme</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConfigureQuote</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>OutputRecordId</assignToReference>
            <name>quoteId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_RedirectToEditLines_Action_1</name>
        <label>Copy 2 of RedirectToEditLines Action 1</label>
        <locationX>578</locationX>
        <locationY>2570</locationY>
        <actionName>c:RedirectToEditLines</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Copy_2_of_Update_Opportunity_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OutputRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RedirectToEditLines</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NewQuoteConfigure</name>
        <label>NewQuoteConfigure</label>
        <locationX>1106</locationX>
        <locationY>1946</locationY>
        <actionName>ConfigureQuote</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RedirectToEditLines_Action_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CurrencyISO</name>
            <value>
                <elementReference>getaccountId.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DeveloperName</name>
            <value>
                <elementReference>RecordTypeNAme</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConfigureQuote</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>OutputRecordId</assignToReference>
            <name>quoteId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>redirect</name>
        <label>redirect</label>
        <locationX>710</locationX>
        <locationY>1430</locationY>
        <actionName>c:RedirectToEditLines</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_CPQ_Quote.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RedirectToEditLines</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectToEditLines_Action_1</name>
        <label>RedirectToEditLines Action 1</label>
        <locationX>1106</locationX>
        <locationY>2054</locationY>
        <actionName>c:RedirectToEditLines</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OutputRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RedirectToEditLines</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignment</name>
        <label>assignment</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Quoterecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CPQ_Quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cloned_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_7</name>
        <label>Assignment 7</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_CPQ_Quote.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CPQ_Quote.commercial_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CPQ_Quote.SBQQ__ExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateIncreasedto30</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_Gem_Recordtype_Name</name>
        <label>Copy 1 of Copy 1 of Copy 2 of Gem Recordtype Name</label>
        <locationX>1106</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeNAme</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewQuoteConfigure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Gem_Recordtype_Name</name>
        <label>Copy 1 of Copy 2 of Gem Recordtype Name</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeNAme</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BOQ_specified</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_NewQuoteConfigure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Gem_Recordtype_Name</name>
        <label>Copy 2 of Gem Recordtype Name</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeNAme</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rate_Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_NewQuoteConfigure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Copy_1_of_Copy_2_of_Gem_Recordtype_Name</name>
        <label>Copy 3 of Copy 1 of Copy 2 of Gem Recordtype Name</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeNAme</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exports</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_NewQuoteConfigure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gem_Recordtype_Name</name>
        <label>Gem Recordtype Name</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeNAme</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GeM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_NewQuoteConfigure</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BOQspecified</name>
        <choiceText>BOQ specified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BOQ_specified</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exports</name>
        <choiceText>Exports</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exports</stringValue>
        </value>
    </choices>
    <choices>
        <name>GeM</name>
        <choiceText>GeM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GeM</stringValue>
        </value>
    </choices>
    <choices>
        <name>RateContract</name>
        <choiceText>Rate Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rate_Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>URSSpecified</name>
        <choiceText>URS Specified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>URS_Specified</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Quote_Exipred_or_not</name>
        <label>Check Quote Exipred or not</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Compare_and_Create_Quote_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Not Expired</defaultConnectorLabel>
        <rules>
            <name>If_Expired_AND_Not_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quoteIsExpired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CPQ_Quote.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Invalid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_7</targetReference>
            </connector>
            <label>If Expired AND Not Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGeM_Account</name>
        <label>IsGeM Account</label>
        <locationX>578</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_Gem_Recordtype_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISGEM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordtype.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GEM_Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecordtype.Rate_Contracted__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getaccountId.BOQ_URS_Approved__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gem_Recordtype_Name</targetReference>
            </connector>
            <label>ISGEM</label>
        </rules>
        <rules>
            <name>iscontracted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordtype.Rate_Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Gem_Recordtype_Name</targetReference>
            </connector>
            <label>iscontracted</label>
        </rules>
        <rules>
            <name>boq_Urs_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getaccountId.BOQ_URS_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecordtype.Rate_Contracted__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Gem_Recordtype_Name</targetReference>
            </connector>
            <label>boq Urs Specified</label>
        </rules>
        <rules>
            <name>isExport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordtype.BillingCountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Copy_2_of_Gem_Recordtype_Name</targetReference>
            </connector>
            <label>isExport</label>
        </rules>
    </decisions>
    <decisions>
        <name>Path_Devide</name>
        <label>Path Devide</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>If Quote Exist default</defaultConnectorLabel>
        <rules>
            <name>If_Quote_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPQ_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsGeM_Account</targetReference>
            </connector>
            <label>If Quote Not Exist</label>
        </rules>
        <rules>
            <name>If_Quote_Exist_but_invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPQ_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CPQ_Quote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invalid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>If Quote Exist but invalid</label>
        </rules>
        <rules>
            <name>If_Quote_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPQ_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CPQ_Quote.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Invalid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_Exipred_or_not</targetReference>
            </connector>
            <label>If Quote Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateIncreasedto30</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <name>quoteIsExpired</name>
        <dataType>Boolean</dataType>
        <expression>IF(TODAY() &gt;= {!Get_CPQ_Quote.SBQQ__ExpirationDate__c} , true , false)</expression>
    </formulas>
    <interviewLabel>Configure CPQ Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Configure CPQ Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cloned_Quote</name>
        <label>Cloned Quote</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Compare_and_Create_Quote_Line_Item</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <inputReference>Get_CPQ_Quote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>accountRecordtype</name>
        <label>accountRecordtype</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Path_Devide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getaccountId.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPQ_Quote</name>
        <label>Get CPQ Quote</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getaccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getaccountId</name>
        <label>getaccountId</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>accountRecordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Update_Opportunity_Stage</name>
        <label>Copy 2 of Update Opportunity Stage</label>
        <locationX>578</locationX>
        <locationY>2678</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrentValidationTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal/Price Quote</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Stage</name>
        <label>Update Opportunity Stage</label>
        <locationX>1106</locationX>
        <locationY>2162</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrentValidationTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal/Price Quote</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsGeM_Account</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 5, 5);&quot;&gt;Existing Quote is Invalid Ask you Admin or Click on Create Quote &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Quote</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>flowErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(202, 3, 3);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CPQ_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OutputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Quoterecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeNAme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
