force-app/main/default/flows/Create_Expense_from_Visit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Copy_1_of_navigateToExpenseRecord</name>
        <label>Copy 1 of navigateToExpenseRecord</label>
        <locationX>314</locationX>
        <locationY>6728</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>VariableExpenseRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Upload_File_To_Azure</name>
        <label>Copy 1 of Upload File To Azure</label>
        <locationX>50</locationX>
        <locationY>6428</locationY>
        <actionName>AzureFileUploadInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Show_Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentLinkId</name>
            <value>
                <elementReference>contentDocLinkIdList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AzureFileUploadInvoker</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>navigateToExistingRecord</name>
        <label>navigateToExistingRecord</label>
        <locationX>2602</locationX>
        <locationY>566</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Existing_Expense_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>navigateToExpenseRecord</name>
        <label>navigateToExpenseRecord</label>
        <locationX>1810</locationX>
        <locationY>4880</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>VariableExpenseRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Upload_File_To_Azure</name>
        <label>Upload File To Azure</label>
        <locationX>1546</locationX>
        <locationY>4580</locationY>
        <actionName>AzureFileUploadInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentLinkId</name>
            <value>
                <elementReference>contentDocLinkIdList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AzureFileUploadInvoker</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_content_doc_for_update</name>
        <label>Assign content doc for update</label>
        <locationX>1634</locationX>
        <locationY>3980</locationY>
        <assignmentItems>
            <assignToReference>contentDocListForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Content_Doc_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Content_Doc_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_Version_ID</name>
        <label>Assign Content Version ID</label>
        <locationX>2162</locationX>
        <locationY>1640</locationY>
        <assignmentItems>
            <assignToReference>LineContentDocIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.linefileupload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_ContentDocIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ContentDocId_In_List</name>
        <label>Assign ContentDocId In List</label>
        <locationX>2074</locationX>
        <locationY>3056</locationY>
        <assignmentItems>
            <assignToReference>ContentDocIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_ExpenseLineItemList.ContentDocId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Content_Doc_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ContentId_to_record</name>
        <label>Assign ContentId to record</label>
        <locationX>2250</locationX>
        <locationY>1856</locationY>
        <assignmentItems>
            <assignToReference>contentIdToLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_ContentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_ContentDocIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Account</name>
        <label>Assign Current Account</label>
        <locationX>138</locationX>
        <locationY>1856</locationY>
        <assignmentItems>
            <assignToReference>ListSelectedAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Visit_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Number_of_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Expense_Id</name>
        <label>Assign Expense Id</label>
        <locationX>402</locationX>
        <locationY>2072</locationY>
        <assignmentItems>
            <assignToReference>VariableExpenseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Multiday_visit_Create_Expense_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Record_id_Of_expences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_to_List</name>
        <label>Assign ID to List</label>
        <locationX>1634</locationX>
        <locationY>4388</locationY>
        <assignmentItems>
            <assignToReference>contentDocLinkIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_content_doc_link_list.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_content_doc_link_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Null_To_ContentDocIDs</name>
        <label>Assign Null To ContentDocIDs</label>
        <locationX>2030</locationX>
        <locationY>2156</locationY>
        <assignmentItems>
            <assignToReference>contentIdToLink</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Air_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Accounts</name>
        <label>Assign Number of Accounts</label>
        <locationX>314</locationX>
        <locationY>2372</locationY>
        <assignmentItems>
            <assignToReference>CountSelectedAccount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListSelectedAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_On_Account_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_id_Of_expences</name>
        <label>Assign Record id Of expences</label>
        <locationX>666</locationX>
        <locationY>2804</locationY>
        <assignmentItems>
            <assignToReference>expeceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_2_of_Multiday_visit_Create_Expense_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_On_Account_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_selected_account</name>
        <label>assign selected account</label>
        <locationX>314</locationX>
        <locationY>1640</locationY>
        <assignmentItems>
            <assignToReference>ListSelectedAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLookUp.recordIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Current_Account_Id_in_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VisitId</name>
        <label>Assign VisitId</label>
        <locationX>182</locationX>
        <locationY>1340</locationY>
        <assignmentItems>
            <assignToReference>visitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Extra_Account_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_content_doc_for_update</name>
        <label>Copy 1 of Assign content doc for update</label>
        <locationX>138</locationX>
        <locationY>5828</locationY>
        <assignmentItems>
            <assignToReference>contentDocListForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_on_Content_Doc_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_on_Content_Doc_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Content_Version_ID</name>
        <label>Copy 1 of Assign Content Version ID</label>
        <locationX>1282</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>contentdocIdForCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_check_the_uplaoded_File.linefileupload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_ContentDocId_In_List</name>
        <label>Copy 1 of Assign ContentDocId In List</label>
        <locationX>578</locationX>
        <locationY>4904</locationY>
        <assignmentItems>
            <assignToReference>ContentDocIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_on_ExpenseLineItemList.ContentDocId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Content_Doc_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_ContentId_to_record</name>
        <label>Copy 1 of Assign ContentId to record</label>
        <locationX>1458</locationX>
        <locationY>3620</locationY>
        <assignmentItems>
            <assignToReference>contentIdToLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_on_ContentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_on_ContentDocIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Expense_Id</name>
        <label>Copy 1 of Assign Expense Id</label>
        <locationX>402</locationX>
        <locationY>2804</locationY>
        <assignmentItems>
            <assignToReference>VariableExpenseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Multiday_visit_Create_Expense_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Record_id_Of_expences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_ID_to_List</name>
        <label>Copy 1 of Assign ID to List</label>
        <locationX>138</locationX>
        <locationY>6236</locationY>
        <assignmentItems>
            <assignToReference>contentDocLinkIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_loop_on_content_doc_link_list.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_loop_on_content_doc_link_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Null_To_ContentDocIDs</name>
        <label>Copy 1 of Assign Null To ContentDocIDs</label>
        <locationX>1238</locationX>
        <locationY>3920</locationY>
        <assignmentItems>
            <assignToReference>contentIdToLink</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_Air_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Record_id_Of_expences</name>
        <label>Copy 1 of Assign Record id Of expences</label>
        <locationX>402</locationX>
        <locationY>2180</locationY>
        <assignmentItems>
            <assignToReference>expeceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Multiday_visit_Create_Expense_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Number_of_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Create_Expense_Line_Item_Instance</name>
        <label>Copy 1 of Copy 1 of Create Expense Line Item Instance</label>
        <locationX>1106</locationX>
        <locationY>4220</locationY>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_MultiVisit_Expences</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>testCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.expslineType.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.expslineType.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.ExpRemark</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Document_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.Document_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.ContentDocId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentIdToLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Distance_Travelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.Distance_Travelled_KM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Not_From_Travel_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExpenseLineItemRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Expense_line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Create_Expense_Line_Item_Instance</name>
        <label>Copy 1 of Copy 2 of Create Expense Line Item Instance</label>
        <locationX>1634</locationX>
        <locationY>4220</locationY>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_MultiVisit_Expences</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>testCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.expslineType.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.expslineType.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.ExpRemark</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Document_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.Document_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.ContentDocId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentIdToLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Distance_Travelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.Distance_Travelled_KM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Not_From_Travel_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExpenseLineItemRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Expense_line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_Content_Doc_Link</name>
        <label>Copy 1 of Create Content Doc Link</label>
        <locationX>578</locationX>
        <locationY>5012</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_on_ExpenseLineItemList.ContentDocId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_on_ExpenseLineItemList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_on_ExpenseLineItemList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_Expense_Line_Item_Instance</name>
        <label>Copy 1 of Create Expense Line Item Instance</label>
        <locationX>1898</locationX>
        <locationY>2456</locationY>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VariableExpenseRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.ExpenseAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.expslineType.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.expslineType.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.ExpRemark</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Document_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.Document_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.ContentDocId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentIdToLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Distance_Travelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.Distance_Travelled_KM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Not_From_Travel_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExpenseLineItemRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_All_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_File_Name</name>
        <label>Copy 1 of Update File Name</label>
        <locationX>138</locationX>
        <locationY>5720</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_Loop_on_Content_Doc_Records.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>copyOfUpdateFileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_content_doc_for_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Record_id_Of_expences</name>
        <label>Copy 2 of Assign Record id Of expences</label>
        <locationX>402</locationX>
        <locationY>2912</locationY>
        <assignmentItems>
            <assignToReference>expeceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Multiday_visit_Create_Expense_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_On_Account_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Create_Expense_Line_Item_Instance</name>
        <label>Copy 2 of Create Expense Line Item Instance</label>
        <locationX>2426</locationX>
        <locationY>2456</locationY>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VariableExpenseRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.ExpenseAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.expslineType.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.expslineType.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.ExpRemark</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Document_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.Document_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.ContentDocId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentIdToLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Distance_Travelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.Distance_Travelled_KM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Not_From_Travel_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExpenseLineItemRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_All_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Create_Expense_Line_Item_Instance</name>
        <label>Copy 3 of Create Expense Line Item Instance</label>
        <locationX>1370</locationX>
        <locationY>4220</locationY>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_MultiVisit_Expences</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>testCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.expslineType.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.expslineType.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.ExpRemark</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Document_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.Document_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.ContentDocId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentIdToLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Distance_Travelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.Distance_Travelled_KM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Not_From_Travel_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.Not_Booked_From_Travel_System</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExpenseLineItemRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Expense_line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Content_Doc_Link</name>
        <label>Create Content Doc Link</label>
        <locationX>2074</locationX>
        <locationY>3164</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_ExpenseLineItemList.ContentDocId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_ExpenseLineItemList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_ExpenseLineItemList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Expense_Line_Item_Instance</name>
        <label>Create Expense Line Item Instance</label>
        <locationX>2162</locationX>
        <locationY>2456</locationY>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VariableExpenseRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.ExpenseAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.expslineType.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.expslineType.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.ExpRemark</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Document_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.Document_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.ContentDocId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentIdToLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Distance_Travelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.Distance_Travelled_KM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Not_From_Travel_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.Not_Booked_From_Travel_System</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExpenseLineItemRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_All_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Lead_Count</name>
        <label>Increase Lead Count</label>
        <locationX>402</locationX>
        <locationY>1856</locationY>
        <assignmentItems>
            <assignToReference>leadCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Multiday_visit_Create_Expense_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Multi_Assign_Content_Version_ID</name>
        <label>Multi Assign Content Version ID</label>
        <locationX>1370</locationX>
        <locationY>3404</locationY>
        <assignmentItems>
            <assignToReference>LineContentDocIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.linefileupload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalculatedAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Expense_line_Items.ExpenseAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_on_ContentDocIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_File_Name</name>
        <label>Update File Name</label>
        <locationX>1634</locationX>
        <locationY>3872</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Content_Doc_Records.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedFileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_content_doc_for_update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TravelexpenseSubTypeMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please fill sub type in case of Travel Expense</stringValue>
        </value>
    </constants>
    <decisions>
        <name>chech_if_the_Visit_is_Multiday_Visit</name>
        <label>chech if the Visit is Multiday Visit</label>
        <locationX>1062</locationX>
        <locationY>1124</locationY>
        <defaultConnector>
            <targetReference>idvaraible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Multiple_day_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMultidays</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Expense_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out Station</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_recordId_and_Visit_Id</targetReference>
            </connector>
            <label>Yes Multiple day Visit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check</name>
        <label>Check fi content doc id is blank and Travel Sub Type</label>
        <locationX>1282</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_to_check_the_uplaoded_File</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15)</conditionLogic>
            <conditions>
                <leftValueReference>contentdocIdForCheck</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Train</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bus - Local</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bus - Intercity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Ticket</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ferry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cab - Ola/Uber/Rapido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cab - Office Hire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cab</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 Wheeler - Shared service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Metro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local Train</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Toll Charges</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accommodation Expense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_check_the_uplaoded_File.expslineType.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miscellaneous Expense</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_Fault_Error_Message</targetReference>
            </connector>
            <label>Outcome 1 of Check fi content doc id is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Air_Ticket</name>
        <label>Check Air Ticket</label>
        <locationX>2162</locationX>
        <locationY>2348</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Create_Expense_Line_Item_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Air_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_All_Items.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Ticket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Expense_Line_Item_Instance</targetReference>
            </connector>
            <label>Is Air Ticket</label>
        </rules>
        <rules>
            <name>is_Accomodations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_All_Items.expslineType.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accommodation Expense</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Expense_Line_Item_Instance</targetReference>
            </connector>
            <label>is Accomodations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Content_Doc_IDs</name>
        <label>Check Content Doc IDs</label>
        <locationX>1810</locationX>
        <locationY>3440</locationY>
        <defaultConnector>
            <targetReference>Show_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ConDocId_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentDocumentLinkList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Content_Doc_Link_Records</targetReference>
            </connector>
            <label>ConDocId is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Content_Document_Id</name>
        <label>Check Content Document Id</label>
        <locationX>1986</locationX>
        <locationY>2948</locationY>
        <defaultConnector>
            <targetReference>Assign_ContentDocId_In_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_ExpenseLineItemList.ContentDocId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_ExpenseLineItemList</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_Account_Id_in_Collection</name>
        <label>Check Current Account Id in Collection</label>
        <locationX>314</locationX>
        <locationY>1748</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListSelectedAccount</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Visit_Record.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Number_of_Accounts</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
        <rules>
            <name>notExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Account</targetReference>
            </connector>
            <label>notExist</label>
        </rules>
        <rules>
            <name>Visit_From_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Record.Visit_From__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Visit_Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Visit_Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Lead_Count</targetReference>
            </connector>
            <label>Visit From Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Expense_already_present_or_not</name>
        <label>Check if Expense already present or not?</label>
        <locationX>1832</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ShowError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Show Error Message</defaultConnectorLabel>
        <rules>
            <name>Create_New_Expense_Record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Expense_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Expense_Record.Resubmission_Allowed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Expense_m</targetReference>
            </connector>
            <label>Create New Expense Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_LineContentDocID_is_Null</name>
        <label>Check If LineContentDocID is Null</label>
        <locationX>2162</locationX>
        <locationY>2048</locationY>
        <defaultConnector>
            <targetReference>Check_Air_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNullLineConDocID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineContentDocIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Null_To_ContentDocIDs</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_recordId_and_Visit_Id</name>
        <label>Check recordId and Visit Id</label>
        <locationX>314</locationX>
        <locationY>1232</locationY>
        <defaultConnector>
            <targetReference>Add_Extra_Account_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visit_ID_is_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>visitId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>visitId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>visitId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_VisitId</targetReference>
            </connector>
            <label>Visit ID is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Visit_Account</name>
        <label>Check Visit Account</label>
        <locationX>534</locationX>
        <locationY>2588</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Multiday_visit_Create_Expense_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visit_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_On_Account_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Visit_Record.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Visit_Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Multiday_visit_Create_Expense_Record</targetReference>
            </connector>
            <label>Visit Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Air_Ticket</name>
        <label>Copy 1 of Check Air Ticket</label>
        <locationX>1370</locationX>
        <locationY>4112</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_2_of_Create_Expense_Line_Item_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Is_Air_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Expense_line_Items.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Ticket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Create_Expense_Line_Item_Instance</targetReference>
            </connector>
            <label>Copy 1 of Is Air Ticket</label>
        </rules>
        <rules>
            <name>Copy_1_of_is_Accomodations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Expense_line_Items.expslineType.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accommodation Expense</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Create_Expense_Line_Item_Instance</targetReference>
            </connector>
            <label>Copy 1 of is Accomodations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Content_Doc_IDs</name>
        <label>Copy 1 of Check Content Doc IDs</label>
        <locationX>314</locationX>
        <locationY>5288</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Show_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_ConDocId_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentDocumentLinkList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Content_Doc_Link_Records</targetReference>
            </connector>
            <label>Copy 1 of ConDocId is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Content_Document_Id</name>
        <label>Copy 1 of Check Content Document Id</label>
        <locationX>490</locationX>
        <locationY>4796</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_ContentDocId_In_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Loop_on_ExpenseLineItemList.ContentDocId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Loop_on_ExpenseLineItemList</targetReference>
            </connector>
            <label>Copy 2 of IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_If_LineContentDocID_is_Null</name>
        <label>Copy 1 of Check If LineContentDocID is Null</label>
        <locationX>1370</locationX>
        <locationY>3812</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Air_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineContentDocIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Null_To_ContentDocIDs</targetReference>
            </connector>
            <label>Copy 1 of IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>idvaraible</name>
        <label>idvaraible</label>
        <locationX>1810</locationX>
        <locationY>1232</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isvisitid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>visitId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Expense_Record</targetReference>
            </connector>
            <label>isvisitid</label>
        </rules>
        <rules>
            <name>isRecordid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Expense_Record</targetReference>
            </connector>
            <label>isRecordid</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AdvanceReceivedPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Advance_Received__c</picklistField>
        <picklistObject>Expense__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExpenseLineType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Expense_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExpenseTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Expense__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Type__c</picklistField>
        <picklistObject>Expense_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>copyOfUpdateFileName</name>
        <dataType>String</dataType>
        <expression>&quot;Bill_&quot; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT(NOW()), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;:&quot;, &quot;&quot;), &quot;Z&quot;, &quot;&quot;) &amp; &quot;_&quot; &amp; SUBSTITUTE({!Copy_1_of_Loop_on_Content_Doc_Records.Title}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <formulas>
        <name>errorMessageOnTopPageFormula</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!errorMessageOnTop})&gt;0 , {!errorMessageOnTop}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>isDurationToDateGratherThanFromDate</name>
        <dataType>Boolean</dataType>
        <expression>{!Duration_To} &gt;= {!Duration_From}</expression>
    </formulas>
    <formulas>
        <name>IsMultidays</name>
        <dataType>Boolean</dataType>
        <expression>({!Duration_To}-{!Duration_From})&gt;=1</expression>
    </formulas>
    <formulas>
        <name>SubTypeErrorMessageCheck</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Expense_Type}, &apos;Travel Expense&apos;), &apos;* Please select sub type for travel expense.&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>testCalculation</name>
        <dataType>Number</dataType>
        <expression>{!CalculatedAmount}/({!CountSelectedAccount}+{!leadCount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>updatedFileName</name>
        <dataType>String</dataType>
        <expression>&quot;Bill_&quot; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT(NOW()), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;:&quot;, &quot;&quot;), &quot;Z&quot;, &quot;&quot;) &amp; &quot;_&quot; &amp; SUBSTITUTE({!Loop_on_Content_Doc_Records.Title}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <interviewLabel>Create Expense from Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Expense from Visit</label>
    <loops>
        <name>Copy_1_of_loop_on_content_doc_link_list</name>
        <label>Copy 1 of loop on content doc link list</label>
        <locationX>50</locationX>
        <locationY>6128</locationY>
        <collectionReference>ContentDocumentLinkList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_ID_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Upload_File_To_Azure</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Loop_on_Content_Doc_Records</name>
        <label>Copy 1 of Loop on Content Doc Records</label>
        <locationX>50</locationX>
        <locationY>5612</locationY>
        <collectionReference>Copy_1_of_Get_Content_Doc_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Update_File_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Content_Doc_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Loop_on_ContentDocIds</name>
        <label>Copy 1 of Loop on ContentDocIds</label>
        <locationX>1370</locationX>
        <locationY>3512</locationY>
        <collectionReference>LineContentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_ContentId_to_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Check_If_LineContentDocID_is_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Loop_on_ExpenseLineItemList</name>
        <label>Copy 1 of Loop on ExpenseLineItemList</label>
        <locationX>314</locationX>
        <locationY>4688</locationY>
        <collectionReference>ExpenseLineItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Check_Content_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Check_Content_Doc_IDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_On_Account_Records</name>
        <label>loop On Account Records</label>
        <locationX>314</locationX>
        <locationY>2480</locationY>
        <collectionReference>ListSelectedAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Visit_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_on_MultiVisit_Expences</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_All_Items</name>
        <label>Loop On All Items</label>
        <locationX>1810</locationX>
        <locationY>1532</locationY>
        <collectionReference>LineItems.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_Version_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Expense_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_content_doc_link_list</name>
        <label>loop on content doc link list</label>
        <locationX>1546</locationX>
        <locationY>4280</locationY>
        <collectionReference>ContentDocumentLinkList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ID_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Upload_File_To_Azure</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Content_Doc_Records</name>
        <label>Loop on Content Doc Records</label>
        <locationX>1546</locationX>
        <locationY>3764</locationY>
        <collectionReference>Get_Content_Doc_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_File_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Content_Doc_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_ContentDocIds</name>
        <label>Loop on ContentDocIds</label>
        <locationX>2162</locationX>
        <locationY>1748</locationY>
        <collectionReference>LineContentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ContentId_to_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_LineContentDocID_is_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Expense_line_Items</name>
        <label>Loop On Expense line  Items</label>
        <locationX>1018</locationX>
        <locationY>3296</locationY>
        <collectionReference>LineItems.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Multi_Assign_Content_Version_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_on_MultiVisit_Expences</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_ExpenseLineItemList</name>
        <label>Loop on ExpenseLineItemList</label>
        <locationX>1810</locationX>
        <locationY>2840</locationY>
        <collectionReference>ExpenseLineItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Content_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Content_Doc_IDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_MultiVisit_Expences</name>
        <label>loop on  MultiVisit Expences</label>
        <locationX>314</locationX>
        <locationY>3188</locationY>
        <collectionReference>expeceIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_On_Expense_line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Create_Expense_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_check_the_uplaoded_File</name>
        <label>Loop to check the uplaoded File</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <collectionReference>LineItems.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Content_Version_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>chech_if_the_Visit_is_Multiday_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Content_Doc_Link_Records</name>
        <label>Copy 1 of Create Content Doc Link Records</label>
        <locationX>50</locationX>
        <locationY>5396</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Content_Doc_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Fault_Error_Message</targetReference>
        </faultConnector>
        <inputReference>ContentDocumentLinkList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Expense_Line_Item</name>
        <label>Copy 1 of Create Expense Line Item</label>
        <locationX>314</locationX>
        <locationY>4580</locationY>
        <connector>
            <targetReference>Copy_1_of_Loop_on_ExpenseLineItemList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Rollback_all_changes</targetReference>
        </faultConnector>
        <inputReference>ExpenseLineItemList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Expense_Record</name>
        <label>Copy 1 of Create Expense Record</label>
        <locationX>1810</locationX>
        <locationY>1340</locationY>
        <assignRecordIdToReference>VariableExpenseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_On_All_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Visit_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Amount__c</field>
            <value>
                <elementReference>Advance_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Received__c</field>
            <value>
                <elementReference>Advance_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_From__c</field>
            <value>
                <elementReference>Duration_From</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_To__c</field>
            <value>
                <elementReference>Duration_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Get_Visit_Record.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Expense_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Multiday_visit_Create_Expense_Record</name>
        <label>Copy 1 of Multiday visit Create Expense Record</label>
        <locationX>402</locationX>
        <locationY>1964</locationY>
        <connector>
            <targetReference>Assign_Expense_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Advance_Amount__c</field>
            <value>
                <elementReference>Advance_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Received__c</field>
            <value>
                <elementReference>Advance_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_From__c</field>
            <value>
                <elementReference>Duration_From</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_To__c</field>
            <value>
                <elementReference>Duration_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Get_Visit_Record.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Expense__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Expense_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit__c</field>
            <value>
                <elementReference>visitId</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Multiday_visit_Create_Expense_Record</name>
        <label>Copy 2 of Multiday visit Create Expense Record</label>
        <locationX>666</locationX>
        <locationY>2696</locationY>
        <connector>
            <targetReference>Assign_Record_id_Of_expences</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>loop_On_Account_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Amount__c</field>
            <value>
                <elementReference>Advance_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Received__c</field>
            <value>
                <elementReference>Advance_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_From__c</field>
            <value>
                <elementReference>Duration_From</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_To__c</field>
            <value>
                <elementReference>Duration_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Get_Visit_Record.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Expense_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit__c</field>
            <value>
                <elementReference>visitId</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Doc_Link_Records</name>
        <label>Create Content Doc Link Records</label>
        <locationX>1546</locationX>
        <locationY>3548</locationY>
        <connector>
            <targetReference>Get_Content_Doc_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Fault_Error_Message</targetReference>
        </faultConnector>
        <inputReference>ContentDocumentLinkList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Expense_Line_Item</name>
        <label>Create Expense Line Item</label>
        <locationX>1810</locationX>
        <locationY>2732</locationY>
        <connector>
            <targetReference>Loop_on_ExpenseLineItemList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_all_changes</targetReference>
        </faultConnector>
        <inputReference>ExpenseLineItemList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Expense_Record</name>
        <label>Create Expense Record</label>
        <locationX>1546</locationX>
        <locationY>1340</locationY>
        <assignRecordIdToReference>VariableExpenseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_On_All_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Visit_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Amount__c</field>
            <value>
                <elementReference>Advance_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Received__c</field>
            <value>
                <elementReference>Advance_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_From__c</field>
            <value>
                <elementReference>Duration_From</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_To__c</field>
            <value>
                <elementReference>Duration_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Get_Visit_Record.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Expense_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit__c</field>
            <value>
                <elementReference>visitId</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
    </recordCreates>
    <recordCreates>
        <name>Multiday_visit_Create_Expense_Record</name>
        <label>Multiday visit Create Expense Record</label>
        <locationX>402</locationX>
        <locationY>2696</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_Expense_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>loop_On_Account_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Amount__c</field>
            <value>
                <elementReference>Advance_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Received__c</field>
            <value>
                <elementReference>Advance_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_From__c</field>
            <value>
                <elementReference>Duration_From</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_To__c</field>
            <value>
                <elementReference>Duration_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Get_Visit_Record.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Expense__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Expense_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit__c</field>
            <value>
                <elementReference>visitId</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Content_Doc_Records</name>
        <label>Copy 1 of Get Content Doc Records</label>
        <locationX>50</locationX>
        <locationY>5504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_on_Content_Doc_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Doc_Records</name>
        <label>Get Content Doc Records</label>
        <locationX>1546</locationX>
        <locationY>3656</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Content_Doc_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Expense_Record</name>
        <label>Get Existing Expense Record</label>
        <locationX>1832</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Expense_already_present_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visit_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Visit_Record</name>
        <label>Get Visit Record</label>
        <locationX>1832</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Expense_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>visitId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Copy_1_of_Copy_1_of_Rollback_all_changes</name>
        <label>Copy 1 of Copy 1 of Rollback all changes</label>
        <locationX>314</locationX>
        <locationY>5612</locationY>
    </recordRollbacks>
    <recordRollbacks>
        <name>Copy_1_of_Rollback_all_changes</name>
        <label>Copy 1 of Rollback all changes</label>
        <locationX>1810</locationX>
        <locationY>3764</locationY>
    </recordRollbacks>
    <recordRollbacks>
        <name>Copy_2_of_Rollback_all_changes</name>
        <label>Copy 2 of Rollback all changes</label>
        <locationX>930</locationX>
        <locationY>4688</locationY>
        <connector>
            <targetReference>Copy_2_of_Fault_Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Rollback_all_changes</name>
        <label>Rollback all changes</label>
        <locationX>2338</locationX>
        <locationY>2840</locationY>
        <connector>
            <targetReference>Fault_Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Copy_1_of_Update_Content_Doc_Records</name>
        <label>Copy 1 of Update Content Doc Records</label>
        <locationX>50</locationX>
        <locationY>6020</locationY>
        <connector>
            <targetReference>Copy_1_of_loop_on_content_doc_link_list</targetReference>
        </connector>
        <inputReference>contentDocListForUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Content_Doc_Records</name>
        <label>Update Content Doc Records</label>
        <locationX>1546</locationX>
        <locationY>4172</locationY>
        <connector>
            <targetReference>loop_on_content_doc_link_list</targetReference>
        </connector>
        <inputReference>contentDocListForUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Extra_Account_Screen</name>
        <label>Add Extra Account Screen</label>
        <locationX>314</locationX>
        <locationY>1532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_selected_account</targetReference>
        </connector>
        <fields>
            <name>massage_multidays</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Google Sans&amp;quot;; color: rgb(32, 33, 36);&quot;&gt;This is a multi-day visit. Please add accounts if the expenses are associated with multiple accounts.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AccountLookUp</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>50.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>ListSelectedAccount</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Fault_Error_Message</name>
        <label>Copy 1 of Copy 1 of Fault Error  Message</label>
        <locationX>314</locationX>
        <locationY>5504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Rollback_all_changes</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(211, 20, 20); background-color: rgb(255, 255, 255);&quot;&gt;There was an error uploading your file(s). Please go to the previous screen and upload the file(s) again.&lt;/span&gt;&lt;span style=&quot;color: rgb(199, 25, 25); background-color: rgb(255, 255, 255);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Fault_Error_Message</name>
        <label>Copy 1 of Fault Error  Message</label>
        <locationX>1810</locationX>
        <locationY>3656</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Rollback_all_changes</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(211, 20, 20); background-color: rgb(255, 255, 255);&quot;&gt;There was an error uploading your file(s). Please go to the previous screen and upload the file(s) again.&lt;/span&gt;&lt;span style=&quot;color: rgb(199, 25, 25); background-color: rgb(255, 255, 255);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Show_Success</name>
        <label>Copy 1 of Show Success</label>
        <locationX>314</locationX>
        <locationY>6620</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_navigateToExpenseRecord</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(9, 186, 28);&quot;&gt;{!$Label.Success_Message_Log_Expense}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Fault_Error_Message</name>
        <label>Copy 2 of Fault Error  Message</label>
        <locationX>930</locationX>
        <locationY>4796</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(173, 22, 22);&quot;&gt;{!$Label.Error_Message_Log_Expense}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 33, 33); font-size: 10px;&quot;&gt;Please share following details with your admin - &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 33, 33); font-size: 10px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Error_Message</name>
        <label>Fault Error  Message</label>
        <locationX>2338</locationX>
        <locationY>2948</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(173, 22, 22);&quot;&gt;{!$Label.Error_Message_Log_Expense}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 33, 33); font-size: 10px;&quot;&gt;Please share following details with your admin - &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 33, 33); font-size: 10px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Log_Expense_m</name>
        <label>Log Expense</label>
        <locationX>1062</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_to_check_the_uplaoded_File</targetReference>
        </connector>
        <fields>
            <name>Log_Expense_m_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Log_Expense_m_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expense_Type</name>
                    <choiceReferences>ExpenseTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Local</stringValue>
                    </defaultValue>
                    <fieldText>Expense Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Duration_From</name>
                    <dataType>Date</dataType>
                    <fieldText>Duration From</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Expense_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Out Station</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Duration_To</name>
                    <dataType>Date</dataType>
                    <fieldText>Duration To</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 25, 25);&quot;&gt;Duration To date should be grater then Duration From date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!isDurationToDateGratherThanFromDate}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Expense_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Out Station</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Log_Expense_m_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Advance_Received</name>
                    <choiceReferences>AdvanceReceivedPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>No</stringValue>
                    </defaultValue>
                    <fieldText>Advance Received</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Advance_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Advance Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Advance_Received</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LineItems</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>expslineType</name>
                <extensionName>flowruntime:dependentPicklists</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>dependencyWrapperApiName</name>
                    <value>
                        <stringValue>Expense_Line_Item__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topPicklistApiName</name>
                    <value>
                        <stringValue>Type__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middlePicklistApiName</name>
                    <value>
                        <stringValue>Sub_Type__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topLabel</name>
                    <value>
                        <stringValue>Type</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topRequired</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middleLabel</name>
                    <value>
                        <stringValue>Sub Type</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middleRequired</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topValue</name>
                    <value>
                        <stringValue>Travel Expense	</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middleValue</name>
                    <value>
                        <stringValue>Cab</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Distance_Travelled_KM</name>
                <dataType>Number</dataType>
                <fieldText>Distance Travelled (KM)</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Please fill only when type is selected as Travel Expense.	&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>LineItems.AllItems[$EachItem].expslineType.topValue</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Travel Expense	</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>ExpenseAmount</name>
                <dataType>Currency</dataType>
                <fieldText>Expense Amount</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Document_Date</name>
                <dataType>Date</dataType>
                <fieldText>Document Date</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Date when relevant bill is generated.&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <validationRule>
                    <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(202, 21, 21);&quot;&gt;Document date can not be future date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                    <formulaExpression>{!LineItems.AllItems[$EachItem].Document_Date} &lt;= TODAY()</formulaExpression>
                </validationRule>
            </fields>
            <fields>
                <name>ExpRemark</name>
                <dataType>String</dataType>
                <fieldText>Remark</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Not_Booked_From_Travel_System</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <booleanValue>true</booleanValue>
                </defaultValue>
                <fieldText>Not Booked From Travel System</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>LineItems.AllItems[$EachItem].expslineType.topValue</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Accommodation Expense</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>linefileupload</name>
                <extensionName>forceContent:fileUpload</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Upload Bill</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>accept</name>
                    <value>
                        <stringValue>.jpg, .png, .pdf, .doc, .txt</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>multiple</name>
                    <value>
                        <booleanValue>false</booleanValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <validationRule>
                    <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 24, 24); background-color: rgb(255, 255, 255);&quot;&gt;Please upload the related bill.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                    <formulaExpression>IF(
OR(IF({!LineItems.AllItems[$EachItem].expslineType.middleValue}==&quot;TRAIN&quot;,TRUE,FALSE)),
IF(LEN({!LineItems.AllItems[$EachItem].linefileupload.contentDocIds})&gt; 2, TRUE, FALSE),
TRUE
)</formulaExpression>
                </validationRule>
            </fields>
            <fields>
                <name>displayLineFileName</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(47, 64, 195); background-color: rgb(255, 255, 255);&quot;&gt;{!LineItems.AllItems[$EachItem].linefileupload.fileNames}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Success</name>
        <label>Show Success</label>
        <locationX>1810</locationX>
        <locationY>4772</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>navigateToExpenseRecord</targetReference>
        </connector>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(9, 186, 28);&quot;&gt;{!$Label.Success_Message_Log_Expense}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowError</name>
        <label>Show Error</label>
        <locationX>2602</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>navigateToExistingRecord</targetReference>
        </connector>
        <fields>
            <name>showErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.Existing_Expense_Error_Message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Check Expense</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1706</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visit_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CalculatedAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>contentdocIdForCheck</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocLinkIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocListForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentIdToLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountSelectedAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>this variable is used to show the error message on top of the screen.</description>
        <name>errorMessageOnTop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expeceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpenseLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ExpenseLineItemRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>isErrorOnSubType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>leadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LineContentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListSelectedAccount</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariablecreatedExpenseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>VariableExpenseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
