force-app/main/default/flows/Create_Future_Deals_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_2_of_Navigating_to_Opportunity</name>
        <label>Copy 2 of Navigating to Opportunity</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewOpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigating_to_Opportunity</name>
        <label>Navigating to Opportunity</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewOpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_new_Opp_Id_to_variable</name>
        <label>Assign new Opp Id to variable</label>
        <locationX>50</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity_for_ILM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Opp_Id_to_variable1</name>
        <label>Assign new Opp Id to variable</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity_for_IDW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Created_for_IDW</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_opp_is_Product_category</name>
        <label>Check if opp Product category</label>
        <locationX>658</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Any_other_opp_with_ILM_is_found</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>get_Opp.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_oppList.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_oppList.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>load Calculation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_oppList.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation/Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_oppList.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal/Price Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_oppList.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_oppList.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Industrial_Laundry_Machine_Opportunity</targetReference>
            </connector>
            <label>If Any other opp with ILM is found</label>
        </rules>
        <rules>
            <name>If_Any_other_opp_with_IDW_is_found</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>get_Opp.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_oppList.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_oppList.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>load Calculation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_oppList.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation/Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_oppList.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal/Price Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_oppList.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_oppList.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Industrial_Dishwasher_Opportunity</targetReference>
            </connector>
            <label>If Any other opp with IDW is found</label>
        </rules>
        <rules>
            <name>Current_opp_is_ILM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opp.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_on_oppList</targetReference>
            </connector>
            <label>Current opp is ILM</label>
        </rules>
        <rules>
            <name>Current_opp_is_IDW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opp.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_on_oppList</targetReference>
            </connector>
            <label>Current opp is IDW</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_If_opp_list_is_null_or_not</name>
        <label>check If opp list is null or not</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opp_is_null_or_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_opp_under_given_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_on_oppList</targetReference>
            </connector>
            <label>opp is null or not</label>
        </rules>
        <rules>
            <name>If_opp_list_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_opp_under_given_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_opp_category</targetReference>
            </connector>
            <label>If opp list is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_opp_category</name>
        <label>Check opp category</label>
        <locationX>314</locationX>
        <locationY>1250</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Opp_is_ILM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opp.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_for_ILM</targetReference>
            </connector>
            <label>If Opp is ILM</label>
        </rules>
        <rules>
            <name>If_opp_is_IDW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opp.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_for_IDW</targetReference>
            </connector>
            <label>If opp is IDW</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 90</expression>
    </formulas>
    <formulas>
        <name>OppLifeCycleDate</name>
        <dataType>Boolean</dataType>
        <expression>TODAY() + 60 &lt;= {!get_Opp.CloseDate}</expression>
    </formulas>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>{!get_Accounts.Name} &amp; &apos; - &apos; &amp; TEXT({!get_Opp.Product_category__c}) &amp; &apos; - &apos; &amp; 
CASE(MONTH({!$Flow.CurrentDate}),
    1, &quot;Jan&quot;, 
    2, &quot;Feb&quot;, 
    3, &quot;Mar&quot;, 
    4, &quot;Apr&quot;, 
    5, &quot;May&quot;, 
    6, &quot;Jun&quot;, 
    7, &quot;Jul&quot;, 
    8, &quot;Aug&quot;, 
    9, &quot;Sep&quot;, 
    10, &quot;Oct&quot;, 
    11, &quot;Nov&quot;, 
    12, &quot;Dec&quot;, 
    &quot;&quot;) 
&amp; &apos; &apos; &amp; TEXT(DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Create Future Deals Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Future Deals Opportunities</label>
    <loops>
        <name>loop_on_oppList</name>
        <label>loop on oppList</label>
        <locationX>130</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_all_opp_under_given_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_opp_is_Product_category</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_opp_category</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity_for_IDW</name>
        <label>Create Opportunity for IDW</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Assign_new_Opp_Id_to_variable1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>get_Accounts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentValidationTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_Opp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_category__c</field>
            <value>
                <stringValue>IDW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_for_ILM</name>
        <label>Create Opportunity for ILM</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Assign_new_Opp_Id_to_variable</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>get_Accounts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentValidationTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_Opp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_category__c</field>
            <value>
                <stringValue>ILM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Accounts</name>
        <label>get Accounts</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_opp_under_given_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Opp.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_opp_under_given_account</name>
        <label>Get all opps under given account</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_If_opp_list_is_null_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Accounts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Opp</name>
        <label>get Opp</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Industrial_Dishwasher_Opportunity</name>
        <label>Industrial Dishwasher Opportunity</label>
        <locationX>482</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ILM_Opp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Opportunity is already present for Industrial Dishwasher.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Industrial_Laundry_Machine_Opportunity</name>
        <label>Industrial Laundry Machine Opportunity</label>
        <locationX>218</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ILM_Opp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Opportunity is already present for Industrial Laundry Machine.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Created</name>
        <label>Opportunity Created</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigating_to_Opportunity</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;New &lt;/span&gt;Industrial Laundry Machine Opportunity &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;has been created!﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Created_for_IDW</name>
        <label>Opportunity Created for IDW</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_2_of_Navigating_to_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;New &lt;/span&gt;Industrial Dishwasher Opportunity &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;has been created!﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
