force-app/main/default/flows/Create_Expense_From_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>navigateToExpenseRecord</name>
        <label>navigateToExpenseRecord</label>
        <locationX>314</locationX>
        <locationY>3764</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Expense_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Upload_File_To_Azure</name>
        <label>Upload File To Azure</label>
        <locationX>50</locationX>
        <locationY>3464</locationY>
        <actionName>AzureFileUploadInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentLinkId</name>
            <value>
                <elementReference>contentDocLinkIdList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AzureFileUploadInvoker</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_content_doc_for_update</name>
        <label>Assign content doc for update</label>
        <locationX>138</locationX>
        <locationY>2864</locationY>
        <assignmentItems>
            <assignToReference>contentDocListForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Content_Doc_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Content_Doc_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_Version_ID</name>
        <label>Assign Content Version ID</label>
        <locationX>490</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>LineContentDocIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.linefileupload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_ContentDocIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ContentDocId_In_List</name>
        <label>Assign ContentDocId In List</label>
        <locationX>578</locationX>
        <locationY>1940</locationY>
        <assignmentItems>
            <assignToReference>ContentDocIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_ExpenseLineItemList.ContentDocId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Content_Doc_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ContentId_to_record</name>
        <label>Assign ContentId to record</label>
        <locationX>578</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>contentIdToLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_ContentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_ContentDocIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_to_List</name>
        <label>Assign ID to List</label>
        <locationX>138</locationX>
        <locationY>3272</locationY>
        <assignmentItems>
            <assignToReference>contentDocLinkIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_content_doc_link_list.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_content_doc_link_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_for_Blank_Content_doc_id</name>
        <label>Check for Blank Content doc id</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CheckContentDocIdList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_content_doc_id_check.linefileupload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Content_Doc_Link</name>
        <label>Create Content Doc Link</label>
        <locationX>578</locationX>
        <locationY>2048</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_ExpenseLineItemList.ContentDocId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_ExpenseLineItemList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_ExpenseLineItemList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Expense_Line_Item_Instance</name>
        <label>Create Expense Line Item Instance</label>
        <locationX>490</locationX>
        <locationY>1424</locationY>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Expense_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.ExpenseAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.expslineType.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.expslineType.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.ExpRemark</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Document_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.Document_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.ContentDocId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentIdToLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Distance_Travelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.Distance_Travelled_KM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExpenseLineItemRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_All_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_File_Name</name>
        <label>Update File Name</label>
        <locationX>138</locationX>
        <locationY>2756</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Content_Doc_Records.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedFileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_content_doc_for_update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TravelexpenseSubTypeMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please fill sub type in case of Travel Expense</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ChechContentDocList</name>
        <label>Chech Content DocList</label>
        <locationX>314</locationX>
        <locationY>2324</locationY>
        <defaultConnector>
            <targetReference>Show_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentDocumentLinkList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Content_Doc_Link_Records</targetReference>
            </connector>
            <label>IsNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Content_DocumentId</name>
        <label>Check Content DocumentId</label>
        <locationX>490</locationX>
        <locationY>1832</locationY>
        <defaultConnector>
            <targetReference>Assign_ContentDocId_In_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_ExpenseLineItemList.ContentDocId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_ExpenseLineItemList</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_blank</name>
        <label>Check If blank</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_for_content_doc_id_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_Balnk</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>CheckContentDocIdList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_for_content_doc_id_check.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Train</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_for_content_doc_id_check.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bus - Local</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_for_content_doc_id_check.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bus - Intercity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_for_content_doc_id_check.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Ticket</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_for_content_doc_id_check.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ferry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_for_content_doc_id_check.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cab - Ola/Uber/Rapido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_for_content_doc_id_check.expslineType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cab - Office Hire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_Fault_Error_Message</targetReference>
            </connector>
            <label>not Balnk</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AdvanceReceivedPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Advance_Received__c</picklistField>
        <picklistObject>Expense__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExpenseLineType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Expense_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExpenseTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Expense__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Type__c</picklistField>
        <picklistObject>Expense_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>errorMessageOnTopPageFormula</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!errorMessageOnTop})&gt;0 , {!errorMessageOnTop}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>isDurationToDateGratherThanFromDate</name>
        <dataType>Boolean</dataType>
        <expression>{!Duration_To} &gt;= {!Duration_From}</expression>
    </formulas>
    <formulas>
        <name>SubTypeErrorMessageCheck</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Expense_Type}, &apos;Travel Expense&apos;), &apos;* Please select sub type for travel expense.&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>updatedFileName</name>
        <dataType>String</dataType>
        <expression>&quot;Bill_&quot; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT(NOW()), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;:&quot;, &quot;&quot;), &quot;Z&quot;, &quot;&quot;) &amp; &quot;_&quot; &amp; SUBSTITUTE({!Loop_on_Content_Doc_Records.Title}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <interviewLabel>Create Expense From Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Expense From Account</label>
    <loops>
        <name>Loop_for_content_doc_id_check</name>
        <label>Loop for content doc id check</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <collectionReference>LineItems.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Blank_Content_doc_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Expense_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_All_Items</name>
        <label>Loop On All Items</label>
        <locationX>314</locationX>
        <locationY>908</locationY>
        <collectionReference>LineItems.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_Version_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Expense_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_content_doc_link_list</name>
        <label>loop on content doc link list</label>
        <locationX>50</locationX>
        <locationY>3164</locationY>
        <collectionReference>ContentDocumentLinkList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ID_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Upload_File_To_Azure</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Content_Doc_Records</name>
        <label>Loop on Content Doc Records</label>
        <locationX>50</locationX>
        <locationY>2648</locationY>
        <collectionReference>Get_Content_Doc_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_File_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Content_Doc_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_ContentDocIds</name>
        <label>Loop on ContentDocIds</label>
        <locationX>490</locationX>
        <locationY>1124</locationY>
        <collectionReference>LineContentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ContentId_to_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Expense_Line_Item_Instance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_ExpenseLineItemList</name>
        <label>Loop on ExpenseLineItemList</label>
        <locationX>314</locationX>
        <locationY>1724</locationY>
        <collectionReference>ExpenseLineItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Content_DocumentId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ChechContentDocList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Doc_Link_Records</name>
        <label>Create Content Doc Link Records</label>
        <locationX>50</locationX>
        <locationY>2432</locationY>
        <connector>
            <targetReference>Get_Content_Doc_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Fault_Error_Message</targetReference>
        </faultConnector>
        <inputReference>ContentDocumentLinkList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Expense_Line_Item</name>
        <label>Create Expense Line Item</label>
        <locationX>314</locationX>
        <locationY>1616</locationY>
        <connector>
            <targetReference>Loop_on_ExpenseLineItemList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_all_changes</targetReference>
        </faultConnector>
        <inputReference>ExpenseLineItemList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Expense_Record</name>
        <label>Create Expense Record</label>
        <locationX>314</locationX>
        <locationY>800</locationY>
        <connector>
            <targetReference>Loop_On_All_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_all_changes</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Amount__c</field>
            <value>
                <elementReference>Advance_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Received__c</field>
            <value>
                <elementReference>Advance_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_From__c</field>
            <value>
                <elementReference>Duration_From</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_To__c</field>
            <value>
                <elementReference>Duration_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Expense_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Doc_Records</name>
        <label>Get Content Doc Records</label>
        <locationX>50</locationX>
        <locationY>2540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Content_Doc_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Copy_1_of_Rollback_all_changes</name>
        <label>Copy 1 of Rollback all changes</label>
        <locationX>314</locationX>
        <locationY>2648</locationY>
    </recordRollbacks>
    <recordRollbacks>
        <name>Rollback_all_changes</name>
        <label>Rollback all changes</label>
        <locationX>754</locationX>
        <locationY>1724</locationY>
        <connector>
            <targetReference>Fault_Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Content_Doc_Records</name>
        <label>Update Content Doc Records</label>
        <locationX>50</locationX>
        <locationY>3056</locationY>
        <connector>
            <targetReference>loop_on_content_doc_link_list</targetReference>
        </connector>
        <inputReference>contentDocListForUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Fault_Error_Message</name>
        <label>Copy 1 of Fault Error  Message</label>
        <locationX>314</locationX>
        <locationY>2540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Rollback_all_changes</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(211, 20, 20);&quot;&gt;There was an error uploading your file(s). Please go to the previous screen and upload the file(s) again.&lt;/span&gt;&lt;span style=&quot;color: rgb(199, 25, 25);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Error_Message</name>
        <label>Fault Error  Message</label>
        <locationX>754</locationX>
        <locationY>1832</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Log_Expense_m</name>
        <label>Log Expense</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_for_content_doc_id_check</targetReference>
        </connector>
        <fields>
            <name>Log_Expense_m_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Log_Expense_m_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expense_Type</name>
                    <choiceReferences>ExpenseTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Local</stringValue>
                    </defaultValue>
                    <fieldText>Expense Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Duration_From</name>
                    <dataType>Date</dataType>
                    <fieldText>Duration From</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Expense_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Out Station</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Duration_To</name>
                    <dataType>Date</dataType>
                    <fieldText>Duration To</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 25, 25);&quot;&gt;Duration To date should be grater then Duration From date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!isDurationToDateGratherThanFromDate}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Expense_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Out Station</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Log_Expense_m_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Advance_Received</name>
                    <choiceReferences>AdvanceReceivedPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>No</stringValue>
                    </defaultValue>
                    <fieldText>Advance Received</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Advance_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Advance Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Advance_Received</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LineItems</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>expslineType</name>
                <extensionName>flowruntime:dependentPicklists</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>dependencyWrapperApiName</name>
                    <value>
                        <stringValue>Expense_Line_Item__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topPicklistApiName</name>
                    <value>
                        <stringValue>Type__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middlePicklistApiName</name>
                    <value>
                        <stringValue>Sub_Type__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topLabel</name>
                    <value>
                        <stringValue>Type</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topRequired</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middleLabel</name>
                    <value>
                        <stringValue>Sub Type</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middleRequired</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topValue</name>
                    <value>
                        <stringValue>Travel Expense	</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middleValue</name>
                    <value>
                        <stringValue>Cab</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Distance_Travelled_KM</name>
                <dataType>Number</dataType>
                <fieldText>Distance Travelled (KM)</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Please fill only when type is selected as Travel Expense.	&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>1</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>LineItems.AllItems[$EachItem].expslineType.topValue</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Travel Expense	</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>ExpenseAmount</name>
                <dataType>Currency</dataType>
                <fieldText>Expense Amount</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Document_Date</name>
                <dataType>Date</dataType>
                <fieldText>Document Date</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Date when relevant bill is generated.&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <validationRule>
                    <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(202, 21, 21);&quot;&gt;Document date can not be future date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                    <formulaExpression>{!LineItems.AllItems[$EachItem].Document_Date} &lt;= TODAY()</formulaExpression>
                </validationRule>
            </fields>
            <fields>
                <name>ExpRemark</name>
                <dataType>String</dataType>
                <fieldText>Remark</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>linefileupload</name>
                <extensionName>forceContent:fileUpload</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Upload Bill</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>accept</name>
                    <value>
                        <stringValue>.jpg, .png, .pdf, .doc, .txt</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>multiple</name>
                    <value>
                        <booleanValue>false</booleanValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <validationRule>
                    <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 24, 24); background-color: rgb(255, 255, 255);&quot;&gt;Please upload the related bill.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                    <formulaExpression>IF(LEN({!LineItems.AllItems[$EachItem].linefileupload.contentDocIds})&gt; 2, TRUE, FALSE)</formulaExpression>
                </validationRule>
            </fields>
            <fields>
                <name>displayLineFileName</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(47, 64, 195); background-color: rgb(255, 255, 255);&quot;&gt;{!LineItems.AllItems[$EachItem].linefileupload.fileNames}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Success</name>
        <label>Show Success</label>
        <locationX>314</locationX>
        <locationY>3656</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>navigateToExpenseRecord</targetReference>
        </connector>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(9, 186, 28);&quot;&gt;Expense Success&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Expense_m</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CheckContentDocIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocLinkIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocListForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentIdToLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>this variable is used to show the error message on top of the screen.</description>
        <name>errorMessageOnTop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpenseLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ExpenseLineItemRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>isErrorOnSubType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LineContentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
