force-app/main/default/flows/Create_Purchase_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Account_Records</name>
        <label>Navigate to Account Records</label>
        <locationX>2250</locationX>
        <locationY>782</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Accounts_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Order_Record_Id</name>
        <label>Order Record Id</label>
        <locationX>798</locationX>
        <locationY>7094</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>orderRecordID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Files_To_Azure</name>
        <label>Send Files To Azure</label>
        <locationX>534</locationX>
        <locationY>6854</locationY>
        <actionName>AzureFileUploadInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Order_Record_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentLinkId</name>
            <value>
                <elementReference>contentDocLinkIdList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AzureFileUploadInvoker</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Update_Parent_On_Line_Items</name>
        <label>Update Parent On Line Items</label>
        <locationX>402</locationX>
        <locationY>2846</locationY>
        <actionName>OrderHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_for_purchase_document</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listRecords</name>
            <value>
                <elementReference>VarTOrderProduct</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_quote_line_item_to_order_product</name>
        <label>Add quote line item to order product</label>
        <locationX>490</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>VarTOrderProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varROrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_the_quote_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_record_into_a_collection</name>
        <label>Add record into a collection</label>
        <locationX>550</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_through_Puchase_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_Doc_link_to_List</name>
        <label>Assign Content Doc link to List</label>
        <locationX>550</locationX>
        <locationY>4310</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContentDoclinkForChild</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Transaction_proof</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ids_to_List</name>
        <label>Assign Ids to List</label>
        <locationX>622</locationX>
        <locationY>6662</locationY>
        <assignmentItems>
            <assignToReference>contentDocLinkIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_content_Doc_link_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_content_Doc_link_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IDs_to_variable</name>
        <label>Assign IDs to variable</label>
        <locationX>490</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>orderProductIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Order_Product_List.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Order_Product_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_File_content</name>
        <label>Assign the File content</label>
        <locationX>550</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_through_Puchase_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderRecordID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_into_a_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_quote_line_item_product_to_Order_product</name>
        <label>Assign the quote line item product to Order product</label>
        <locationX>490</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>varROrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varROrderProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_the_quote_line_item.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varROrderProduct.SBQQ__QuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_the_quote_line_item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varROrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_the_quote_line_item.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varROrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_the_quote_line_item.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varROrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_the_quote_line_item.SBQQ__NetPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varROrderProduct.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_the_quote_line_item.GST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varROrderProduct.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_the_quote_line_item.SBQQ__TotalDiscountRate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varROrderProduct.Parent_SAP_Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_the_quote_line_item.Parent_SapCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varROrderProduct.Package_Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_the_quote_line_item.SBQQ__PackageTotal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varROrderProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_the_quote_line_item.SBQQ__NetTotal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varROrderProduct.Cost_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CostAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varROrderProduct.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_the_quote_line_item.GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varROrderProduct.Discount_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_the_quote_line_item.SBQQ__TotalDiscountAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_quote_line_item_to_order_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_record_into_a_collection</name>
        <label>Copy 1 of Add record into a collection</label>
        <locationX>854</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_iterate_through_Puchase_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Content_Doc_link_to_List</name>
        <label>Copy 1 of Assign Content Doc link to List</label>
        <locationX>854</locationX>
        <locationY>4310</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContentDoclinkForChild</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Iterate_over_Transaction_proof</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_the_File_content</name>
        <label>Copy 1 of Assign the File content</label>
        <locationX>854</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_iterate_through_Puchase_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderRecordID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_record_into_a_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_content_doc_link_for_child</name>
        <label>Copy 1 of Create content doc link for child</label>
        <locationX>854</locationX>
        <locationY>4202</locationY>
        <assignmentItems>
            <assignToReference>varContentDoclinkForChild.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Iterate_over_Transaction_proof</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContentDoclinkForChild.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Advance_Installment_Record_IDW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Content_Doc_link_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_content_doc_link_for_child</name>
        <label>Create content doc link for child</label>
        <locationX>550</locationX>
        <locationY>4202</locationY>
        <assignmentItems>
            <assignToReference>varContentDoclinkForChild.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Transaction_proof</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContentDoclinkForChild.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Advance_Installment_Record_ILM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Content_Doc_link_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rename_PO_Doc</name>
        <label>Rename PO Doc</label>
        <locationX>402</locationX>
        <locationY>5534</locationY>
        <assignmentItems>
            <assignToReference>Get_PO_Doc.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>POFIleName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PO_doc_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rename_transaction_doc</name>
        <label>Rename transaction doc</label>
        <locationX>402</locationX>
        <locationY>6098</locationY>
        <assignmentItems>
            <assignToReference>Get_Transaction_Doc.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionFileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Transaction_Doc</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Billing_Address_Null_Check</name>
        <label>Billing Address Null Check</label>
        <locationX>1821</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accounts_Records.ShippingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_Records.ShippingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_Records.ShippingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_Records.ShippingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_Records.ShippingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_Records.ShippingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_Records.BillingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_Records.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_Records.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_Records.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_Records.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_Records.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_Records.Ship_to_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Quote_Term</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_By_ILM_or_IDW</name>
        <label>Check By ILM or IDW</label>
        <locationX>798</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>General_Purchase_Information_for_IDW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ILM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Purchase_Information_for_ILM</targetReference>
            </connector>
            <label>ILM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_blank_content_doc_list</name>
        <label>Check for blank content doc list</label>
        <locationX>798</locationX>
        <locationY>6446</locationY>
        <defaultConnector>
            <targetReference>Order_Record_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_for_blank_content_doc_list</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRContentDocumentLinks</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_content_Doc_link_records</targetReference>
            </connector>
            <label>Outcome 1 of Check for blank content doc list</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_blank_record_list</name>
        <label>Check for blank record list</label>
        <locationX>798</locationX>
        <locationY>4670</locationY>
        <defaultConnector>
            <targetReference>Check_for_PO_Doc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_for_blank_record_list</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRContentDocumentLinks</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Record_From_Collection</targetReference>
            </connector>
            <label>Outcome 1 of Check for blank record list</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Installment_IDW</name>
        <label>Check for Installment IDW</label>
        <locationX>1150</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Check_Quote_Line_Item_is_there_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advance_received_IDW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Advance_Received_Amount_IDW</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Advance_Installment_Record_IDW</targetReference>
            </connector>
            <label>Advance received IDW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Installment_ILM</name>
        <label>Check for Installment ILM</label>
        <locationX>446</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Check_Quote_Line_Item_is_there_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advance_received_ILM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Advance_Received_Amount_ILM</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Advance_Installment_Record_ILM</targetReference>
            </connector>
            <label>Advance received ILM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_PO_Doc</name>
        <label>Check for PO Doc</label>
        <locationX>798</locationX>
        <locationY>5318</locationY>
        <defaultConnector>
            <targetReference>Check_for_Transaction_Proof1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_po_Uploaded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Skip_Purchase_Order_Document_Upload_ILM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip_Purchase_Order_Document_Upload_IDW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PO_Doc</targetReference>
            </connector>
            <label>Is po Uploaded?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_purchase_document</name>
        <label>Check for purchase document</label>
        <locationX>798</locationX>
        <locationY>3086</locationY>
        <defaultConnector>
            <targetReference>Check_for_Transaction_Proof</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>purchase_document_uploaded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Skip_Purchase_Order_Document_Upload_ILM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip_Purchase_Order_Document_Upload_IDW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Product_Category_for_Purchase_Doc</targetReference>
            </connector>
            <label>purchase document uploaded?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Transaction_Proof</name>
        <label>Check for Transaction Proof</label>
        <locationX>798</locationX>
        <locationY>3878</locationY>
        <defaultConnector>
            <targetReference>Check_for_blank_record_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transaction_proof_uploaded</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Termss</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip_Purchase_Order_Document_Upload_IDW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip_Purchase_Order_Document_Upload_ILM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_product_Category_for_Transaction</targetReference>
            </connector>
            <label>Transaction proof uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Transaction_Proof1</name>
        <label>Check for Transaction Proof</label>
        <locationX>798</locationX>
        <locationY>5882</locationY>
        <defaultConnector>
            <targetReference>Check_for_blank_content_doc_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Transaction_proof_uploaded</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Termss</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip_Purchase_Order_Document_Upload_IDW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip_Purchase_Order_Document_Upload_ILM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transaction_Doc</targetReference>
            </connector>
            <label>is Transaction proof uploaded?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Status</name>
        <label>Check Opportunity Status</label>
        <locationX>1282</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Already_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Records</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrderError</targetReference>
            </connector>
            <label>Order Already Present</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accounts_Records</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Category_for_Purchase_Doc</name>
        <label>Check Product Category for Purchase Doc</label>
        <locationX>614</locationX>
        <locationY>3194</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_iterate_through_Puchase_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ILM_PurchaseDoc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterate_through_Puchase_Documents</targetReference>
            </connector>
            <label>ILM PurchaseDoc</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_product_Category_for_Transaction</name>
        <label>Check product Category for Transaction</label>
        <locationX>614</locationX>
        <locationY>3986</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Iterate_over_Transaction_proof</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ILM_Transaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Transaction_proof</targetReference>
            </connector>
            <label>ILM Transaction</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Line_Item_is_there_or_not</name>
        <label>Check Quote Line Item is there or not</label>
        <locationX>798</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Check_for_purchase_document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote Line Item is not available</defaultConnectorLabel>
        <rules>
            <name>Quote_Line_Item_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Line_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Through_the_quote_line_item</targetReference>
            </connector>
            <label>Quote Line Item Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Quote_Term_Data</name>
        <label>Check the Quote Term Data</label>
        <locationX>1392</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>customErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Without Data</defaultConnectorLabel>
        <rules>
            <name>With_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Quote_Term</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purchase_Order</targetReference>
            </connector>
            <label>With Data</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BranchFactoryChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IFB Industries Limited</stringValue>
            </value>
        </filters>
        <object>Facility__c</object>
        <outputAssignments>
            <assignToReference>SelectedBranchFactoryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Branch_Factory_Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BranchFactoryChoiceSetIDW</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>IFB Industries Limited</stringValue>
            </value>
        </filters>
        <object>Facility__c</object>
        <outputAssignments>
            <assignToReference>SelectedBranchFactoryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Branch_Factory_Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryTermsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Delivery_Period__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FreightIncludes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Freight_Included__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>freightterm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Freight_Terms__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InstallationLevelPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Installation_Level__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>orderDistributionPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Distribution_Channel__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>orderStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>orderTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CostAmount</name>
        <dataType>Currency</dataType>
        <expression>IF( ISPICKVAL({!Iterate_Through_the_quote_line_item.SBQQ__PricingMethod__c}, &quot;Cost&quot;)
,{!Iterate_Through_the_quote_line_item.SBQQ__UnitCost__c} + {!Iterate_Through_the_quote_line_item.SBQQ__Markup__c}
, {!Iterate_Through_the_quote_line_item.SBQQ__ListPrice__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DeliveryPeriodFormula</name>
        <dataType>String</dataType>
        <expression>IF(
ISPICKVAL({!Fetch_Quote_Term.Expected_Delivery_Period__c}, &quot;&quot;)
,TEXT({!Fetch_Quote_Term.Actual_Delivery_Period__c}),
TEXT({!Fetch_Quote_Term.Expected_Delivery_Period__c}))</expression>
    </formulas>
    <formulas>
        <name>IsPONumberRequiredIDW</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!Skip_Purchase_Order_Document_Upload_IDW} = FALSE, ISBLANK({!PO_Number_IDW})), true, false)</expression>
    </formulas>
    <formulas>
        <name>IsPONumberRequiredILM</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!Skip_Purchase_Order_Document_Upload_ILM} = FALSE, ISBLANK({!PO_Number_ILM})), true, false)</expression>
    </formulas>
    <formulas>
        <name>isPoUploadedIDW</name>
        <dataType>Boolean</dataType>
        <expression>if(LEN({!uploadPurchaseOrderDoc_IDW.contentDocIds})&gt;2,True,False)</expression>
    </formulas>
    <formulas>
        <name>isPOUploadedILM</name>
        <dataType>Boolean</dataType>
        <expression>if(LEN({!uploadPurchaseOrderDoc_ILM.contentDocIds})&gt;2,True,False)</expression>
    </formulas>
    <formulas>
        <name>isTransactionUploaded_IDW</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!TransactionProof_IDW.contentDocIds}) &gt; 2, true, false)</expression>
    </formulas>
    <formulas>
        <name>isTransactionUploaded_ILM</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!TransactionProof_ILM.contentDocIds}) &gt; 2, true, false)</expression>
    </formulas>
    <formulas>
        <name>MessageTxtForFileUpload</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!uploadPurchaseOrderDoc_ILM.contentDocIds})&gt; 2, &apos;Uploaded File(s)  :  &apos;+{!uploadPurchaseOrderDoc_ILM.fileNames}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>messageTxtforFileUploadCopy</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!uploadPurchaseOrderDoc_IDW.contentDocIds})&gt; 2, &apos;Uploaded File(s)  :  &apos;+{!uploadPurchaseOrderDoc_IDW.fileNames}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>messageTxtForTransaction</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!TransactionProof_ILM.contentDocIds})&gt; 2, &apos;Uploaded File :  &apos;+{!TransactionProof_ILM.fileNames}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>messageTxtforTransactionCopy</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!TransactionProof_IDW.contentDocIds})&gt; 2, &apos;Uploaded File :  &apos;+{!TransactionProof_IDW.fileNames}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>POFIleName</name>
        <dataType>String</dataType>
        <expression>&quot;PO_&quot; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT(NOW()), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;:&quot;, &quot;&quot;), &quot;Z&quot;, &quot;&quot;) &amp; &quot;_&quot; &amp; SUBSTITUTE({!Get_PO_Doc.Title}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <formulas>
        <name>TransactionFileName</name>
        <dataType>String</dataType>
        <expression>&quot;Installment_&quot; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT(NOW()), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;:&quot;, &quot;&quot;), &quot;Z&quot;, &quot;&quot;) &amp; &quot;_&quot; &amp; SUBSTITUTE({!Get_Transaction_Doc.Title}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <interviewLabel>Create Purchase Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Purchase Order</label>
    <loops>
        <name>Copy_1_of_Iterate_over_Transaction_proof</name>
        <label>Copy 1 of Iterate over Transaction proof</label>
        <locationX>766</locationX>
        <locationY>4094</locationY>
        <collectionReference>TransactionProof_IDW.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Create_content_doc_link_for_child</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_blank_record_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_iterate_through_Puchase_Documents</name>
        <label>Copy 1 of iterate through Puchase Documents</label>
        <locationX>766</locationX>
        <locationY>3302</locationY>
        <collectionReference>uploadPurchaseOrderDoc_IDW.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_the_File_content</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Transaction_Proof</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Transaction_proof</name>
        <label>Iterate over Transaction proof</label>
        <locationX>462</locationX>
        <locationY>4094</locationY>
        <collectionReference>TransactionProof_ILM.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_content_doc_link_for_child</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_blank_record_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterate_through_Puchase_Documents</name>
        <label>iterate through Puchase Documents</label>
        <locationX>462</locationX>
        <locationY>3302</locationY>
        <collectionReference>uploadPurchaseOrderDoc_ILM.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_File_content</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Transaction_Proof</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Through_the_quote_line_item</name>
        <label>Iterate Through the quote line item</label>
        <locationX>402</locationX>
        <locationY>2030</locationY>
        <collectionReference>Get_Quote_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_quote_line_item_product_to_Order_product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_content_Doc_link_records</name>
        <label>Loop on content Doc link records</label>
        <locationX>534</locationX>
        <locationY>6554</locationY>
        <collectionReference>varRContentDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Ids_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Files_To_Azure</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Order_Product_List</name>
        <label>Loop on Order Product List</label>
        <locationX>402</locationX>
        <locationY>2546</locationY>
        <collectionReference>VarTOrderProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_IDs_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_On_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Advance_Installment_Record_IDW</name>
        <label>Create Advance Installment Record IDW</label>
        <locationX>1018</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Check_Quote_Line_Item_is_there_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Advance_Received_Amount_IDW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>orderRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Id__c</field>
            <value>
                <elementReference>Transaction_ID_IDW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Advance</stringValue>
            </value>
        </inputAssignments>
        <object>Order_Installment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Advance_Installment_Record_ILM</name>
        <label>Create Advance Installment Record ILM</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Check_Quote_Line_Item_is_there_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Advance_Received_Amount_ILM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>orderRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Id__c</field>
            <value>
                <elementReference>Transaction_ID_ILM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Advance</stringValue>
            </value>
        </inputAssignments>
        <object>Order_Installment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Product</name>
        <label>Create Order Product</label>
        <locationX>402</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Loop_on_Order_Product_List</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </faultConnector>
        <inputReference>VarTOrderProduct</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_From_Collection</name>
        <label>Create Record From Collection</label>
        <locationX>534</locationX>
        <locationY>4778</locationY>
        <connector>
            <targetReference>Check_for_PO_Doc</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Changes</targetReference>
        </faultConnector>
        <inputReference>varRContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Save_Order_Records_IDW</name>
        <label>Save Order Records IDW</label>
        <locationX>1150</locationX>
        <locationY>1430</locationY>
        <assignRecordIdToReference>orderRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Check_for_Installment_IDW</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Fetch_Quote_Term.SBQQ__Opportunity2__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Received_Amount__c</field>
            <value>
                <elementReference>Advance_Received_Amount_IDW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIN_No__c</field>
            <value>
                <elementReference>Accounts_Records.CIN_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Fetch_Quote_Term.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Period__c</field>
            <value>
                <elementReference>Order_Delivery_Terms_in_weeks_months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel__c</field>
            <value>
                <elementReference>Distribution_Channel_IDW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Order_Start_Date_IDW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>SelectedBranchFactoryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Included__c</field>
            <value>
                <elementReference>Freight_Included1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Terms__c</field>
            <value>
                <elementReference>Freight_Termss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fright_Charges__c</field>
            <value>
                <elementReference>Fetch_Quote_Term.Fright_Charges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GST_No__c</field>
            <value>
                <elementReference>Accounts_Records.GST_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Level__c</field>
            <value>
                <elementReference>Order_Installation_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAN_No__c</field>
            <value>
                <elementReference>Accounts_Records.PAN_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Split_ratio__c</field>
            <value>
                <elementReference>Fetch_Quote_Term.Payment_Split_ratio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>Payment_Termss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>PO_Number_IDW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>Fetch_Quote_Term.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status_IDW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount_Including_GST__c</field>
            <value>
                <elementReference>Fetch_Quote_Term.Total_Amount_Including_GST__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_GST_Amount__c</field>
            <value>
                <elementReference>Fetch_Quote_Term.Total_GST_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warranty_Term_In_Year__c</field>
            <value>
                <elementReference>Warranty_Term</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Save_Order_Records_ILM</name>
        <label>Save Order Records ILM</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <assignRecordIdToReference>orderRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Check_for_Installment_ILM</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Fetch_Quote_Term.SBQQ__Opportunity2__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Received_Amount__c</field>
            <value>
                <elementReference>Advance_Received_Amount_ILM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIN_No__c</field>
            <value>
                <elementReference>Accounts_Records.CIN_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Fetch_Quote_Term.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Period__c</field>
            <value>
                <elementReference>Order_Delivery_Terms_in_weeks_months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel__c</field>
            <value>
                <elementReference>Distribution_Channel_ILM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Order_Start_Date_ILM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>SelectedBranchFactoryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Included__c</field>
            <value>
                <elementReference>Freight_Included1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Terms__c</field>
            <value>
                <elementReference>Freight_Termss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fright_Charges__c</field>
            <value>
                <elementReference>Fetch_Quote_Term.Fright_Charges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GST_No__c</field>
            <value>
                <elementReference>Accounts_Records.GST_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Level__c</field>
            <value>
                <elementReference>Order_Installation_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAN_No__c</field>
            <value>
                <elementReference>Accounts_Records.PAN_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Split_ratio__c</field>
            <value>
                <elementReference>Fetch_Quote_Term.Payment_Split_ratio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>Payment_Termss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>PO_Number_ILM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>Fetch_Quote_Term.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status_ILM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount_Including_GST__c</field>
            <value>
                <elementReference>Fetch_Quote_Term.Total_Amount_Including_GST__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_GST_Amount__c</field>
            <value>
                <elementReference>Fetch_Quote_Term.Total_GST_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warranty_Term_In_Year__c</field>
            <value>
                <elementReference>Warranty_Term</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordLookups>
        <name>Accounts_Records</name>
        <label>Accounts Records</label>
        <locationX>1821</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billing_Address_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Quote_Term</name>
        <label>Fetch Quote Term</label>
        <locationX>1392</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Quote_Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>ExpiredQuotes__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>1282</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Records</name>
        <label>Get Order Records</label>
        <locationX>1282</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Doc</name>
        <label>Get PO Doc</label>
        <locationX>402</locationX>
        <locationY>5426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rename_PO_Doc</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>uploadPurchaseOrderDoc_ILM.contentDocIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>uploadPurchaseOrderDoc_IDW.contentDocIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Item</name>
        <label>Get Quote Line Item</label>
        <locationX>1392</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Quote_Term_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Quote_Term.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>798</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_By_ILM_or_IDW</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Quote_Term.SBQQ__Opportunity2__r.Product_category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Doc</name>
        <label>Get Transaction Doc</label>
        <locationX>402</locationX>
        <locationY>5990</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rename_transaction_doc</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>TransactionProof_ILM.contentDocIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>TransactionProof_IDW.contentDocIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_Changes</name>
        <label>Rollback Changes</label>
        <locationX>798</locationX>
        <locationY>4886</locationY>
        <connector>
            <targetReference>Flow_Error</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_PO_doc_name</name>
        <label>Update PO doc name</label>
        <locationX>402</locationX>
        <locationY>5642</locationY>
        <connector>
            <targetReference>Check_for_Transaction_Proof1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </faultConnector>
        <inputReference>Get_PO_Doc</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transaction_Doc</name>
        <label>Update Transaction Doc</label>
        <locationX>402</locationX>
        <locationY>6206</locationY>
        <connector>
            <targetReference>Check_for_blank_content_doc_list</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </faultConnector>
        <inputReference>Get_Transaction_Doc</inputReference>
    </recordUpdates>
    <screens>
        <name>customErrorScreen</name>
        <label>customErrorScreen</label>
        <locationX>1986</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errormessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(186, 5, 23); background-color: rgb(255, 255, 255);&quot;&gt;Opportunity must have a Approved Primary quote which is Accepted by customer in order to create an order.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2250</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_Account_Records</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(199, 12, 12); font-size: 14px;&quot;&gt;Error: Missing required information. Please review and provide the following:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(199, 12, 12); font-size: 14px;&quot;&gt; Billing Address&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(199, 12, 12); font-size: 14px;&quot;&gt;      Shipping Address&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(199, 12, 12); font-size: 14px;&quot;&gt; Ship To Name&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(199, 12, 12); font-size: 14px;&quot;&gt;Click the button below to complete the missing details.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Go to Account</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>798</locationX>
        <locationY>4994</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowError</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Purchase_Information_for_IDW</name>
        <label>General Purchase Information for IDW</label>
        <locationX>1150</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Order_Records_IDW</targetReference>
        </connector>
        <fields>
            <name>General_Purchase_Information_for_IDW_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_Purchase_Information_for_IDW_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order_Start_Date_IDW</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Order Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Branch_Factory_IDW</name>
                    <choiceReferences>BranchFactoryChoiceSetIDW</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Branch/Factory</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Distribution_Channel_IDW</name>
                    <choiceReferences>orderDistributionPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Distribution Channel</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>General_Purchase_Information_for_IDW_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status_IDW</name>
                    <choiceReferences>orderStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>PO Draft</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Skip_Purchase_Order_Document_Upload_IDW</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>PO not available</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PO_Number_IDW</name>
                    <dataType>String</dataType>
                    <fieldText>PO Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(205, 28, 28);&quot;&gt;Please enter the PO Number if the PO is available.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!IsPONumberRequiredIDW}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_IDW</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>uploadPurchaseOrderDoc_IDW</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Purchase Order Documents</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg, .png, .pdf, .doc, .txt</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>VarTContentDocumentIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(215, 27, 27);&quot;&gt;Please provide purchase order document.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!isPoUploadedIDW}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_IDW</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>showFileName_IDW</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(24, 22, 154);&quot;&gt;{!messageTxtforFileUploadCopy}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_ILM</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>addInstallmentHeader_IDW</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Add Advance Transaction Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Termss</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Skip_Purchase_Order_Document_Upload_IDW</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>General_Purchase_Information_for_IDW_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_Purchase_Information_for_IDW_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Advance_Received_Amount_IDW</name>
                    <dataType>Number</dataType>
                    <fieldText>Advance Received Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(205, 28, 28); background-color: rgb(255, 255, 255);&quot;&gt;Please enter the advanced received amount if the PO is available&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!IsPONumberRequiredIDW}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_IDW</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Transaction_ID_IDW</name>
                    <dataType>String</dataType>
                    <fieldText>Transaction Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(205, 28, 28);&quot;&gt;Please enter the advanced received amount if the PO is available&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!IsPONumberRequiredIDW}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_IDW</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TransactionProof_IDW</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Transaction Proof</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg, .png, .pdf, .doc, .txt</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(215, 27, 27);&quot;&gt;Please provide transaction proof.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!isTransactionUploaded_IDW}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_IDW</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayTransactionFileName_IDW</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(24, 22, 154);&quot;&gt;{!messageTxtforTransactionCopy}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_IDW</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>General_Purchase_Information_for_IDW_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Termss</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Purchase_Information_for_ILM</name>
        <label>General Purchase Information for ILM</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Order_Records_ILM</targetReference>
        </connector>
        <fields>
            <name>General_Purchase_Information_for_ILM_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_Purchase_Information_for_ILM_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order_Start_Date_ILM</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Order Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Branch_Factory_ILM</name>
                    <choiceReferences>BranchFactoryChoiceSet</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Branch/Factory</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Distribution_Channel_ILM</name>
                    <choiceReferences>orderDistributionPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Distribution Channel</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>General_Purchase_Information_for_ILM_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status_ILM</name>
                    <choiceReferences>orderStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>PO Draft</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Skip_Purchase_Order_Document_Upload_ILM</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>PO not available</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PO_Number_ILM</name>
                    <dataType>String</dataType>
                    <fieldText>PO Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(205, 28, 28);&quot;&gt;Please enter the PO Number if the PO is available.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!IsPONumberRequiredILM}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_ILM</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>uploadPurchaseOrderDoc_ILM</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Purchase Order Documents</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg, .png, .pdf, .doc, .txt</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>VarTContentDocumentIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(215, 27, 27);&quot;&gt;Please provide purchase order document.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!isPOUploadedILM}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_ILM</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>showFileName_ILM</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(24, 22, 154);&quot;&gt;{!MessageTxtForFileUpload}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_ILM</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>addInstallmentHeader_ILM</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Add Advance Transaction Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Termss</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Skip_Purchase_Order_Document_Upload_ILM</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>General_Purchase_Information_for_ILM_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_Purchase_Information_for_ILM_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Advance_Received_Amount_ILM</name>
                    <dataType>Number</dataType>
                    <fieldText>Advance Received Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(205, 28, 28); background-color: rgb(255, 255, 255);&quot;&gt;Please enter the Advance Received Amount if the PO is available.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!IsPONumberRequiredILM}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_ILM</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Transaction_ID_ILM</name>
                    <dataType>String</dataType>
                    <fieldText>Transaction Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(205, 28, 28);&quot;&gt;Please enter the Transaction ID if the PO is available.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!IsPONumberRequiredILM}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_ILM</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TransactionProof_ILM</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Transaction Proof</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg, .png, .pdf, .doc, .txt</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(215, 27, 27);&quot;&gt;Please provide transaction proof.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!isTransactionUploaded_ILM}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_ILM</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayTransactionFileName_ILM</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(24, 22, 154);&quot;&gt;{!messageTxtForTransaction}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_Purchase_Order_Document_Upload_ILM</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>General_Purchase_Information_for_ILM_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Termss</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Error</name>
        <label>Opportunity Error</label>
        <locationX>2514</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>closeWonError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(218, 26, 26);&quot;&gt;Order cannot be created before the opportunity is closed won.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrderError</name>
        <label>Order Error</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>orderErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(218, 26, 26);&quot;&gt;Order already exists in the system. Please review the existing order details.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Purchase_Order</name>
        <label>Purchase Order</label>
        <locationX>798</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Purchase_Order_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Purchase_Order_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>quoteTerm</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Quote Term&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Payment_Term</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Quote_Term.Payment_Term__c</elementReference>
                    </defaultValue>
                    <fieldText>Advance Payment (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Warrenty_Terms</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Quote_Term.WarrantyTerm_In_Year__c</elementReference>
                    </defaultValue>
                    <fieldText>Warranty Terms  (Years)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Freight_Term</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Quote_Term.Freight_Terms__c</elementReference>
                    </defaultValue>
                    <fieldText>Freight Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Freight_Included</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Quote_Term.Freight_Includes__c</elementReference>
                    </defaultValue>
                    <fieldText>Freight Included</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Delivery_Terms_in_weeks_months</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DeliveryPeriodFormula</elementReference>
                    </defaultValue>
                    <fieldText>Delivery Terms (in weeks / months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Installation_Level</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Quote_Term.Installation_Level__c</elementReference>
                    </defaultValue>
                    <fieldText>Installation Level</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Purchase_Order_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>purchaseOrder</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Purchase Order&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Payment_Termss</name>
                    <dataType>Number</dataType>
                    <fieldText>Advance Payment (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Warranty_Term</name>
                    <dataType>Number</dataType>
                    <fieldText>Warranty Term (Years)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Freight_Termss</name>
                    <choiceReferences>freightterm</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Freight Term</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Freight_Included1</name>
                    <choiceReferences>FreightIncludes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Freight Included</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Order_Delivery_Terms_in_weeks_months</name>
                    <choiceReferences>DeliveryTermsPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Delivery Terms (in weeks / months)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Order_Installation_Level</name>
                    <choiceReferences>InstallationLevelPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Installation Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1156</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentDocLinkIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderProductIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedBranchFactoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContentDoclinkForChild</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varROrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>VarTContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varTransactionContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
