force-app/main/default/flows/Expense_Notification_FLow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IsEXRejected</name>
        <label>IsEXRejected</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>custom_notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notificationbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Notification_Body_and_title</name>
        <label>Assign Notification Body and title</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Notificationbody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Team Has Rejected Your Expense Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEXRejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Notification_Body_and_title</name>
        <label>Copy 1 of Assign Notification Body and title</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Notificationbody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manager Has Rejected Your Expense Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEXRejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Notification_Body_and_title</name>
        <label>Copy 2 of Assign Notification Body and title</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Notificationbody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Team Has Partially Approved Your Expense Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partially Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEXRejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Notification_Body_and_title</name>
        <label>Copy 3 of Assign Notification Body and title</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Notificationbody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Team Has  Approved Your Expense Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEXRejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Notification_Body_and_title</name>
        <label>Copy 5 of Assign Notification Body and title</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Notificationbody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manager  Has Partially  Approved Your Expense Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partially Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEXRejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Notification_Body_and_title</name>
        <label>Copy 6 of Assign Notification Body and title</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Notificationbody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manager  Has Approved Your Expense Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEXRejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recipient_Id</name>
        <label>Recipient Id</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Internal_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request not submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Assign_Notification_Body_and_title</targetReference>
            </connector>
            <label>Is Internal Approved</label>
        </rules>
        <rules>
            <name>Is_Internal_Partially_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request not submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Notification_Body_and_title</targetReference>
            </connector>
            <label>Is Internal Partially Approved</label>
        </rules>
        <rules>
            <name>Is_Internal_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request not submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Notification_Body_and_title</targetReference>
            </connector>
            <label>Is Internal Reject</label>
        </rules>
        <rules>
            <name>is_External_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Notification_Body_and_title</targetReference>
            </connector>
            <label>is External Rejected</label>
        </rules>
        <rules>
            <name>is_External_Partial_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Notification_Body_and_title</targetReference>
            </connector>
            <label>is External Partial Approved</label>
        </rules>
        <rules>
            <name>Is_External_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Notification_Body_and_title</targetReference>
            </connector>
            <label>Is External Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActive</name>
        <label>IsActive</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>custom_notification</targetReference>
            </connector>
            <label>IsmetaDataTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Expense Notification FLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expense Notification FLow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>custom_notification</name>
        <label>custom notification</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recipient_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_Expense_Approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <object>Expense__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Notificationbody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
