force-app/main/default/flows/GSTUpdate_OnQuoteLine_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Accessories</name>
        <label>Add Quote Lines to Quote Lines List for IDW Accessories</label>
        <locationX>1458</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>QuotelineUpdatedrecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Accessories_Export_Partner</name>
        <label>Add Quote Lines to Quote Lines List for IDW Accessories Export Partner</label>
        <locationX>1194</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>QuotelineUpdatedrecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Accessories_SEZ</name>
        <label>Add Quote Lines to Quote Lines List for IDW Accessories SEZ</label>
        <locationX>930</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>QuotelineUpdatedrecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Non_Accessories</name>
        <label>Add Quote Lines to Quote Lines List for IDW Non-Accessories</label>
        <locationX>2250</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>QuotelineUpdatedrecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Non_Accessories_Export_Partner</name>
        <label>Add Quote Lines to Quote Lines List for IDW Non-Accessories Export Partner</label>
        <locationX>1986</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>QuotelineUpdatedrecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Non_Accessories_SEZ</name>
        <label>Add Quote Lines to Quote Lines List for IDW Non-Accessories SEZ</label>
        <locationX>1722</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>QuotelineUpdatedrecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_ILM</name>
        <label>Add Quote Lines to Quote Lines List for ILM</label>
        <locationX>666</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>QuotelineUpdatedrecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_ILM_Export_Partner</name>
        <label>Add Quote Lines to Quote Lines List for ILM Export Partner</label>
        <locationX>402</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>QuotelineUpdatedrecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_ILM_SEZ</name>
        <label>Add Quote Lines to Quote Lines List for ILM SEZ</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>QuotelineUpdatedrecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Net_Amount</name>
        <label>Assign Net Amount</label>
        <locationX>1458</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>NetAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.SBQQ__NetTotal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Product_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Accessory_IDW_Record</name>
        <label>Assign Values to Accessory IDW Record</label>
        <locationX>1458</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST18</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST18TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Accessories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_IDW_Accessory_Record_for_Export_Partner</name>
        <label>Assign Values to IDW Accessory Record for Export Partner</label>
        <locationX>1194</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST1TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Accessories_Export_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_IDW_Accessory_Record_for_SEZ</name>
        <label>Assign Values to IDW Accessory Record for SEZ</label>
        <locationX>930</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST0TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Accessories_SEZ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_IDW_Non_Accessory_Record_for_Export_Partner</name>
        <label>Assign Values to IDW Non-Accessory Record for Export Partner</label>
        <locationX>1986</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST1TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Non_Accessories_Export_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_IDW_Non_Accessory_Record_for_SEZ</name>
        <label>Assign Values to IDW Non-Accessory Record for SEZ</label>
        <locationX>1722</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST0TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Non_Accessories_SEZ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_ILM_Record_for_Export_Partner</name>
        <label>Assign Values to ILM Record for Export Partner</label>
        <locationX>402</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST1TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_ILM_Export_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_ILM_Record_for_SEZ</name>
        <label>Assign Values to ILM Record for SEZ</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST0TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_ILM_SEZ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_ILM_Record_for_Standard</name>
        <label>Assign Values to ILM Record for Standard</label>
        <locationX>666</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST18</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST18TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_ILM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Non_Accessory_IDW_Record</name>
        <label>Assign Values to Non-Accessory IDW Record</label>
        <locationX>2250</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST28</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST28TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Line_Items.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>28.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Non_Accessories</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Product_Category</name>
        <label>Check Product Category</label>
        <locationX>1458</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsILM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Line_Items.SBQQ__Quote__r.SBQQ__Opportunity2__r.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Quote_Type_for_ILM</targetReference>
            </connector>
            <label>IsILM</label>
        </rules>
        <rules>
            <name>IsIDW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Line_Items.SBQQ__Quote__r.SBQQ__Opportunity2__r.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Product_Family</targetReference>
            </connector>
            <label>IsIDW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Family</name>
        <label>Check Product Family</label>
        <locationX>1590</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Check_the_Quote_Type_for_IDW_Non_Accessories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Line_Items.SBQQ__Product__r.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessories</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Quote_Type_for_IDW_Accessories</targetReference>
            </connector>
            <label>Is Accessory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Quote_Type_for_IDW_Accessories</name>
        <label>Check the Quote Type for IDW Accessories</label>
        <locationX>1194</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_Accessory_IDW_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_IDW_SEZ_Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Line_Items.SBQQ__Quote__r.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_IDW_Accessory_Record_for_SEZ</targetReference>
            </connector>
            <label>Is IDW SEZ Accessory</label>
        </rules>
        <rules>
            <name>Is_ILM_Export_Partner_Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Line_Items.SBQQ__Quote__r.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Export Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_IDW_Accessory_Record_for_Export_Partner</targetReference>
            </connector>
            <label>Is ILM Export Partner Accessory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Quote_Type_for_IDW_Non_Accessories</name>
        <label>Check the Quote Type for IDW Non-Accessories</label>
        <locationX>1986</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_Non_Accessory_IDW_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_IDW_SEZ_Non_Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Line_Items.SBQQ__Quote__r.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_IDW_Non_Accessory_Record_for_SEZ</targetReference>
            </connector>
            <label>Is IDW SEZ Non-Accessory</label>
        </rules>
        <rules>
            <name>Is_ILM_Export_Partner_Non_Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Line_Items.SBQQ__Quote__r.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Export Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_IDW_Non_Accessory_Record_for_Export_Partner</targetReference>
            </connector>
            <label>Is ILM Export Partner Non-Accessory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Quote_Type_for_ILM</name>
        <label>Check the Quote Type for ILM</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_ILM_Record_for_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_ILM_SEZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Line_Items.SBQQ__Quote__r.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_ILM_Record_for_SEZ</targetReference>
            </connector>
            <label>Is ILM SEZ</label>
        </rules>
        <rules>
            <name>Is_ILM_Export_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Line_Items.SBQQ__Quote__r.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Export Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_ILM_Record_for_Export_Partner</targetReference>
            </connector>
            <label>Is ILM Export Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActive</name>
        <label>IsActive</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Line_Items</targetReference>
            </connector>
            <label>IsmetaDataTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GST0</name>
        <dataType>Currency</dataType>
        <expression>({!NetAmount}*(0/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST0TotalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!NetAmount}+{!GST0}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST1</name>
        <dataType>Currency</dataType>
        <expression>({!NetAmount}*(1/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST18</name>
        <dataType>Currency</dataType>
        <expression>({!NetAmount}*(18/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST18TotalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!NetAmount}+{!GST18}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST1TotalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!NetAmount}+{!GST1}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST28</name>
        <dataType>Currency</dataType>
        <expression>({!NetAmount}*(28/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST28TotalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!NetAmount}+{!GST28}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>GSTUpdate_OnQuoteLine_Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GSTUpdate_OnQuoteLine_Triggered</label>
    <loops>
        <name>Loop_Through_Line_Items</name>
        <label>Loop Through Line Items</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Net_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateQuoteLine</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_exception</name>
        <label>create exception</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateQuoteLine</name>
        <label>UpdateQuoteLine</label>
        <locationX>50</locationX>
        <locationY>1739</locationY>
        <faultConnector>
            <targetReference>create_exception</targetReference>
        </faultConnector>
        <inputReference>QuotelineUpdatedrecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NetAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuotelineUpdatedrecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
