force-app/main/default/flows/Log_Expense_Sub_Flow_Advance_Version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>navigateToExistingRecord</name>
        <label>navigateToExistingRecord</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Existing_Expense_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>navigateToExpenseRecord</name>
        <label>navigateToExpenseRecord</label>
        <locationX>226</locationX>
        <locationY>5054</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Expense_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Upload_File_To_Azure</name>
        <label>Upload File To Azure</label>
        <locationX>226</locationX>
        <locationY>4838</locationY>
        <actionName>AzureFileUploadInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentLinkId</name>
            <value>
                <elementReference>contentDocLinkIdList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AzureFileUploadInvoker</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_content_doc_for_update</name>
        <label>Assign content doc for update</label>
        <locationX>314</locationX>
        <locationY>4238</locationY>
        <assignmentItems>
            <assignToReference>contentDocListForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Content_Doc_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Content_Doc_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_Version_ID</name>
        <label>Assign Content Version ID</label>
        <locationX>754</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>LineContentDocIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.linefileupload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalculatedAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.ExpenseAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_ContentDocIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ContentDocId_In_List</name>
        <label>Assign ContentDocId In List</label>
        <locationX>314</locationX>
        <locationY>3506</locationY>
        <assignmentItems>
            <assignToReference>ContentDocIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_ExpenseLineItemList.ContentDocId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Content_Doc_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ContentId_to_record</name>
        <label>Assign ContentId to record</label>
        <locationX>842</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>contentIdToLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_ContentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_ContentDocIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Account</name>
        <label>Assign Current Account</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>ListSelectedAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Visit_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Number_of_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_AccountId</name>
        <label>Assign Current AccountId</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>ListSelectedAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sourceObjectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Number_of_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_to_List</name>
        <label>Assign ID to List</label>
        <locationX>314</locationX>
        <locationY>4646</locationY>
        <assignmentItems>
            <assignToReference>contentDocLinkIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_content_doc_link_list.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_content_doc_link_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Accounts</name>
        <label>Assign Number of Accounts</label>
        <locationX>226</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>CountSelectedAccount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListSelectedAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_On_Account_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_id_Of_expences</name>
        <label>Assign Record id Of expences</label>
        <locationX>314</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>expeceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Expense_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_On_Account_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_selected_account</name>
        <label>assign selected account</label>
        <locationX>94</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>ListSelectedAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLookUp.recordIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Current_Account_Id_in_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Content_Doc_Link</name>
        <label>Create Content Doc Link</label>
        <locationX>314</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_ExpenseLineItemList.ContentDocId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_ExpenseLineItemList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_ExpenseLineItemList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Expense_Line_Item_Instance</name>
        <label>Create Expense Line Item Instance</label>
        <locationX>754</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_expences</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Expense_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>testCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.expslineType.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.expslineType.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.ExpRemark</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Document_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.Document_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.ContentDocId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentIdToLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Distance_Travelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_All_Items.Distance_Travelled_KM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemRec.Not_From_Travel_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExpenseLineItemRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_All_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_File_Name</name>
        <label>Update File Name</label>
        <locationX>314</locationX>
        <locationY>4130</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Content_Doc_Records.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedFileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_content_doc_for_update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TravelexpenseSubTypeMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please fill sub type in case of Travel Expense</stringValue>
        </value>
    </constants>
    <decisions>
        <name>chech_if_the_Visit_is_Multiday_Visit</name>
        <label>chech if the Visit is Multiday Visit</label>
        <locationX>226</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Check_Current_Account_Id_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Multiple_day_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMultidays</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Extra_Account_Screen</targetReference>
            </connector>
            <label>Yes Multiple day Visit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_Account_Id_in_Collection</name>
        <label>Check Current Account Id in Collection</label>
        <locationX>226</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Assign_Number_of_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListSelectedAccount</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Visit_Record.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sourceObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Number_of_Accounts</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
        <rules>
            <name>notExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sourceObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Account</targetReference>
            </connector>
            <label>notExist</label>
        </rules>
        <rules>
            <name>Add_For_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sourceObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_AccountId</targetReference>
            </connector>
            <label>Add For Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Expense_Logging_from_Account_or_Visit</name>
        <label>Check Expense Logging from Account or Visit?</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Expense_m</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Visit_Record</targetReference>
            </connector>
            <label>Visit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Expense_already_present_or_not</name>
        <label>Check if Expense already present or not?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ShowError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Show Error Message</defaultConnectorLabel>
        <rules>
            <name>Create_New_Expense_Record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Expense_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Expense_Record.Resubmission_Allowed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Expense_m</targetReference>
            </connector>
            <label>Create New Expense Record</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AdvanceReceivedPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Advance_Received__c</picklistField>
        <picklistObject>Expense__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExpenseLineType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Expense_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExpenseTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Expense__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Type__c</picklistField>
        <picklistObject>Expense_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>accountIdForExpenseCreation</name>
        <dataType>String</dataType>
        <expression>IF({!sourceObjectName} = &apos;Account&apos;,
{!sourceObjectId},
{!Get_Visit_Record.AccountId}
)</expression>
    </formulas>
    <formulas>
        <name>CalculatedAmout</name>
        <dataType>Number</dataType>
        <expression>{!Loop_On_All_Items.ExpenseAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>errorMessageOnTopPageFormula</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!errorMessageOnTop})&gt;0 , {!errorMessageOnTop}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>isDurationToDateGratherThanFromDate</name>
        <dataType>Boolean</dataType>
        <expression>{!Duration_To} &gt;= {!Duration_From}</expression>
    </formulas>
    <formulas>
        <name>IsMultidays</name>
        <dataType>Boolean</dataType>
        <expression>({!Duration_To}-{!Duration_From})&gt;=1</expression>
    </formulas>
    <formulas>
        <name>SubTypeErrorMessageCheck</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Expense_Type}, &apos;Travel Expense&apos;), &apos;* Please select sub type for travel expense.&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>testCalculation</name>
        <dataType>Currency</dataType>
        <expression>{!CalculatedAmount}/{!CountSelectedAccount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>updatedFileName</name>
        <dataType>String</dataType>
        <expression>&quot;Bill_&quot; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT(NOW()), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;:&quot;, &quot;&quot;), &quot;Z&quot;, &quot;&quot;) &amp; &quot;_&quot; &amp; {!Loop_on_Content_Doc_Records.Title}</expression>
    </formulas>
    <formulas>
        <name>visitIdForExpenseCreation</name>
        <dataType>String</dataType>
        <expression>IF({!sourceObjectName} = &apos;Visit&apos;,
{!sourceObjectId}, null)</expression>
    </formulas>
    <interviewLabel>Log Expense Sub Flow Advance Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Expense Sub Flow Advance Version</label>
    <loops>
        <name>loop_On_Account_Records</name>
        <label>loop On Account Records</label>
        <locationX>226</locationX>
        <locationY>1982</locationY>
        <collectionReference>ListSelectedAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Expense_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_on_expences</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_All_Items</name>
        <label>Loop On All Items</label>
        <locationX>578</locationX>
        <locationY>2498</locationY>
        <collectionReference>LineItems.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_Version_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_on_expences</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_content_doc_link_list</name>
        <label>loop on content doc link list</label>
        <locationX>226</locationX>
        <locationY>4538</locationY>
        <collectionReference>ContentDocumentLinkList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ID_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Upload_File_To_Azure</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Content_Doc_Records</name>
        <label>Loop on Content Doc Records</label>
        <locationX>226</locationX>
        <locationY>4022</locationY>
        <collectionReference>Get_Content_Doc_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_File_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Content_Doc_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_ContentDocIds</name>
        <label>Loop on ContentDocIds</label>
        <locationX>754</locationX>
        <locationY>2714</locationY>
        <collectionReference>LineContentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ContentId_to_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Expense_Line_Item_Instance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_expences</name>
        <label>loop on expences</label>
        <locationX>226</locationX>
        <locationY>2390</locationY>
        <collectionReference>expeceIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_On_All_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Expense_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_ExpenseLineItemList</name>
        <label>Loop on ExpenseLineItemList</label>
        <locationX>226</locationX>
        <locationY>3398</locationY>
        <collectionReference>ExpenseLineItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ContentDocId_In_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Doc_Link_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Doc_Link_Records</name>
        <label>Create Content Doc Link Records</label>
        <locationX>226</locationX>
        <locationY>3806</locationY>
        <connector>
            <targetReference>Get_Content_Doc_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_all_changes</targetReference>
        </faultConnector>
        <inputReference>ContentDocumentLinkList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Expense_Line_Item</name>
        <label>Create Expense Line Item</label>
        <locationX>226</locationX>
        <locationY>3290</locationY>
        <connector>
            <targetReference>Loop_on_ExpenseLineItemList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_all_changes</targetReference>
        </faultConnector>
        <inputReference>ExpenseLineItemList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Expense_Record</name>
        <label>Create Expense Record</label>
        <locationX>314</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Assign_Record_id_Of_expences</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>loop_On_Account_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Amount__c</field>
            <value>
                <elementReference>Advance_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Received__c</field>
            <value>
                <elementReference>Advance_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_From__c</field>
            <value>
                <elementReference>Duration_From</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_To__c</field>
            <value>
                <elementReference>Duration_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Expense_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit__c</field>
            <value>
                <elementReference>visitIdForExpenseCreation</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Doc_Records</name>
        <label>Get Content Doc Records</label>
        <locationX>226</locationX>
        <locationY>3914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Content_Doc_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_all_changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Expense_Record</name>
        <label>Get Existing Expense Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Expense_already_present_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visit_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Visit_Record</name>
        <label>Get Visit Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Expense_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sourceObjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_all_changes</name>
        <label>Rollback all changes</label>
        <locationX>1590</locationX>
        <locationY>3398</locationY>
        <connector>
            <targetReference>Fault_Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Content_Doc_Records</name>
        <label>Update Content Doc Records</label>
        <locationX>226</locationX>
        <locationY>4430</locationY>
        <connector>
            <targetReference>loop_on_content_doc_link_list</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_all_changes</targetReference>
        </faultConnector>
        <inputReference>contentDocListForUpdate</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Add_Extra_Account_Screen</name>
        <label>Add Extra Account Screen</label>
        <locationX>94</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_selected_account</targetReference>
        </connector>
        <fields>
            <name>massage_multidays</name>
            <fieldText>&lt;p&gt;This is a Multidays Visit Please Add Accounts If the Expenss is for multiple Account&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AccountLookUp</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>50.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>ListSelectedAccount</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(173, 22, 22);&quot;&gt;{!$Label.Error_Message_Log_Expense}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 33, 33); font-size: 10px;&quot;&gt;Please share following details with your admin - &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 33, 33); font-size: 10px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Error_Message</name>
        <label>Fault Error  Message</label>
        <locationX>1590</locationX>
        <locationY>3506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(173, 22, 22);&quot;&gt;{!$Label.Error_Message_Log_Expense}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 33, 33); font-size: 10px;&quot;&gt;Please share following details with your admin - &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 33, 33); font-size: 10px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Log_Expense_m</name>
        <label>Log Expense</label>
        <locationX>226</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>chech_if_the_Visit_is_Multiday_Visit</targetReference>
        </connector>
        <fields>
            <name>Log_Expense_m_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Log_Expense_m_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expense_Type</name>
                    <choiceReferences>ExpenseTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Local</stringValue>
                    </defaultValue>
                    <fieldText>Expense Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Duration_From</name>
                    <dataType>Date</dataType>
                    <fieldText>Duration From</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Expense_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Out Station</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Duration_To</name>
                    <dataType>Date</dataType>
                    <fieldText>Duration To</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 25, 25);&quot;&gt;Duration To date should be grater then Duration From date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!isDurationToDateGratherThanFromDate}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Expense_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Out Station</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Log_Expense_m_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Advance_Received</name>
                    <choiceReferences>AdvanceReceivedPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>No</stringValue>
                    </defaultValue>
                    <fieldText>Advance Received</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Advance_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Advance Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Advance_Received</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LineItems</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>expslineType</name>
                <extensionName>flowruntime:dependentPicklists</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>dependencyWrapperApiName</name>
                    <value>
                        <stringValue>Expense_Line_Item__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topPicklistApiName</name>
                    <value>
                        <stringValue>Type__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middlePicklistApiName</name>
                    <value>
                        <stringValue>Sub_Type__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topLabel</name>
                    <value>
                        <stringValue>Type</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topRequired</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middleLabel</name>
                    <value>
                        <stringValue>Sub Type</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middleRequired</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topValue</name>
                    <value>
                        <stringValue>Travel Expense	</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middleValue</name>
                    <value>
                        <stringValue>Cab</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Distance_Travelled_KM</name>
                <dataType>Number</dataType>
                <fieldText>Distance Travelled (KM)</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Please fill only when type is selected as Travel Expense.	&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>ExpenseAmount</name>
                <dataType>Currency</dataType>
                <fieldText>Expense Amount</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Document_Date</name>
                <dataType>Date</dataType>
                <fieldText>Document Date</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Date when relevant bill is generated.&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <validationRule>
                    <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(202, 21, 21);&quot;&gt;Document date can not be future date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                    <formulaExpression>{!LineItems.AllItems[$EachItem].Document_Date} &lt;= TODAY()</formulaExpression>
                </validationRule>
            </fields>
            <fields>
                <name>ExpRemark</name>
                <dataType>String</dataType>
                <fieldText>Remark</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>linefileupload</name>
                <extensionName>forceContent:fileUpload</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Upload Bill</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>accept</name>
                    <value>
                        <stringValue>.jpg, .png, .pdf, .doc, .txt</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>multiple</name>
                    <value>
                        <booleanValue>false</booleanValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <validationRule>
                    <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 24, 24); background-color: rgb(255, 255, 255);&quot;&gt;Please upload the related bill.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                    <formulaExpression>IF(LEN({!LineItems.AllItems[$EachItem].linefileupload.contentDocIds})&gt; 2, TRUE, FALSE)</formulaExpression>
                </validationRule>
            </fields>
            <fields>
                <name>displayLineFileName</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(47, 64, 195); background-color: rgb(255, 255, 255);&quot;&gt;{!LineItems.AllItems[$EachItem].linefileupload.fileNames}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Success</name>
        <label>Show Success</label>
        <locationX>226</locationX>
        <locationY>4946</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>navigateToExpenseRecord</targetReference>
        </connector>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(9, 186, 28);&quot;&gt;{!$Label.Success_Message_Log_Expense}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowError</name>
        <label>Show Error</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>navigateToExistingRecord</targetReference>
        </connector>
        <fields>
            <name>showErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.Existing_Expense_Error_Message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Check Expense</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Expense_Logging_from_Account_or_Visit</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>CalculatedAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContentDocIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocLinkIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocListForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentIdToLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountSelectedAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>this variable is used to show the error message on top of the screen.</description>
        <name>errorMessageOnTop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expeceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpenseLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ExpenseLineItemRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>isErrorOnSubType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LineContentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListSelectedAccount</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
