force-app/main/default/flows/Notification_Schedule_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_owner</name>
        <label>Send Notification to owner</label>
        <locationX>2514</locationX>
        <locationY>900</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>You Have Visit Suggestion</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>OwnerIds_Assignments</name>
        <label>OwnerIds Assignments</label>
        <locationX>2514</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Frequency_type_Scheduled</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Bypass_Flow</name>
        <label>Check Bypass Flow</label>
        <locationX>424</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Is_New_Account_Or_Frequency_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Bypass Flow</defaultConnectorLabel>
        <rules>
            <name>Is_Bypass_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Bypass Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Bypass_Flow_for_Scheduled_Path</name>
        <label>Check Bypass Flow for Scheduled Path</label>
        <locationX>2118</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>get_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Bypass Flow for Scheduled Path</defaultConnectorLabel>
        <rules>
            <name>Is_Bypass_Flow_for_Scheduled_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Bypass Flow for Scheduled Path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Frequency_type</name>
        <label>Check Frequency type</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Daiy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Daily</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Daily</targetReference>
            </connector>
            <label>Daiy</label>
        </rules>
        <rules>
            <name>Weekly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Weekly</targetReference>
            </connector>
            <label>Weekly</label>
        </rules>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_for_Monthly</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>Quarterly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Quarterly</targetReference>
            </connector>
            <label>Quarterly</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Frequency_type_Scheduled</name>
        <label>Check Frequency type Scheduled</label>
        <locationX>2514</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_to_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Daiy_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Daily</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Daily_Scheduled</targetReference>
            </connector>
            <label>Daiy Scheduled</label>
        </rules>
        <rules>
            <name>Weekly_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Weekly_Scheduled</targetReference>
            </connector>
            <label>Weekly Scheduled</label>
        </rules>
        <rules>
            <name>Monthly_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_for_Monthly_Scheduled</targetReference>
            </connector>
            <label>Monthly Scheduled</label>
        </rules>
        <rules>
            <name>Quarterly_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Quarterly_Scheduled</targetReference>
            </connector>
            <label>Quarterly Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Account_Or_Frequency_Update</name>
        <label>Is New Account Or Frequency Update</label>
        <locationX>1062</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Account</name>
            <conditionLogic>3 AND (1 OR 2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Frequency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Frequency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Visit_Count__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Frequency_type</targetReference>
            </connector>
            <label>New Account</label>
        </rules>
        <rules>
            <name>Inauguration_Date_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inauguration_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inauguration_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_for_Weekly</targetReference>
            </connector>
            <label>Inauguration Date Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>nextNotificationDateDaily</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
    TEXT(
        YEAR(TODAY() + 1)
    ) + &quot;-&quot; +
    TEXT(
        MONTH(TODAY() + 1)
    ) + &quot;-&quot; +
    TEXT(
        DAY(TODAY() + 1)
    ) + &quot; 04:29:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>nextNotificationDateFromPrevious</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT(
YEAR(DATEVALUE({!$Record.Next_Notification__c})) +
FLOOR((MONTH(DATEVALUE({!$Record.Next_Notification__c})) + 1 - 1) / 12)
) + &quot;-&quot; +
TEXT(
MOD(MONTH(DATEVALUE({!$Record.Next_Notification__c})) + 1 - 1, 12) + 1
) + &quot;-&quot; +
TEXT(
IF(
DAY(DATEVALUE({!$Record.Next_Notification__c})) &gt;
DAY(DATE(YEAR(DATEVALUE({!$Record.Next_Notification__c})),
MONTH(DATEVALUE({!$Record.Next_Notification__c})) + 1,
1) - 1),
DAY(DATE(YEAR(DATEVALUE({!$Record.Next_Notification__c})),
MONTH(DATEVALUE({!$Record.Next_Notification__c})) + 1,
1) - 1),
DAY(DATEVALUE({!$Record.Next_Notification__c}))
)
) + &quot; 04:29:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>nextnotificationdateMonthly</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
    TEXT(
        YEAR(TODAY()) + 
        FLOOR((MONTH(TODAY()) + 1 - 1) / 12)
    ) + &quot;-&quot; +
    TEXT(
        MOD(MONTH(TODAY()) + 1 - 1, 12) + 1
    ) + &quot;-&quot; +
    TEXT(
        IF(
            DAY(TODAY()) &gt; 
            DAY(DATE(YEAR(TODAY()), 
                     MONTH(TODAY()) + 1, 
                     1) - 1), 
            DAY(DATE(YEAR(TODAY()), 
                     MONTH(TODAY()) + 1, 
                     1) - 1), 
            DAY(TODAY())
        )
    ) + &quot; 04:29:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>nextNotificationDateQuarterly</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT(
YEAR(
DATE(
YEAR(TODAY()),
MONTH(TODAY()) + 3,
IF(
DAY(TODAY()) &gt; DAY(DATE(YEAR(TODAY()), MONTH(TODAY()) + 5, 1) - 1),
DAY(DATE(YEAR(TODAY()), MONTH(TODAY()) + 5, 1) - 1),
DAY(TODAY())
)
)
)
) + &quot;-&quot; +
TEXT(
MONTH(
DATE(
YEAR(TODAY()),
MONTH(TODAY()) + 4,
IF(
DAY(TODAY()) &gt; DAY(DATE(YEAR(TODAY()), MONTH(TODAY()) + 5, 1) - 1),
DAY(DATE(YEAR(TODAY()), MONTH(TODAY()) + 5, 1) - 1),
DAY(TODAY())
)
)
)
) + &quot;-&quot; +
TEXT(
IF(
DAY(TODAY()) &gt; DAY(DATE(YEAR(TODAY()), MONTH(TODAY()) + 5, 1) - 1),
DAY(DATE(YEAR(TODAY()), MONTH(TODAY()) + 5, 1) - 1),
DAY(TODAY())
)
) + &quot; 04:29:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>nextNotificationDateWeekly</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
    TEXT(
        YEAR(TODAY() + 7)
    ) + &quot;-&quot; +
    TEXT(
        MONTH(TODAY() + 7)
    ) + &quot;-&quot; +
    TEXT(
        DAY(TODAY() + 7)
    ) + &quot; 04:29:00&quot;
)</expression>
    </formulas>
    <interviewLabel>Notification Schedule on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification Schedule on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Notification</name>
        <label>get Notification</label>
        <locationX>2514</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OwnerIds_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frequently_Notification_to_Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_for_Weekly</name>
        <label>Copy 1 of Update for Weekly</label>
        <locationX>1282</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Next_Notification__c</field>
            <value>
                <elementReference>nextNotificationDateWeekly</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Daily</name>
        <label>Update for Daily</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Next_Notification__c</field>
            <value>
                <elementReference>nextNotificationDateDaily</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Daily_Scheduled</name>
        <label>Update for Daily Scheduled</label>
        <locationX>1986</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Send_Notification_to_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Notification__c</field>
            <value>
                <elementReference>nextNotificationDateDaily</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_for_Monthly</name>
        <label>update for Monthly</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Next_Notification__c</field>
            <value>
                <elementReference>nextnotificationdateMonthly</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_for_Monthly_Scheduled</name>
        <label>update for Monthly Scheduled</label>
        <locationX>2514</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Send_Notification_to_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Notification__c</field>
            <value>
                <elementReference>nextnotificationdateMonthly</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Quarterly</name>
        <label>Update for Quarterly</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Next_Notification__c</field>
            <value>
                <elementReference>nextNotificationDateQuarterly</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Quarterly_Scheduled</name>
        <label>Update for Quarterly Scheduled</label>
        <locationX>2778</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Send_Notification_to_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Notification__c</field>
            <value>
                <elementReference>nextNotificationDateQuarterly</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Weekly</name>
        <label>Update for Weekly</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Next_Notification__c</field>
            <value>
                <elementReference>nextNotificationDateWeekly</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Weekly_Scheduled</name>
        <label>Update for Weekly Scheduled</label>
        <locationX>2250</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Send_Notification_to_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Notification__c</field>
            <value>
                <elementReference>nextNotificationDateWeekly</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1145</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Bypass_Flow</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>next_notification_path</name>
            <connector>
                <targetReference>Check_Bypass_Flow_for_Scheduled_Path</targetReference>
            </connector>
            <label>next notification path</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Next_Notification__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please Make sure You Visit {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>OwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
