force-app/main/default/flows/Order_Before_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Advanced_amount_is_committed</name>
        <label>Advanced amount is committed</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Advance_less_than_Payment_Term_committed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Order_Owner</name>
        <label>Update Order Owner</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Order_Status</name>
        <label>Update Order Status</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SO created</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Entry_Criteria</name>
        <label>Check Entry Criteria</label>
        <locationX>446</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_amount_is_less_to_committed_amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Advance_Received_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>checkCommitedAmount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Advance_less_than_Payment_Term_committed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Advanced_amount_is_committed</targetReference>
            </connector>
            <label>If amount is less to committed amount</label>
        </rules>
        <rules>
            <name>Check_SO_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check SO Status</label>
        </rules>
        <rules>
            <name>Order_Status_Changed_to_PO_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Owner</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Order Status Changed to PO Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActive</name>
        <label>IsActive</label>
        <locationX>776</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Term</targetReference>
            </connector>
            <label>IsmetaDataTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>checkCommitedAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.TotalAmount} * ({!Get_Quote_Term.Payment_Term__c} / 100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Order- Before Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order- Before Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>776</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Term</name>
        <label>Get Quote Term</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Entry_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
