force-app/main/default/flows/Order_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_of_CEO_Approved</name>
        <label>Notification of CEO Approved</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_Execution_Condition</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Approval_Notification_Type_of_CEO.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Your Order is Approved </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>approvedByCEO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notification_of_CEO_Rejected</name>
        <label>Notification of CEO Rejected</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_Execution_Condition</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Rejected_Notification_Type_of_CEO.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Your Order is Rejected </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RejectedbyCEO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notification_of_NSM_Approved</name>
        <label>Notification of NSM Approved</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_Execution_Condition</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Approval_Notification_Type1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Your Order is Approved </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>siteReadinessApprovedBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notification_of_NSM_Rejected</name>
        <label>Notification of NSM Rejected</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_Execution_Condition</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Rejected_Notification_Type_of_NSM.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Your Order is Rejected </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>siteReadinessRejectedBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Order_Approval_Notification</name>
        <label>Send Order Approval Notification</label>
        <locationX>490</locationX>
        <locationY>1979</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Approval_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>OrderApprovalNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>OrderApprovalNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Order_Creation_Notification</name>
        <label>Send Order Creation Notification</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_Execution_Condition</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Order_Creation_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OrderRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>OrderCreationNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>OrderCreationNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Recipient</name>
        <label>Assign Recipient</label>
        <locationX>490</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Order_Approval_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipients</name>
        <label>Assign Recipients</label>
        <locationX>402</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>OrderRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Group_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Recipient</name>
        <label>Copy 1 of Assign Recipient</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_of_CEO_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Recipient</name>
        <label>Copy 1 of Copy 1 of Assign Recipient</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_of_CEO_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Assign_Recipient</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Assign Recipient</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_of_NSM_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Recipient</name>
        <label>Copy 2 of Assign Recipient</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_of_NSM_Approved</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Execution_Condition</name>
        <label>Check Execution Condition</label>
        <locationX>1106</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Approval_Notification</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Approval_Notification_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Order Approval Notification</label>
        </rules>
        <rules>
            <name>Installation_Date_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Post_Purchase_Visit</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Installation Date Updated</label>
        </rules>
        <rules>
            <name>SO_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_Bill_To_Ship_To</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>SO Created</label>
        </rules>
        <rules>
            <name>If_GST_PAN_CIN_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GST_No__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIN_No__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PAN_No__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_with_GST_PAN_CIN</targetReference>
            </connector>
            <label>If GST, PAN, CIN Updated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Appropriate_Commercial_Validator</name>
        <label>Check For Appropriate Commercial Validator</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Execution_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>LDW</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Validator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exports</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GeM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Commercial_Validator_For_ILM</targetReference>
            </connector>
            <label>ILM</label>
        </rules>
        <rules>
            <name>IDW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Commercial_Validator_For_IDW</targetReference>
            </connector>
            <label>IDW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Notification_Conditions</name>
        <label>Check Notification Conditions</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Execution_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Newly_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Appropriate_Commercial_Validator</targetReference>
            </connector>
            <label>Newly Created</label>
        </rules>
        <rules>
            <name>Approval_By_CEO_Bell_Notification</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Approval_Notification_Type_of_CEO</targetReference>
            </connector>
            <label>Approval By CEO Bell Notification</label>
        </rules>
        <rules>
            <name>Rejected_By_CEO_Bell_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Notification_Type_of_CEO</targetReference>
            </connector>
            <label>Rejected By CEO Bell Notification</label>
        </rules>
        <rules>
            <name>Approval_Status_of_Site_Readiness</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site_Readiness_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by NSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Approval_Notification_Type1</targetReference>
            </connector>
            <label>Approval  Status of  Site Readiness</label>
        </rules>
        <rules>
            <name>Rejection_of_Site_Rediness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site_Readiness_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by NSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Notification_Type_of_NSM</targetReference>
            </connector>
            <label>Rejection of Site Rediness</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActive</name>
        <label>IsActive</label>
        <locationX>1590</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Notification_Conditions</targetReference>
            </connector>
            <label>IsmetaDataTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Bill_To_Ship_To</name>
        <label>Match Bill To &amp; Ship To</label>
        <locationX>1106</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Matched</defaultConnectorLabel>
        <rules>
            <name>Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bill_To_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Ship_To_Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_Account</targetReference>
            </connector>
            <label>Matched</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>OrderId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>VisitDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Installation_Date__c} +7</expression>
    </formulas>
    <formulas>
        <name>Year</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(DATEVALUE({!$Record.CreatedDate})))</expression>
    </formulas>
    <interviewLabel>Order - After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - After Save Flow</label>
    <loops>
        <name>Loop_On_Group_Members</name>
        <label>Loop On Group Members</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Group_Member_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Recipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Order_Creation_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Post_Purchase_Visit</name>
        <label>Create Post Purchase Visit</label>
        <locationX>754</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>After_Purchase_Visit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedVisitStartTime</field>
            <value>
                <elementReference>VisitDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisitPriority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_From__c</field>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Type__c</field>
            <value>
                <stringValue>Post Site Inspection</stringValue>
            </value>
        </inputAssignments>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Custom_Approval_Notification_Type_of_CEO</name>
        <label>Custom Approval Notification Type of CEO</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Approval_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>1590</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Commercial_Validator_For_IDW</name>
        <label>Get Commercial Validator For IDW</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Member_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial_Validator_IDW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Commercial_Validator_For_ILM</name>
        <label>Get Commercial Validator For ILM</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Member_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial_Validator_ILM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Approval_Notification_Type</name>
        <label>Get Custom Approval Notification Type</label>
        <locationX>490</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Approval_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Approval_Notification_Type1</name>
        <label>Get Custom Approval Notification Type</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Assign_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Approval_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Member_List</name>
        <label>Get Group Member List</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Group_Members</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Commercial_Validator_For_IDW.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Commercial_Validator_For_ILM.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Creation_Notification</name>
        <label>Get Order Creation Notification</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Order_Creation_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Creation_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Rejected_Notification_Type_of_CEO</name>
        <label>Rejected Notification Type of CEO</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Approval_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Rejected_Notification_Type_of_NSM</name>
        <label>Rejected Notification Type of NSM</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Assign_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Approval_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_with_GST_PAN_CIN</name>
        <label>Update  Account with GST/PAN/CIN</label>
        <locationX>1458</locationX>
        <locationY>1763</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CIN_Number__c</field>
            <value>
                <elementReference>$Record.CIN_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GST_Number__c</field>
            <value>
                <elementReference>$Record.GST_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAN_Number__c</field>
            <value>
                <elementReference>$Record.PAN_No__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_Account</name>
        <label>Update Child Account</label>
        <locationX>1106</locationX>
        <locationY>2063</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_to_Customer_Id__c</field>
            <value>
                <elementReference>$Record.Bill_To_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Id__c</field>
            <value>
                <elementReference>$Record.Ship_To_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Account</name>
        <label>Update Parent Account</label>
        <locationX>1194</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_Child_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Id__c</field>
            <value>
                <elementReference>$Record.Bill_To_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1464</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>approvedByCEO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Order Name   {!$Record.OrderNumber} is Approved by the CEO!</text>
    </textTemplates>
    <textTemplates>
        <name>OrderApprovalNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Order Number : {!$Record.OrderNumber} 
Order Amount : {!$Record.TotalAmount}</text>
    </textTemplates>
    <textTemplates>
        <name>OrderApprovalNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>PO has been approved by the Accountant Team.</text>
    </textTemplates>
    <textTemplates>
        <name>OrderCreationNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Opportunity Name - {!$Record.Opportunity.Name}
Order Number - {!$Record.OrderNumber}
Order Amount - {!$Record.TotalAmount}</text>
    </textTemplates>
    <textTemplates>
        <name>OrderCreationNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Order Created - {!$Record.OrderNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectedbyCEO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your order {!$Record.OrderNumber} is rejected by the CEO</text>
    </textTemplates>
    <textTemplates>
        <name>siteReadinessApprovedBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your order {!$Record.OrderNumber} is approved for Site Readiness  by the NSM</text>
    </textTemplates>
    <textTemplates>
        <name>siteReadinessRejectedBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your order {!$Record.OrderNumber} is approved for Site Readiness  by the NSM</text>
    </textTemplates>
    <variables>
        <name>NSMId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nsmIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
