force-app/main/default/flows/Price_and_cost_Editable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addCostLineitemId</name>
        <label>addCostLineitemId</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>CostEditableQuotelineId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addListLineitemId</name>
        <label>addListLineitemId</label>
        <locationX>754</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>PriceeditableQuotelineId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addCostLineitemId</name>
        <label>Copy 1 of addCostLineitemId</label>
        <locationX>1634</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>CostEditableQuotelineId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addListLineitemId</name>
        <label>Copy 1 of addListLineitemId</label>
        <locationX>2074</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>PriceeditableQuotelineId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_cost_price_editable</name>
        <label>check cost price editable</label>
        <locationX>226</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>addCostLineitemId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.SBQQ__CostEditable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>isTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_List_price_editable</name>
        <label>check List price editable</label>
        <locationX>666</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>addListLineitemId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_list_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.SBQQ__PriceEditable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>is list true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PriceEditable_Checkbox</name>
        <label>Check PriceEditable Checkbox</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_cost_Editable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQuoteLInesfortrue</targetReference>
            </connector>
            <label>Is true</label>
        </rules>
        <rules>
            <name>Is_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_cost_Editable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQuoteLInesforFalse</targetReference>
            </connector>
            <label>Is false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_cost_price_editable</name>
        <label>Copy 1 of check cost price editable</label>
        <locationX>1546</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_addCostLineitemId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iscostFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Loop_1.SBQQ__CostEditable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Loop_1</targetReference>
            </connector>
            <label>isfalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_List_price_editable</name>
        <label>Copy 1 of check List price editable</label>
        <locationX>1986</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_addListLineitemId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>islistfalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.SBQQ__PriceEditable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Loop_1</targetReference>
            </connector>
            <label>is false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Product_have_cost_listdes</name>
        <label>Copy 1 of Product have cost/listdes</label>
        <locationX>1942</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Iscost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Loop_1.SBQQ__PricingMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_check_cost_price_editable</targetReference>
            </connector>
            <label>Copy 1 of Iscost</label>
        </rules>
        <rules>
            <name>Copy_1_of_Islist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Loop_1.SBQQ__PricingMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_check_List_price_editable</targetReference>
            </connector>
            <label>Copy 1 of Islist</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActive</name>
        <label>IsActive</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PriceEditable_Checkbox</targetReference>
            </connector>
            <label>IsmetaDataTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_have_cost_listdes</name>
        <label>Product have cost/listdes</label>
        <locationX>622</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Iscost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.SBQQ__PricingMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_cost_price_editable</targetReference>
            </connector>
            <label>Iscost</label>
        </rules>
        <rules>
            <name>Islist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.SBQQ__PricingMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_List_price_editable</targetReference>
            </connector>
            <label>Islist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Price and cost Editable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Price and cost Editable</label>
    <loops>
        <name>Copy_1_of_Loop_1</name>
        <label>Copy 1 of Loop 1</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <collectionReference>getQuoteLInesforFalse</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Product_have_cost_listdes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_UpdateCosyquotelineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>getQuoteLInesfortrue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_have_cost_listdes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCosyquotelineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuoteLInesforFalse</name>
        <label>getQuoteLInesforFalse</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuoteLInesfortrue</name>
        <label>getQuoteLInesfortrue</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_UpdateCosyquotelineItem</name>
        <label>Copy 1 of UpdateCosyquotelineItem</label>
        <locationX>1370</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Copy_1_of_UpdateListquotelineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CostEditableQuotelineId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrentValidationTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__CostEditable__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_UpdateListquotelineItem</name>
        <label>Copy 1 of UpdateListquotelineItem</label>
        <locationX>1370</locationX>
        <locationY>1547</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>PriceeditableQuotelineId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrentValidationTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PriceEditable__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCosyquotelineItem</name>
        <label>UpdateCosyquotelineItem</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>UpdateListquotelineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CostEditableQuotelineId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrentValidationTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__CostEditable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateListquotelineItem</name>
        <label>UpdateListquotelineItem</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>PriceeditableQuotelineId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrentValidationTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PriceEditable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price_cost_Editable__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CostEditableQuotelineId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceeditableQuotelineId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
