force-app/main/default/flows/Quote_Clone_with_Related.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Quote_Line_Values_for_Cloned_Quotelines</name>
        <label>Assign Quote Line Values for Cloned Quotelines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.CurrentValidationTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.CurrentValidationTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.GST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__Bundle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__Bundle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__Bundled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__Bundled__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__BundledQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__BundledQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__CarryoverLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__CarryoverLine__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__ChargeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__ChargeType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__ComponentCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__ComponentCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__ComponentDiscountedByPackage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__ComponentDiscountedByPackage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__ComponentListTotal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__ComponentListTotal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__ComponentSubscriptionScope__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__ComponentSubscriptionScope__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__ComponentTotal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__ComponentTotal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__ComponentUpliftedByPackage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__ComponentUpliftedByPackage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__CompoundDiscountRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__CompoundDiscountRate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__ConfigurationRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__ConfigurationRequired__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__ContractedPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__ContractedPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__CostEditable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__CostEditable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__CustomerPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__CustomerPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__DefaultSubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__DefaultSubscriptionTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__Dimension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__Dimension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__DiscountSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__DiscountSchedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__DiscountScheduleType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__DiscountScheduleType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__DiscountTier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__DiscountTier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__DistributorDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__DistributorDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__DynamicOptionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__DynamicOptionId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__EarliestValidAmendmentStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__EarliestValidAmendmentStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__Existing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__Existing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__Favorite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__Favorite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__GenerateContractedPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__GenerateContractedPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__GrossProfit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__GrossProfit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleQuoteLine.SBQQ__Guidance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quotelines.SBQQ__Guidance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Quotelines</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;footer&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_if_Quote_Lines_are_present</name>
        <label>Check if Quote Lines are present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Does not have Quotelines</defaultConnectorLabel>
        <rules>
            <name>Has_Quotelines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Quote_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Quote_Lines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Line_Table</targetReference>
            </connector>
            <label>Has Quotelines</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote - Clone with Related {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Clone with Related</label>
    <loops>
        <name>Loop_Through_Quotelines</name>
        <label>Loop Through Quotelines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>VarSelectedQuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Quote_Line_Values_for_Cloned_Quotelines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quotelines_Related_to_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote_for_Quotelines_Present</name>
        <label>Create Quote for Quotelines Present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>VarClonedQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Through_Quotelines</targetReference>
        </connector>
        <inputAssignments>
            <field>Actual_Delivery_Period__c</field>
            <value>
                <elementReference>Get_Quote_Record.Actual_Delivery_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Feature_Added__c</field>
            <value>
                <elementReference>Get_Quote_Record.Additional_Feature_Added__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Detail__c</field>
            <value>
                <elementReference>Get_Quote_Record.Bank_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>Get_Quote_Record.Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Delivery_Period__c</field>
            <value>
                <elementReference>Get_Quote_Record.Expected_Delivery_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Terms__c</field>
            <value>
                <elementReference>Get_Quote_Record.Freight_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fright_Charges__c</field>
            <value>
                <elementReference>Get_Quote_Record.Fright_Charges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Level__c</field>
            <value>
                <elementReference>Get_Quote_Record.Installation_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Split_ratio__c</field>
            <value>
                <elementReference>Get_Quote_Record.Payment_Split_ratio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>Get_Quote_Record.Payment_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Type__c</field>
            <value>
                <elementReference>Get_Quote_Record.Quote_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Markup__c</field>
            <value>
                <elementReference>Get_Quote_Record.Reason_for_Markup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Quote_Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingCity__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__BillingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingCountry__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__BillingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingName__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__BillingName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingPostalCode__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__BillingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingState__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__BillingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingStreet__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__BillingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ContractingMethod__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__ContractingMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ExpirationDate__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__ExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__LastCalculatedOn__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__LastCalculatedOn__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__LastSavedOn__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__LastSavedOn__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__LineItemsGrouped__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__LineItemsGrouped__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__LineItemsPrinted__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__LineItemsPrinted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaperSize__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__PaperSize__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaymentTerms__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__PaymentTerms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PriceBook__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__PriceBook__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__PricebookId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PrimaryContact__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__PrimaryContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SalesRep__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__SalesRep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingCity__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__ShippingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingCountry__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__ShippingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingName__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__ShippingName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingPostalCode__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__ShippingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingState__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__ShippingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingStreet__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__ShippingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Source__c</field>
            <value>
                <elementReference>Get_Quote_Record.SBQQ__Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarrantyTerm_In_Year__c</field>
            <value>
                <elementReference>Get_Quote_Record.WarrantyTerm_In_Year__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quotelines_Related_to_Quote</name>
        <label>Create Quotelines Related to Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarQuoteID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Quote_Lines</name>
        <label>Get Related Quote Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Quote_Lines_are_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarQuoteID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Quote_Line_Table</name>
        <label>Quote Line Table</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Quote_for_Quotelines_Present</targetReference>
        </connector>
        <fields>
            <name>QuoteLineTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SBQQ__QuoteLine__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose Quote Lines</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Quote_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2b80&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Line Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SBQQ__ProductName__c&quot;,&quot;guid&quot;:&quot;column-e937&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SBQQ__Quantity__c&quot;,&quot;guid&quot;:&quot;column-135f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;SBQQ__MarkupAmount__c&quot;,&quot;guid&quot;:&quot;column-32fb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Markup (Amt)&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;SBQQ__MarkupRate__c&quot;,&quot;guid&quot;:&quot;column-6f47&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Markup (%)&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;Custom_Discount__c&quot;,&quot;guid&quot;:&quot;column-22a9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Custom Discount&quot;,&quot;type&quot;:&quot;customPercent&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_Related_Quote_Lines</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarSelectedQuoteLines</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>VarClonedQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSelectedQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>VarSingleQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
