force-app/main/default/flows/Quote_Line_After_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>adding_special_features</name>
        <label>adding special features</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>AdditionFeatureIsAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsSpecialFeatureAddedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AdditionFeatureIsAdded</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_over_the_quote_lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_for_Quote_option</name>
        <label>Checking for Quote option</label>
        <locationX>534</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Looping_over_the_quote_lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_option_is_there</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Looping_over_the_quote_lines.SBQQ__Product__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Special_Feature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>adding_special_features</targetReference>
            </connector>
            <label>Quote option is there</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_if_the_quote_line_assigned_with_quote</name>
        <label>Checking if the quote line assigned with quote</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_if_the_quote_is_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsQuoteCloned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getting_all_the_quotelines_record_that_is_associated_with_the_quote</targetReference>
            </connector>
            <label>Checking if the quote is there</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Additional_Feature_is_added</name>
        <label>If Additional Feature is added</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Feature_is_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSpecialFeatureAddedCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_quote_record_if_Additional_Feature_is_Added</targetReference>
            </connector>
            <label>Additional Feature is added</label>
        </rules>
        <rules>
            <name>Additional_Feature_is_not_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSpecialFeatureAddedCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_quote_record_if_Additional_Feature_is_already_present</targetReference>
            </connector>
            <label>Additional Feature is not added</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActive</name>
        <label>IsActive</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_if_the_quote_line_assigned_with_quote</targetReference>
            </connector>
            <label>IsmetaDataTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsQuoteCloned</name>
        <dataType>Boolean</dataType>
        <expression>ISCLONE()</expression>
    </formulas>
    <interviewLabel>Quote Line : After save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line : After save</label>
    <loops>
        <name>Looping_over_the_quote_lines</name>
        <label>Looping over the quote lines</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <collectionReference>getting_all_the_quotelines_record_that_is_associated_with_the_quote</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_for_Quote_option</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Additional_Feature_is_added</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getting_all_the_quotelines_record_that_is_associated_with_the_quote</name>
        <label>getting all the quotelines record that is associated with the quote</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_over_the_quote_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_quote_record_if_Additional_Feature_is_Added</name>
        <label>Updating quote record if Additional Feature is Added</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Feature_Added__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_quote_record_if_Additional_Feature_is_already_present</name>
        <label>Updating quote record if Additional Feature is already present</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Additional_Feature_Added__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Feature_Added__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AdditionFeatureIsAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsSpecialFeatureAddedCollection</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
