force-app/main/default/flows/Quote_after_save_v1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>split</name>
        <label>split</label>
        <locationX>176</locationX>
        <locationY>623</locationY>
        <actionName>TextToCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>apex_output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>PaymentSplit</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TextToCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>apex_output</name>
        <label>apex output</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>SplitList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>split</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>current_value</name>
        <label>current value</label>
        <locationX>264</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>CurrentPart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>totalpercentage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>totalpercentage</name>
        <label>totalpercentage</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstSplit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>TotalSplitratio</name>
        <label>Total</label>
        <locationX>308</locationX>
        <locationY>1355</locationY>
        <customErrorMessages>
            <errorMessage>Payment Split Ratio must be in the format 40:30, 20:30:10,etc.
First Ratio should Be Same as 
Advance Payment (%) And Total should be 100</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>If_total_Equal</name>
        <label>If total Equal</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>TotalSplitratio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FirstSplit</elementReference>
                </rightValue>
            </conditions>
            <label>is100</label>
        </rules>
    </decisions>
    <decisions>
        <name>paytemtsplitratio</name>
        <label>paytemtsplitratio</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Istrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Split_ratio__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Split_ratio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>split</targetReference>
            </connector>
            <label>Istrue</label>
        </rules>
        <rules>
            <name>ISADVANCEPAYMENTTERM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Term__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>split</targetReference>
            </connector>
            <label>ISADVANCEPAYMENTTERM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>number</name>
        <dataType>Number</dataType>
        <expression>VALUE({!CurrentPart})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Quote after save v1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote after save v1</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <collectionReference>SplitList</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>current_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_total_Equal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>paytemtsplitratio</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentPart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstSplit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PaymentSplit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Payment_Split_ratio__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>RemainingString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SplitList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
