force-app/main/default/flows/Quote_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approve_Reject_notification</name>
        <label>Approve Reject notification</label>
        <locationX>842</locationX>
        <locationY>2916</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>submitting_for_approval</name>
        <label>submitting for approval</label>
        <locationX>1238</locationX>
        <locationY>2400</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>GetCustomNotification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Submited for commercial validation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Standard_Quote_ApprovalsV2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Accessories</name>
        <label>Add Quote Lines to Quote Lines List for IDW Accessories</label>
        <locationX>2492</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Accessories_Export_Partner</name>
        <label>Add Quote Lines to Quote Lines List for IDW Accessories Export Partner</label>
        <locationX>2228</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Accessories_SEZ</name>
        <label>Add Quote Lines to Quote Lines List for IDW Accessories SEZ</label>
        <locationX>1964</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Non_Accessories</name>
        <label>Add Quote Lines to Quote Lines List for IDW Non-Accessories</label>
        <locationX>3284</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Non_Accessories_Export_Partner</name>
        <label>Add Quote Lines to Quote Lines List for IDW Non-Accessories Export Partner</label>
        <locationX>3020</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Non_Accessories_SEZ</name>
        <label>Add Quote Lines to Quote Lines List for IDW Non-Accessories SEZ</label>
        <locationX>2756</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_ILM</name>
        <label>Add Quote Lines to Quote Lines List for ILM</label>
        <locationX>1700</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_ILM_Export_Partner</name>
        <label>Add Quote Lines to Quote Lines List for ILM Export Partner</label>
        <locationX>1436</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Lines_to_Quote_Lines_List_for_ILM_SEZ</name>
        <label>Add Quote Lines to Quote Lines List for ILM SEZ</label>
        <locationX>1172</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ApprovedQuote</name>
        <label>Approved Quote</label>
        <locationX>2162</locationX>
        <locationY>2808</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Approve_Reject_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Net_Total_of_Quote_Line</name>
        <label>Assign Net Total of Quote Line</label>
        <locationX>2492</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>VarNetAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Quote_Lines.SBQQ__NetTotal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Product_Category_of_the_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Products_to_Quotelines_after_1_Minute</name>
        <label>Assign Products to Quotelines after 1 Minute</label>
        <locationX>4186</locationX>
        <locationY>2856</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Products_Related_to_Segment_after_1_Minute.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__CustomerPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__NetPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__OriginalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__OriginalUnitCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__PartnerPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__ProductSubscriptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__ProratedListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__ProratedPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__ProrateMultiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__RegularPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__SpecialPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__SubscriptionBase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>List</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__SubscriptionScope__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__SubscriptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__UnitCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarInitialEssentialQuotelineWithNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__PricebookEntryId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebook_Entry_Related_to_Product_after_1_Minute.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Quote_Line_Items_Count_after_1_Minute</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Products_to_Quotelines_for_More_Than_One_Essential_after_1_Minute</name>
        <label>Assign Products to Quotelines for More Than One Essential after 1 Minute</label>
        <locationX>4450</locationX>
        <locationY>2856</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Products_Related_to_Segment_after_1_Minute.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__CustomerPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__NetPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__OriginalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__OriginalUnitCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__PartnerPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__ProductSubscriptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__ProratedListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__ProratedPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__ProrateMultiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__RegularPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__SpecialPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__SubscriptionBase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>List</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__SubscriptionScope__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__SubscriptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__UnitCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cost_Related_to_Product_after_1_Minute.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEssentialQuotelineWithNumberMoreThan1QuoteLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItem.SBQQ__PricebookEntryId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebook_Entry_Related_to_Product_after_1_Minute.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Quote_Line_Items_Count_after_1_Minute</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Products_with_Same_Category_and_Segment_after_1_Minute</name>
        <label>Assign Products with Same Category and Segment after 1 Minute</label>
        <locationX>4318</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>VarProductItemWithCategoryAndSegment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Products_Related_to_Category_after_1_Minute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProductsWithCategoryAndSegment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarProductItemWithCategoryAndSegment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Products_Related_to_Category_after_1_Minute</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Line_Items_Count_after_1_Minute</name>
        <label>Assign Quote Line Items Count after 1 Minute</label>
        <locationX>4450</locationX>
        <locationY>3048</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>VarQuoteLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Products_Related_to_Segment_after_1_Minute</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quotelines_with_Essentials_for_Cloned_Quote</name>
        <label>Assign Quotelines with Essentials for Cloned Quote</label>
        <locationX>5011</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLinesWithEssentials</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Quotelines_of_Cloned_Quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Quotelines_of_Cloned_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Accessory_IDW_Record</name>
        <label>Assign Values to Accessory IDW Record</label>
        <locationX>2492</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST18</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST18TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Accessories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_IDW_Accessory_Record_for_Export_Partner</name>
        <label>Assign Values to IDW Accessory Record for Export Partner</label>
        <locationX>2228</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST1TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Accessories_Export_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_IDW_Accessory_Record_for_SEZ</name>
        <label>Assign Values to IDW Accessory Record for SEZ</label>
        <locationX>1964</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST0TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Accessories_SEZ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_IDW_Non_Accessory_Record_for_Export_Partner</name>
        <label>Assign Values to IDW Non-Accessory Record for Export Partner</label>
        <locationX>3020</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST1TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Non_Accessories_Export_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_IDW_Non_Accessory_Record_for_SEZ</name>
        <label>Assign Values to IDW Non-Accessory Record for SEZ</label>
        <locationX>2756</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST0TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Non_Accessories_SEZ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_ILM_Record_for_Export_Partner</name>
        <label>Assign Values to ILM Record for Export Partner</label>
        <locationX>1436</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST1TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_ILM_Export_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_ILM_Record_for_SEZ</name>
        <label>Assign Values to ILM Record for SEZ</label>
        <locationX>1172</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST0TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_ILM_SEZ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_ILM_Record_for_Standard</name>
        <label>Assign Values to ILM Record for Standard</label>
        <locationX>1700</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST18</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST18TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_ILM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Non_Accessory_IDW_Record</name>
        <label>Assign Values to Non-Accessory IDW Record</label>
        <locationX>3284</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>28.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST28</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Lines.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST28TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_Quote_Lines_List_for_IDW_Non_Accessories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_IsGovermentHeadRejected</name>
        <label>Copy 2 of IsGovermentHeadRejected</label>
        <locationX>1898</locationX>
        <locationY>2808</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Head of Government Has Approved Your Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Approve_Reject_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IscommercuialApproved</name>
        <label>IscommercuialApproved</label>
        <locationX>578</locationX>
        <locationY>2808</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commercial Validator Has Validated Your Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Approve_Reject_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsCommercuialRejected</name>
        <label>IscCommercuialRejected</label>
        <locationX>842</locationX>
        <locationY>2808</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commercial Validator Has Rejected Your Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approve_Reject_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsGovermentHeadRejected</name>
        <label>IsGovermentHeadRejected</label>
        <locationX>1634</locationX>
        <locationY>2808</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Head of Government Has Rejected Your Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Approve_Reject_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsNH_CEO_Approved</name>
        <label>IsNH/CEO Approved</label>
        <locationX>1106</locationX>
        <locationY>2808</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NH/CEO Has Approved Your Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Approve_Reject_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsNH_CEO_Rejected</name>
        <label>IsNH/CEO Rejected</label>
        <locationX>1370</locationX>
        <locationY>2808</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NH/CEO  Has Rejected Your Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Approve_Reject_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejected_Quote</name>
        <label>Rejected Quote</label>
        <locationX>2426</locationX>
        <locationY>2808</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Approve_Reject_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TechnicalApprovedNotification</name>
        <label>TechnicalApprovedNotification</label>
        <locationX>50</locationX>
        <locationY>2808</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Technical Validator Has Validated Your Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Approve_Reject_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TechnicalRejectedNotification</name>
        <label>TechnicalRejectedNotification</label>
        <locationX>314</locationX>
        <locationY>2808</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Technical Validator Has Rejected Your Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Approve_Reject_notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approval_Notification</name>
        <label>Approval Notification</label>
        <locationX>1370</locationX>
        <locationY>2700</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsTechnicalApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by Technical Validator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved by Technical Validator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TechnicalApprovedNotification</targetReference>
            </connector>
            <label>IsTechnicalApproved</label>
        </rules>
        <rules>
            <name>IsTechnicalRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Technical Validator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Technical Validator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TechnicalRejectedNotification</targetReference>
            </connector>
            <label>IsTechnicalRejected</label>
        </rules>
        <rules>
            <name>IsCommercialApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by Commercial Validator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IscommercuialApproved</targetReference>
            </connector>
            <label>IsCommercialApproved</label>
        </rules>
        <rules>
            <name>IsCommercialRejeted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Commercial Validator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Commercial Validator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCommercuialRejected</targetReference>
            </connector>
            <label>IsCommercialRejeted</label>
        </rules>
        <rules>
            <name>IsNh_CEOApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by NH/CEO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved by NH/CEO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsNH_CEO_Approved</targetReference>
            </connector>
            <label>IsNh/CEOApproved</label>
        </rules>
        <rules>
            <name>IsNh_CEORejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by NH/CEO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by NH/CEO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsNH_CEO_Rejected</targetReference>
            </connector>
            <label>IsNh/CEORejected</label>
        </rules>
        <rules>
            <name>IsHead_of_GovernmenRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Head of Government Channel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Head of Government Channel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsGovermentHeadRejected</targetReference>
            </connector>
            <label>IsHead of GovernmenRejected</label>
        </rules>
        <rules>
            <name>IsGovermentApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by Head of Government Channel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved by Head of Government Channel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_IsGovermentHeadRejected</targetReference>
            </connector>
            <label>IsGovermentApproved</label>
        </rules>
        <rules>
            <name>is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApprovedQuote</targetReference>
            </connector>
            <label>is Approved</label>
        </rules>
        <rules>
            <name>isRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Quote</targetReference>
            </connector>
            <label>isRejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Quote_Customer_Segment_after_1_Minute</name>
        <label>Check for Quote Customer Segment after 1 Minute</label>
        <locationX>3938</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Quotelines_for_Cloned_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Segment Not Blank after 1 Minute</defaultConnectorLabel>
        <rules>
            <name>Is_Customer_Segment_Blank_after_1_Minute</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Segment__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Customer Segment Blank after 1 Minute</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Cloned_Quote_has_Quotelines</name>
        <label>Check if Cloned Quote has Quotelines</label>
        <locationX>4659</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Quotelines_of_Cloned_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has QuoteLines</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Have_QuoteLines_for_Cloned_Quote</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Quotelines_for_Cloned_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Quotelines_for_Cloned_Quote</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Essentials_are_Empty_after_1_Min</targetReference>
            </connector>
            <label>Does Not Have QuoteLines for Cloned Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Cloned_Quotelines_contain_Essentials</name>
        <label>Check if Cloned Quotelines contain Essentials</label>
        <locationX>5143</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Quotelines_of_Cloned_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not have Essentials for Cloned Quote</defaultConnectorLabel>
        <rules>
            <name>Has_Essentials_for_Cloned_Quote</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Quotelines_of_Cloned_Quote.SBQQ__Product__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDW_Essentials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Quotelines_of_Cloned_Quote.SBQQ__Product__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM_Essentials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quotelines_with_Essentials_for_Cloned_Quote</targetReference>
            </connector>
            <label>Has Essentials for Cloned Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Essentials_are_Empty_after_1_Min</name>
        <label>Check if Essentials are Empty after 1 Min</label>
        <locationX>4659</locationX>
        <locationY>1392</locationY>
        <defaultConnectorLabel>Is Not Essentials after 1 Minute</defaultConnectorLabel>
        <rules>
            <name>Is_Essentials_after_1_Minute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarQuoteLinesWithEssentials</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarQuoteLinesWithEssentials</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Products_Related_to_Product_Category_after_1_Minute</targetReference>
            </connector>
            <label>Is Essentials after 1 Minute</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Product_has_Segment_and_Matched_with_Quote_Segment_after_1_Minute</name>
        <label>Check if Product has Segment and Matched with Quote Segment after 1 Minute</label>
        <locationX>4450</locationX>
        <locationY>1824</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Products_Related_to_Category_after_1_Minute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has No Product Segment and Not Matched with Quote Segment after 1 Minute</defaultConnectorLabel>
        <rules>
            <name>Has_Product_Segment_and_Matched_with_Quote_Segment_after_1_Minute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Products_Related_to_Category_after_1_Minute.Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Products_Related_to_Category_after_1_Minute.Segment__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Products_Related_to_Category_after_1_Minute.Segment__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Customer_Segment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Products_with_Same_Category_and_Segment_after_1_Minute</targetReference>
            </connector>
            <label>Has Product Segment and Matched with Quote Segment after 1 Minute</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Products_Related_to_Category_Present_after_1_Minute</name>
        <label>Check if Products Related to Category Present after 1 Minute</label>
        <locationX>4428</locationX>
        <locationY>1608</locationY>
        <defaultConnectorLabel>Is Products to Related To Category Not Present after 1 Minute</defaultConnectorLabel>
        <rules>
            <name>Is_Products_to_Related_To_Category_Present_after_1_Minute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Products_Related_to_Product_Category_after_1_Minute</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Products_Related_to_Product_Category_after_1_Minute</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Products_Related_to_Category_after_1_Minute</targetReference>
            </connector>
            <label>Is Products to Related To Category Present after 1 Minute</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Products_Related_to_Segment_Present_after_1_Minute</name>
        <label>Check if Products Related to Segment Present after 1 Minute</label>
        <locationX>4230</locationX>
        <locationY>2208</locationY>
        <defaultConnectorLabel>Is Not Products Present after 1 Minute</defaultConnectorLabel>
        <rules>
            <name>Is_Products_Present_after_1_Minute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarProductsWithCategoryAndSegment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarProductsWithCategoryAndSegment</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_QuoteLine_with_Highest_Number_after_1_Minute</targetReference>
            </connector>
            <label>Is Products Present after 1 Minute</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Quote_Line_Items_Present</name>
        <label>Check if Quote Line Items Present</label>
        <locationX>1216</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Get_Quote_Record_Type_for_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Quote Line Items Present</defaultConnectorLabel>
        <rules>
            <name>Is_Quote_Line_Items_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Line_Items</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Quote_Lines</targetReference>
            </connector>
            <label>Is Quote Line Items Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Category_of_the_Quote</name>
        <label>Check Product Category of the Quote</label>
        <locationX>2492</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsILM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_Type_for_ILM</targetReference>
            </connector>
            <label>IsILM</label>
        </rules>
        <rules>
            <name>IsIDW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Product_Family</targetReference>
            </connector>
            <label>IsIDW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Family</name>
        <label>Check Product Family</label>
        <locationX>2624</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>Check_the_Quote_Type_for_IDW_Non_Accessories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Quote_Lines.SBQQ__Product__r.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessories</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Quote_Type_for_IDW_Accessories</targetReference>
            </connector>
            <label>Is Accessory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Status</name>
        <label>Check Quote Status</label>
        <locationX>1370</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_Quote_Record_Type_for_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Quote Status Draft or In Review</defaultConnectorLabel>
        <rules>
            <name>Is_Quote_Status_Draft_or_In_Review</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Line_Items</targetReference>
            </connector>
            <label>Is Quote Status Draft or In Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Type_for_ILM</name>
        <label>Check Quote Type for ILM</label>
        <locationX>1436</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_ILM_Record_for_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_ILM_SEZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_ILM_Record_for_SEZ</targetReference>
            </connector>
            <label>Is ILM SEZ</label>
        </rules>
        <rules>
            <name>Is_ILM_Export_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Export Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_ILM_Record_for_Export_Partner</targetReference>
            </connector>
            <label>Is ILM Export Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Quote_Type_for_IDW_Accessories</name>
        <label>Check the Quote Type for IDW Accessories</label>
        <locationX>2228</locationX>
        <locationY>1248</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_Accessory_IDW_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_IDW_SEZ_Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_IDW_Accessory_Record_for_SEZ</targetReference>
            </connector>
            <label>Is IDW SEZ Accessory</label>
        </rules>
        <rules>
            <name>Is_IDW_Export_Partner_Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Export Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_IDW_Accessory_Record_for_Export_Partner</targetReference>
            </connector>
            <label>Is IDW Export Partner Accessory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Quote_Type_for_IDW_Non_Accessories</name>
        <label>Check the Quote Type for IDW Non-Accessories</label>
        <locationX>3020</locationX>
        <locationY>1248</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_Non_Accessory_IDW_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_IDW_SEZ_Non_Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_IDW_Non_Accessory_Record_for_SEZ</targetReference>
            </connector>
            <label>Is IDW SEZ Non-Accessory</label>
        </rules>
        <rules>
            <name>Is_IDW_Export_Partner_Non_Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Export Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_IDW_Non_Accessory_Record_for_Export_Partner</targetReference>
            </connector>
            <label>Is IDW Export Partner Non-Accessory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_VarQuoteLineItems_List_Size_after_1_Minute</name>
        <label>Check the VarQuoteLineItems List Size after 1 Minute</label>
        <locationX>4450</locationX>
        <locationY>2748</locationY>
        <defaultConnector>
            <targetReference>Assign_Quote_Line_Items_Count_after_1_Minute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Quote_Line_Items_To_Insert_Size_0_after_1_Minute</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarQuoteLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarQuoteLineItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Products_to_Quotelines_after_1_Minute</targetReference>
            </connector>
            <label>Is Quote Line Items To Insert Size 0 after 1 Minute</label>
        </rules>
        <rules>
            <name>Is_Quote_Line_Items_To_Insert_Size_1_after_1_Minute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarQuoteLineItemsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Products_to_Quotelines_for_More_Than_One_Essential_after_1_Minute</targetReference>
            </connector>
            <label>Is Quote Line Items To Insert Size 1 after 1 Minute</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISMETADATA</name>
        <label>ISMETADATA</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISMETADATATRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_Status</targetReference>
            </connector>
            <label>ISMETADATATRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsMetadata_after_1_Minute</name>
        <label>IsMetadata after 1 Minute</label>
        <locationX>4546</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Metadata_after_1_Minute_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData_after_1_Minute.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Quote_Customer_Segment_after_1_Minute</targetReference>
            </connector>
            <label>Is Metadata after 1 Minute True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_is_Updated</name>
        <label>Quote is Updated</label>
        <locationX>1370</locationX>
        <locationY>2292</locationY>
        <defaultConnector>
            <targetReference>GetCustomNotification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.commercial_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.commercial_Approved__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Quote_Record_Type_for_Standard.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>submitting_for_approval</targetReference>
            </connector>
            <label>Is Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ClonnedQuote</name>
        <dataType>Boolean</dataType>
        <expression>ISCLONE()</expression>
    </formulas>
    <formulas>
        <name>ExpiryUpdateDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},1)</expression>
    </formulas>
    <formulas>
        <name>GST0</name>
        <dataType>Currency</dataType>
        <expression>({!VarNetAmount}*(0/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST0TotalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!VarNetAmount}+{!GST0}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST1</name>
        <dataType>Currency</dataType>
        <expression>({!VarNetAmount}*(1/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST18</name>
        <dataType>Currency</dataType>
        <expression>({!VarNetAmount}*(18/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST18TotalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!VarNetAmount}+{!GST18}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST1TotalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!VarNetAmount}+{!GST1}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST28</name>
        <dataType>Currency</dataType>
        <expression>({!VarNetAmount}*(28/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GST28TotalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!VarNetAmount}+{!GST28}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IDW_IGST</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__NetAmount__c}*0.14</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IDW_Total_Amount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__NetAmount__c}+{!IDW_Total_GST}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IDW_Total_GST</name>
        <dataType>Number</dataType>
        <expression>{!IDW_IGST}+{!IDW_IGST}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>ILM IGST and CGST</description>
        <name>ILM_IGST</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__NetAmount__c} *0.09</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ILM_Total_Amount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__NetAmount__c} + {!ILM_Total_GST}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>ILM Total GST</description>
        <name>ILM_Total_GST</name>
        <dataType>Number</dataType>
        <expression>{!ILM_IGST} + {!ILM_IGST}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>IsNewQuote</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>QuoteIsCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>VarEssentialQuotelineWithNumberMoreThan1QuoteLine</name>
        <dataType>Number</dataType>
        <expression>IF({!VarQuoteLineItemsCount} &gt;= 1, {!VarInitialEssentialQuotelineWithNumber} + {!VarQuoteLineItemsCount}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VarInitialEssentialQuotelineWithNumber</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Get_Existing_QuoteLine_with_Highest_Number_after_1_Minute.SBQQ__Number__c}), 0, {!Get_Existing_QuoteLine_with_Highest_Number_after_1_Minute.SBQQ__Number__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Quote : After Saveq {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote : After Save</label>
    <loops>
        <name>Loop_Through_Products_Related_to_Category_after_1_Minute</name>
        <label>Loop Through Products Related to Category after 1 Minute</label>
        <locationX>4230</locationX>
        <locationY>1716</locationY>
        <collectionReference>Get_Products_Related_to_Product_Category_after_1_Minute</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Product_has_Segment_and_Matched_with_Quote_Segment_after_1_Minute</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Products_Related_to_Segment_Present_after_1_Minute</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Products_Related_to_Segment_after_1_Minute</name>
        <label>Loop Through Products Related to Segment after 1 Minute</label>
        <locationX>4098</locationX>
        <locationY>2424</locationY>
        <collectionReference>VarProductsWithCategoryAndSegment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Cost_Related_to_Product_after_1_Minute</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quotelines_of_Essentials_after_1_Minute</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Quote_Lines</name>
        <label>Loop through Quote Lines</label>
        <locationX>1084</locationX>
        <locationY>816</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Net_Total_of_Quote_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Quotelines_of_Cloned_Quote</name>
        <label>Loop Through Quotelines of Cloned Quote</label>
        <locationX>4923</locationX>
        <locationY>816</locationY>
        <collectionReference>Get_Related_Quotelines_for_Cloned_Quote</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Cloned_Quotelines_contain_Essentials</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Essentials_are_Empty_after_1_Min</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quotelines_of_Essentials_after_1_Minute</name>
        <label>Create Quotelines of Essentials after 1 Minute</label>
        <locationX>4098</locationX>
        <locationY>3240</locationY>
        <inputReference>VarQuoteLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>2162</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ISMETADATA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Custom_MetaData_after_1_Minute</name>
        <label>Custom MetaData after 1 Minute</label>
        <locationX>4546</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsMetadata_after_1_Minute</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cost_Related_to_Product_after_1_Minute</name>
        <label>Get Cost Related to Product after 1 Minute</label>
        <locationX>4450</locationX>
        <locationY>2532</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricebook_Entry_Related_to_Product_after_1_Minute</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Products_Related_to_Segment_after_1_Minute.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_QuoteLine_with_Highest_Number_after_1_Minute</name>
        <label>Get Existing QuoteLine with Highest Number after 1 Minute</label>
        <locationX>4098</locationX>
        <locationY>2316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Products_Related_to_Segment_after_1_Minute</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <sortField>SBQQ__Number__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry_Related_to_Product_after_1_Minute</name>
        <label>Get Pricebook Entry Related to Product after 1 Minute</label>
        <locationX>4450</locationX>
        <locationY>2640</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_VarQuoteLineItems_List_Size_after_1_Minute</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Products_Related_to_Segment_after_1_Minute.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__PricebookId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products_Related_to_Product_Category_after_1_Minute</name>
        <label>Get Products Related to Product Category after 1 Minute</label>
        <locationX>4428</locationX>
        <locationY>1500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Products_Related_to_Category_Present_after_1_Minute</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Dishcare - 5 Litre</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Dishquick - 5 Litre</stringValue>
            </value>
        </filters>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accessories</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>1216</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Quote_Line_Items_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Record_Type_for_Standard</name>
        <label>Get Quote Record Type for Standard</label>
        <locationX>1370</locationX>
        <locationY>2184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_is_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Quotelines_for_Cloned_Quote</name>
        <label>Get Related Quotelines for Cloned Quote</label>
        <locationX>4659</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Cloned_Quote_has_Quotelines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Source__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCustomNotification</name>
        <label>GetCustomNotification</label>
        <locationX>1370</locationX>
        <locationY>2592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotificationQuoteApprovedOrRejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Quote_Lines</name>
        <label>Update Related Quote Lines</label>
        <locationX>1084</locationX>
        <locationY>1908</locationY>
        <connector>
            <targetReference>Get_Quote_Record_Type_for_Standard</targetReference>
        </connector>
        <inputReference>VarQuoteLinesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>3228</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Trigger_after_1_minute</name>
            <connector>
                <targetReference>Custom_MetaData_after_1_Minute</targetReference>
            </connector>
            <label>Trigger after 1 minute</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ApprovedNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Quote Name {!$Record.Name} is Approved!</text>
    </textTemplates>
    <textTemplates>
        <name>RejectedNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Quote {!$Record.Name} is Rejected!</text>
    </textTemplates>
    <variables>
        <name>DefaultRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bank_Detail__c</objectType>
    </variables>
    <variables>
        <name>ManagerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MultipleQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedBankRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bank_Detail__c</objectType>
    </variables>
    <variables>
        <name>SingleQuoteLineProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>VarNetAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarProductItemWithCategoryAndSegment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>VarProductsWithCategoryAndSegment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>VarQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>VarQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>VarQuoteLineItemsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarQuoteLinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>VarQuoteLinesWithEssentials</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
