force-app/main/default/flows/RTF_Opportunity_Fast_Field_Update_V7.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CloseDateSet1</name>
        <label>CloseDateSet1</label>
        <locationX>83</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Added30toToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RatingofOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CloseDateSet2</name>
        <label>CloseDateSet2</label>
        <locationX>347</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Added60toToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RatingofOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CloseDateSet3</name>
        <label>CloseDateSet3</label>
        <locationX>611</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Added90toToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RatingofOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CloseDateSet4</name>
        <label>CloseDateSet4</label>
        <locationX>875</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Added120toToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RatingofOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cold_Rating_Opportunity</name>
        <label>Cold Rating Opportunity</label>
        <locationX>743</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Date_Change_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Closed_Date_Changed</name>
        <label>Count of Closed Date Changed</label>
        <locationX>380</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.Closed_Date_Changed_Count__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_closed_date_changed_more_than_3_times</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hot_Opportunity</name>
        <label>Hot Opportunity</label>
        <locationX>215</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Date_Change_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Opp_name</name>
        <label>New Opp name</label>
        <locationX>347</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppNewName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Opportunity_Type_of_setup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setting_type_of_Customer</name>
        <label>Setting type of Customer</label>
        <locationX>479</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type_of_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Type_of_Customer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PurchaseTimelineFieldisChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updateing_stageq</name>
        <label>Updateing stage</label>
        <locationX>611</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Load Calculation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Opportunity_Type_of_setup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Warm_Opportunity</name>
        <label>Warm Opportunity</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Warm_Rating_Opportunity</name>
        <label>WarmRating Opportunity</label>
        <locationX>479</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Date_Change_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Opp_is_New</name>
        <label>Check Opp is New</label>
        <locationX>611</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Updating_Opportunity_Type_of_setup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadIDText__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Opp_name</targetReference>
            </connector>
            <label>IsCreated</label>
        </rules>
        <rules>
            <name>IsRecordUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LoadCalculated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LoadCalculated__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updateing_stageq</targetReference>
            </connector>
            <label>IsRecordUpdated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Close_Date_Change_Count</name>
        <label>Close Date Change Count</label>
        <locationX>611</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CloseDateChangeCount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_of_Closed_Date_Changed</targetReference>
            </connector>
            <label>Close Date Change Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Rating_is_Hot</name>
        <label>If Rating is Hot</label>
        <locationX>182</locationX>
        <locationY>2027</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Rating_of_Opportunity_is_Hot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warm_Opportunity</targetReference>
            </connector>
            <label>If Rating of Opportunity is Hot</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_closed_date_changed_more_than_3_times</name>
        <label>Is closed date changed more than 3 times</label>
        <locationX>380</locationX>
        <locationY>1919</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closed_Date_Changed_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Lessthan30daysfromToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Rating_is_Hot</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActive</name>
        <label>IsActive</label>
        <locationX>963</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opp_is_New</targetReference>
            </connector>
            <label>IsmetaDataTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>PurchaseTimelineFieldisChanged</name>
        <label>PurchaseTimelineFieldisChanged</label>
        <locationX>611</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>RatingofOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PurchaseTimelineLessThan30</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Purchase_timeline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0-30 days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_timeline__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_timeline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0-30 days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CloseDateSet1</targetReference>
            </connector>
            <label>PurchaseTimelineLessThan30</label>
        </rules>
        <rules>
            <name>PurchaseTimelineIsLessThan60</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Purchase_timeline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>31-60 days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_timeline__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_timeline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>31-60 days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CloseDateSet2</targetReference>
            </connector>
            <label>PurchaseTimelineIsLessThan60</label>
        </rules>
        <rules>
            <name>PurchaseTimelineLessthan90</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Purchase_timeline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>61-90 days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_timeline__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_timeline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>61-90 days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CloseDateSet3</targetReference>
            </connector>
            <label>PurchaseTimelineLessthan90</label>
        </rules>
        <rules>
            <name>PurchaseTimelineMorethan90</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Purchase_timeline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>greater than 90 days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_timeline__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_timeline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>greater than 90 days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CloseDateSet4</targetReference>
            </connector>
            <label>PurchaseTimelineMorethan90</label>
        </rules>
    </decisions>
    <decisions>
        <name>RatingofOpportunity</name>
        <label>Rating of Opportunity</label>
        <locationX>611</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Close_Date_Change_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>HotOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Lessthan30daysfromToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hot_Opportunity</targetReference>
            </connector>
            <label>Hot Opportunity</label>
        </rules>
        <rules>
            <name>Warm_Rating_of_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Lessthan30daysfromToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Added60toToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warm_Rating_Opportunity</targetReference>
            </connector>
            <label>Warm Rating of Opportunity</label>
        </rules>
        <rules>
            <name>Cold_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Added60toToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cold_Rating_Opportunity</targetReference>
            </connector>
            <label>Cold Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updating_Opportunity_Type_of_setup</name>
        <label>Updating Opportunity Type of setup</label>
        <locationX>611</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>PurchaseTimelineFieldisChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Type_of_Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Setting_type_of_Customer</targetReference>
            </connector>
            <label>Account is there</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Added120toToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDateTime}+120</expression>
    </formulas>
    <formulas>
        <name>Added30toToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDateTime}+30</expression>
    </formulas>
    <formulas>
        <name>Added60toToday</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+60</expression>
    </formulas>
    <formulas>
        <name>Added90toToday</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+90</expression>
    </formulas>
    <formulas>
        <name>DateFormat</name>
        <dataType>String</dataType>
        <expression>CASE( MONTH(TODAY()), 
    1, &quot;Jan&quot;, 
    2, &quot;Feb&quot;, 
    3, &quot;Mar&quot;, 
    4, &quot;Apr&quot;, 
    5, &quot;May&quot;, 
    6, &quot;Jun&quot;, 
    7, &quot;Jul&quot;, 
    8, &quot;Aug&quot;, 
    9, &quot;Sep&quot;, 
    10, &quot;Oct&quot;, 
    11, &quot;Nov&quot;, 
    12, &quot;Dec&quot;, 
    &quot;&quot;) 
+ &quot; &quot; + TEXT(DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Lessthan30daysfromToday</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+30</expression>
    </formulas>
    <formulas>
        <name>OppNewName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &quot; - &quot; + TEXT({!$Record.Product_category__c}) + &quot; - &quot; + {!DateFormat}</expression>
    </formulas>
    <interviewLabel>RTF Opportunity-Fast Field Update - V7 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF Opportunity-Fast Field Update - V7</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>963</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>837</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CountofChangesofClosedDate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
