force-app/main/default/flows/RTF_Visit_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Update_value_on_lead</name>
        <label>Update value on lead</label>
        <locationX>842</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>Get_related_lead_task_on_Visit.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Next_follow_up_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_related_lead_task_on_Visit.Reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_related_lead_task_on_Visit.Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Remarks__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Task_on_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_value_on_Opp</name>
        <label>Update value on Opp</label>
        <locationX>1106</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>Get_related_Opp_task_on_Visit.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Next_follow_up_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_related_Opp_task_on_Visit.Reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_related_Opp_task_on_Visit.Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Remarks__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Task_on_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_task_record_on_visit</name>
        <label>Update task record on visit</label>
        <locationX>314</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>Get_related_Visit_task_on_Visit.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Next_follow_up_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_related_Visit_task_on_Visit.Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Remarks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_related_Visit_task_on_Visit.Reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_task_on_Visit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_value_on_lead</name>
        <label>Update value on lead</label>
        <locationX>578</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>Get_related_lead_task_on_Visit.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Next_follow_up_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_related_lead_task_on_Visit.Reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_related_lead_task_on_Visit.Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Remarks__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_value_on_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_value_on_Opp</name>
        <label>Update value on Opp</label>
        <locationX>578</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>Get_related_Opp_task_on_Visit.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Next_follow_up_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_related_Opp_task_on_Visit.Reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_related_Opp_task_on_Visit.Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Remarks__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_on_lead</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Copy_1_of_Validation</name>
        <label>Copy 1 of Validation</label>
        <locationX>787</locationX>
        <locationY>971</locationY>
        <customErrorMessages>
            <errorMessage>Type of setup , Heating Type Is Empty,
Go to Opportunity And Fill Those fields First !</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>1051</locationX>
        <locationY>971</locationY>
        <customErrorMessages>
            <errorMessage>Type of setup , Entry Side Is Empty,
Go to Opportunity And Fill Those fields First !</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Heating_Type_or_entry_side</name>
        <label>Check Heating Type or entry side</label>
        <locationX>1051</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Heating_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity.Heating_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Validation</targetReference>
            </connector>
            <label>Heating Type</label>
        </rules>
        <rules>
            <name>Entry_side</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity.Entry_side__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation</targetReference>
            </connector>
            <label>Entry side</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_for_visit_records</name>
        <label>Checking for visit records</label>
        <locationX>479</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Next_follow_date_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visit_Records_are_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Visits_Records_from_opportunity</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Opportunity_record</targetReference>
            </connector>
            <label>Visit Records are there</label>
        </rules>
    </decisions>
    <decisions>
        <name>FIeld_Check</name>
        <label>FIeld Check</label>
        <locationX>765</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_Heating_Type_or_entry_side</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_type_of_setup</name>
            <conditionLogic>1 AND( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity.Type_of_Setup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.Heating_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.Entry_side__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visits_Records_from_opportunity</targetReference>
            </connector>
            <label>Is type of setup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_task_exit_on_related_lead_opp_for_Visit</name>
        <label>Is task exit on related lead/opp for Visit</label>
        <locationX>710</locationX>
        <locationY>1979</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_lead_task_on_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Opp_task_on_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Visit_task_on_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Record</targetReference>
            </connector>
            <label>Task Not exist</label>
        </rules>
        <rules>
            <name>Task_already_on_visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_lead_task_on_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Opp_task_on_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Visit_task_on_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_task_record_on_visit</targetReference>
            </connector>
            <label>Task already on visit</label>
        </rules>
        <rules>
            <name>Task_exist_on_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_lead_task_on_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Opp_task_on_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_value_on_lead</targetReference>
            </connector>
            <label>Task exist on Both</label>
        </rules>
        <rules>
            <name>Check_for_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_lead_task_on_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Opp_task_on_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_value_on_lead</targetReference>
            </connector>
            <label>Check for 1</label>
        </rules>
        <rules>
            <name>Check_for_Single_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_lead_task_on_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Opp_task_on_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_value_on_Opp</targetReference>
            </connector>
            <label>Check for Single opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActive</name>
        <label>IsActive</label>
        <locationX>1535</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>visit_is_Created</targetReference>
            </connector>
            <label>IsmetaDataTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_follow_date_check</name>
        <label>Next follow date check</label>
        <locationX>1172</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Follow_up_date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_follow_up_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_follow_up_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_record_type</targetReference>
            </connector>
            <label>Next Follow up date</label>
        </rules>
    </decisions>
    <decisions>
        <name>visit_is_Created</name>
        <label>visit is Created</label>
        <locationX>1172</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Next_follow_date_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualVisitEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opportunity</targetReference>
            </connector>
            <label>Is Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Next_follow_up_date__c}</expression>
    </formulas>
    <formulas>
        <name>IsCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>RTF-Visit After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF-Visit After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Record</name>
        <label>Create Task Record</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Next_follow_up_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasons__c</field>
            <value>
                <stringValue>Initial Follow-Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Task_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow-Up Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>1535</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opportunity</name>
        <label>get opportunity</label>
        <locationX>765</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FIeld_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_lead_task_on_Visit</name>
        <label>Get related lead task on Visit</label>
        <locationX>710</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_Opp_task_on_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_record_type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow-Up Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Opp_task_on_Visit</name>
        <label>Get related Opp task on Visit</label>
        <locationX>710</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_Visit_task_on_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_record_type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow-Up Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Visit_task_on_Visit</name>
        <label>Get related Visit task on Visit</label>
        <locationX>710</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_task_exit_on_related_lead_opp_for_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_record_type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow-Up Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_record_type</name>
        <label>Get Task record type</label>
        <locationX>710</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_lead_task_on_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User_Notification</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Visits_Records_from_opportunity</name>
        <label>Visits Records from opportunity</label>
        <locationX>479</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_for_visit_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Task_on_lead</name>
        <label>Update Task on lead</label>
        <locationX>842</locationX>
        <locationY>2195</locationY>
        <inputReference>Get_related_lead_task_on_Visit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Task_on_opp</name>
        <label>Update Task on opp</label>
        <locationX>1106</locationX>
        <locationY>2195</locationY>
        <inputReference>Get_related_Opp_task_on_Visit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_on_lead</name>
        <label>Update Task on lead</label>
        <locationX>578</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Update_Task_on_opp</targetReference>
        </connector>
        <inputReference>Get_related_lead_task_on_Visit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_on_opp</name>
        <label>Update Task on opp</label>
        <locationX>578</locationX>
        <locationY>2411</locationY>
        <inputReference>Get_related_Opp_task_on_Visit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task_on_Visit</name>
        <label>Update task on Visit</label>
        <locationX>314</locationX>
        <locationY>2195</locationY>
        <inputReference>Get_related_Visit_task_on_Visit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Opportunity_record</name>
        <label>Updating Opportunity record</label>
        <locationX>347</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Next_follow_date_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrentValidationTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Site Visit</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1409</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <object>Visit</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
