force-app/main/default/flows/RTF_Quote_Fast_Field_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Address</name>
        <label>Assign Account Address</label>
        <locationX>1242</locationX>
        <locationY>3671</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.Ship_to_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Account.Bill_To_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checked_is_Quote_Update_or_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Additional_Feature_Added_to_Quote</name>
        <label>Assign Additional Feature Added to Quote</label>
        <locationX>923</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>$Record.Additional_Feature_Added__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Quote_is_Created_and_Cloned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commercial_To_False</name>
        <label>Assign Commercial To False</label>
        <locationX>1242</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentValidationTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarExpiryUpdatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.commercial_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Quote_Bank_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ILM_Quote_Bank_Detail</name>
        <label>Assign ILM Quote Bank Detail</label>
        <locationX>50</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bank_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bank_Details_Factory_Bommasandra.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Check_Account_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Bank_Record_Based_on_City</name>
        <label>Assign Selected Bank Record Based on City</label>
        <locationX>1458</locationX>
        <locationY>2843</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bank_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Bank_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Bank_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Bank_Record_Based_on_Region</name>
        <label>Assign Selected Bank Record Based on Region</label>
        <locationX>1722</locationX>
        <locationY>2843</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bank_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Bank_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Bank_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Bank_Record_Based_on_State_Only</name>
        <label>Assign Selected Bank Record Based on State Only</label>
        <locationX>1986</locationX>
        <locationY>2843</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bank_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Bank_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Bank_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Special_Feature_Check_to_Collection</name>
        <label>Assign Special Feature Check to Collection</label>
        <locationX>1143</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>VarHavingSpecialFeatureCollectionCheck</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Related_Quotelines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Ids</name>
        <label>Assignment of Ids</label>
        <locationX>648</locationX>
        <locationY>4403</locationY>
        <assignmentItems>
            <assignToReference>$Record.NSM_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NSM_Id.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>Custom_Error_Messagae</name>
        <label>Custom Error Messagae</label>
        <locationX>1176</locationX>
        <locationY>4403</locationY>
        <customErrorMessages>
            <errorMessage>You must fill in the comments!</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>1506</locationX>
        <locationY>3971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_check_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Process_Instance</targetReference>
            </connector>
            <label>Decision check Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Quote_is_Created_and_Cloned</name>
        <label>Check if Quote is Created and Cloned</label>
        <locationX>1374</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Check_Quote_Bank_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Quote Created and Cloned</defaultConnectorLabel>
        <rules>
            <name>Is_Quote_Created_and_Cloned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsQuoteCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsQuoteCloned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commercial_To_False</targetReference>
            </connector>
            <label>Is Quote Created and Cloned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Quote_is_having_Quotelines</name>
        <label>Check if Quote is having Quotelines</label>
        <locationX>1374</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Check_if_Quote_is_Created_and_Cloned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Having Quotelines</defaultConnectorLabel>
        <rules>
            <name>Having_Quotelines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__LineItemCount__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__LineItemCount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Quotelines</targetReference>
            </connector>
            <label>Having Quotelines</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Quoteline_is_having_special_feature</name>
        <label>Check if Quoteline is having special feature</label>
        <locationX>1275</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Related_Quotelines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Having special feature</defaultConnectorLabel>
        <rules>
            <name>Having_special_feature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Related_Quotelines.SBQQ__Product__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Special_Feature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Special_Feature_Check_to_Collection</targetReference>
            </connector>
            <label>Having special feature</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Quotelines_are_present</name>
        <label>Check if Quotelines are present</label>
        <locationX>1209</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Check_if_Quote_is_Created_and_Cloned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Quotelines_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Quotelines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Related_Quotelines</targetReference>
            </connector>
            <label>Is Quotelines present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Quotelines_Having_Special_Feature</name>
        <label>Check if Quotelines Having Special Feature</label>
        <locationX>1055</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>Check_if_Quote_is_Created_and_Cloned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Having Special Feature to Quoteline</defaultConnectorLabel>
        <rules>
            <name>Having_Special_Feature_to_Quoteline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarHavingSpecialFeatureCollectionCheck</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Additional_Feature_Added_to_Quote</targetReference>
            </connector>
            <label>Having Special Feature to Quoteline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Category_of_Quote</name>
        <label>Check Product Category of Quote</label>
        <locationX>874</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Decision_Check_Account_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not ILM/IDW Quote</defaultConnectorLabel>
        <rules>
            <name>Is_ILM_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bank_Details_Factory_Bommasandra</targetReference>
            </connector>
            <label>Is ILM Quote</label>
        </rules>
        <rules>
            <name>Is_IDW_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_Bill_To_State</targetReference>
            </connector>
            <label>Is IDW Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Bank_Details</name>
        <label>Check Quote Bank Details</label>
        <locationX>1374</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Decision_Check_Account_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Quote Bank Details Blank</defaultConnectorLabel>
        <rules>
            <name>Is_Quote_Bank_Details_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bank_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Product_Category_of_Quote</targetReference>
            </connector>
            <label>Is Quote Bank Details Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Bill_To_State</name>
        <label>Check Quote Bill To State</label>
        <locationX>874</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Get_Bank_Details_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Bill To State Blank</defaultConnectorLabel>
        <rules>
            <name>Is_Bill_To_State_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingState__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Check_Account_Address</targetReference>
            </connector>
            <label>Is Bill To State Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checked_is_Quote_Update_or_New</name>
        <label>Checked is  Quote Update or New</label>
        <locationX>1374</locationX>
        <locationY>3863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_new</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_State_Head_Id</targetReference>
            </connector>
            <label>Is new</label>
        </rules>
        <rules>
            <name>IsUpdateRecord</name>
            <conditionLogic>(1 AND  2 AND 4) OR (1 AND 3 AND 4) OR (1 AND 5 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Isupdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Approval_Status</targetReference>
            </connector>
            <label>IsUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Check_Account_Address</name>
        <label>Decision Check Account Address</label>
        <locationX>1374</locationX>
        <locationY>3455</locationY>
        <defaultConnector>
            <targetReference>Checked_is_Quote_Update_or_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountRecords</targetReference>
            </connector>
            <label>For Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Check_State_Head</name>
        <label>Decision Check State Head</label>
        <locationX>780</locationX>
        <locationY>4079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Head_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RSM_Id</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bank_Branch_City_Matched</name>
        <label>Is Bank Branch City Matched</label>
        <locationX>1854</locationX>
        <locationY>2735</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Bank_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Having Matched Bank</defaultConnectorLabel>
        <rules>
            <name>Is_Having_Matched_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Bank_Details.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__BillingCity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Bank_Details.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__BillingState__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Bank_Record_Based_on_City</targetReference>
            </connector>
            <label>Is Having Matched City</label>
        </rules>
        <rules>
            <name>Is_Having_Matched_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Bank_Details.Address__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__BillingState__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Bank_Record_Based_on_Region</targetReference>
            </connector>
            <label>Is Having Matched Region</label>
        </rules>
        <rules>
            <name>Is_Having_Matched_State_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Bank_Details.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__BillingState__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Bank_Record_Based_on_State_Only</targetReference>
            </connector>
            <label>Is Having Matched State Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bank_Details_Present</name>
        <label>Is Bank Details Present</label>
        <locationX>1434</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Decision_Check_Account_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Bank Details Blank</defaultConnectorLabel>
        <rules>
            <name>Is_Bank_Details_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bank_Details_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bank_Details_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Bank_Details</targetReference>
            </connector>
            <label>Is Bank Details Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_comments</name>
        <label>Is there a comments?</label>
        <locationX>1308</locationX>
        <locationY>4295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Instance_Step.Comments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Error_Messagae</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISmetaData</name>
        <label>ISmetaData</label>
        <locationX>1803</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Quote_is_having_Quotelines</targetReference>
            </connector>
            <label>ISmetaDataTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>IsQuoteCloned</name>
        <dataType>Boolean</dataType>
        <expression>ISCLONE()</expression>
    </formulas>
    <formulas>
        <name>IsQuoteCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Isupdate</name>
        <dataType>Boolean</dataType>
        <expression>Not(ISNEW())</expression>
    </formulas>
    <formulas>
        <name>VarExpiryUpdatedDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},1)</expression>
    </formulas>
    <interviewLabel>RTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF Quote - Fast Field Update</label>
    <loops>
        <name>Loop_Through_Bank_Details</name>
        <label>Loop Through Bank Details</label>
        <locationX>1370</locationX>
        <locationY>2627</locationY>
        <collectionReference>Get_Bank_Details_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Bank_Branch_City_Matched</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Check_Account_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Related_Quotelines</name>
        <label>Loop through Related Quotelines</label>
        <locationX>1055</locationX>
        <locationY>827</locationY>
        <collectionReference>Get_Related_Quotelines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Quoteline_is_having_special_feature</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Quotelines_Having_Special_Feature</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>1803</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ISmetaData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bank_Details_Factory_Bommasandra</name>
        <label>Get Bank Details - Factory-Bommasandra</label>
        <locationX>50</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ILM_Quote_Bank_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Factory-Bommasandra</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IFB Industries Limited</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bank_Detail__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bank_Details_Records</name>
        <label>Get Bank Details Records</label>
        <locationX>1434</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Bank_Details_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__BillingState__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.SBQQ__BillingState__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bank_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NSM_Id</name>
        <label>Get NSM Id</label>
        <locationX>648</locationX>
        <locationY>4295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_of_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RSM_Id.ManagerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ManagerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance</name>
        <label>Get Process Instance</label>
        <locationX>1308</locationX>
        <locationY>4079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Instance_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance_Step</name>
        <label>Get Process Instance Step</label>
        <locationX>1308</locationX>
        <locationY>4187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_comments</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3)</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Instance.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Quotelines</name>
        <label>Get Related Quotelines</label>
        <locationX>1209</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Quotelines_are_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RSM_Id</name>
        <label>Get RSM Id</label>
        <locationX>648</locationX>
        <locationY>4187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NSM_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_State_Head_Id.ManagerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ManagerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_State_Head_Id</name>
        <label>Get State Head Id</label>
        <locationX>780</locationX>
        <locationY>3971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Check_State_Head</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.ManagerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ManagerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountRecords</name>
        <label>GetAccountRecords</label>
        <locationX>1242</locationX>
        <locationY>3563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1677</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarHavingSpecialFeatureCollectionCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSelectedBankRecordBasedOnCity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bank_Detail__c</objectType>
    </variables>
</Flow>
