force-app/main/default/flows/RTF_LEAD_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bell_Notification</name>
        <label>Bell Notification</label>
        <locationX>1832</locationX>
        <locationY>7127</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipeintid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>A Lead has been assigned to you.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Converting_Lead</name>
        <label>Converting Lead</label>
        <locationX>1964</locationX>
        <locationY>647</locationY>
        <actionName>LeadConversion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Notification_Date_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadConversion</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Bell_Notification</name>
        <label>Copy 1 of Bell Notification</label>
        <locationX>2096</locationX>
        <locationY>7127</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Copy_1_of_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipeintid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>A New Lead has been created.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Lead_manual_share_rule</name>
        <label>Lead manual share rule</label>
        <locationX>1964</locationX>
        <locationY>5255</locationY>
        <actionName>LeadController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Lead_New</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Sending_Notification_to_Lead</name>
        <label>Sending Notification to Lead</label>
        <locationX>2250</locationX>
        <locationY>3059</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_Lead_Score</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Getting_custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UrgentLeadIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>This Lead is Urgent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>UrgentLeadCustomNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_owner_id</name>
        <label>Add owner id</label>
        <locationX>1832</locationX>
        <locationY>7019</locationY>
        <assignmentItems>
            <assignToReference>Recipeintid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bell_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigment_to_contact_values</name>
        <label>Assigment to contact values</label>
        <locationX>1722</locationX>
        <locationY>6095</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Customer_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Alternative_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Alternative_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Key_Decision_Maker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Is_our_contact_a_Key_Decision_Maker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_get_group_member.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Values</name>
        <label>Assign Task Values</label>
        <locationX>1216</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Record.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Next_Follow_up_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task_Record.Reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reasons__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task_Record.Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Remark__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_the_Id_to_UrgentLeads</name>
        <label>Assigning the Id to UrgentLeads</label>
        <locationX>2250</locationX>
        <locationY>2951</locationY>
        <assignmentItems>
            <assignToReference>UrgentLeadIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sending_Notification_to_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_owner_id</name>
        <label>Copy 1 of Add owner id</label>
        <locationX>2096</locationX>
        <locationY>7019</locationY>
        <assignmentItems>
            <assignToReference>Recipeintid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Bell_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assigment_to_contact_values</name>
        <label>Copy 1 of Assigment to contact values</label>
        <locationX>2250</locationX>
        <locationY>5987</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Customer_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Alternative_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Alternative_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Key_Decision_Maker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Is_our_contact_a_Key_Decision_Maker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>leadidassigment</name>
        <label>leadidassigment</label>
        <locationX>2096</locationX>
        <locationY>5039</locationY>
        <assignmentItems>
            <assignToReference>Leadids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_LeadStatus</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Concat_error</name>
        <label>Concat error</label>
        <locationX>1282</locationX>
        <locationY>5771</locationY>
        <connector>
            <targetReference>Check_Lead_Owner_Changed</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Contact Record With same name and number Already Exist</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_1_of_Copy_3_of_Error_Contact_Creation</name>
        <label>Copy 1 of Copy 3 of Error Contact Creation</label>
        <locationX>2514</locationX>
        <locationY>6203</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_1_of_Error_Contact_Creation</name>
        <label>Copy 1 of Error Contact Creation</label>
        <locationX>1766</locationX>
        <locationY>2219</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_2_of_Error_Contact_Creation</name>
        <label>Copy 2 of Error Contact Creation</label>
        <locationX>2294</locationX>
        <locationY>2219</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_33_of_Error_Contact_Creation</name>
        <label>Copy 3 of Error Contact Creation</label>
        <locationX>2008</locationX>
        <locationY>1379</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_3_of_Error_Contact_Creation</name>
        <label>Copy 3 of Error Contact Creation</label>
        <locationX>1986</locationX>
        <locationY>6311</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_4_of_Error_Contact_Creation</name>
        <label>Copy 4 of Error Contact Creation</label>
        <locationX>1502</locationX>
        <locationY>2327</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_5_of_Error_Contact_Creation</name>
        <label>Copy 5 of Error Contact Creation</label>
        <locationX>1546</locationX>
        <locationY>3167</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_6_of_Error_Contact_Creation</name>
        <label>Copy 6 of Error Contact Creation</label>
        <locationX>2096</locationX>
        <locationY>4715</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_7_of_Error_Contact_Creation</name>
        <label>Copy 7 of Error Contact Creation</label>
        <locationX>842</locationX>
        <locationY>6095</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Message_9</name>
        <label>Custom Error Message 9</label>
        <locationX>1480</locationX>
        <locationY>1487</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_Contact_Creation</name>
        <label>Error Contact Creation</label>
        <locationX>314</locationX>
        <locationY>6203</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_for_LeadStatus</name>
        <label>Check for LeadStatus</label>
        <locationX>2096</locationX>
        <locationY>5147</locationY>
        <defaultConnector>
            <targetReference>Is_Lead_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Isvalidated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Site Guest User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_manual_share_rule</targetReference>
            </connector>
            <label>Isvalidated</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_the_owner_of_the_lead_is_Queue</name>
        <label>check if the owner of the lead is Queue</label>
        <locationX>1678</locationX>
        <locationY>2951</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_if_the_owner_is_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ItIsUserID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Follow_up_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creating_Task_record_for_user</targetReference>
            </connector>
            <label>Checking if the owner is queue</label>
        </rules>
        <rules>
            <name>If_owner_is_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ItIsUserID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Follow_up_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getting_queue</targetReference>
            </connector>
            <label>If owner is queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Owner_Changed</name>
        <label>Check Lead Owner Changed</label>
        <locationX>2096</locationX>
        <locationY>6803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Owner_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Notification</targetReference>
            </connector>
            <label>Lead Owner Assignment</label>
        </rules>
        <rules>
            <name>LeadOwnerAssignforCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Custom_Notification</targetReference>
            </connector>
            <label>LeadOwnerAssignforCreate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Score</name>
        <label>Check Lead Score</label>
        <locationX>2096</locationX>
        <locationY>3575</locationY>
        <defaultConnector>
            <targetReference>LeadOwnerAssignment_based_on_Pincode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_lead_score_for_hot</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Checkforhot</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Rating_as_Warm</targetReference>
            </connector>
            <label>Check lead score for hot</label>
        </rules>
        <rules>
            <name>Check_lead_score_for_Warm</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>CheckforWarm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rating_as_Warm</targetReference>
            </connector>
            <label>Check lead score for Warm</label>
        </rules>
        <rules>
            <name>Check_lead_score_for_Cold</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>CheckforCold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rating_as_Cold</targetReference>
            </connector>
            <label>Check lead score for Cold</label>
        </rules>
        <rules>
            <name>Check_Lead_score_if_less_than_30</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>CheckRatingforlessthan30</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Score__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_rating_as_Blank</targetReference>
            </connector>
            <label>Check Lead score if less than 30</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_for_Lead_score_and_Budgetary_Quote</name>
        <label>Checking for Lead score and Budgetary Quote</label>
        <locationX>2096</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Is_Notification_Date_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_score_and_Budgetary_code_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budgetary_Quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Converting_Lead</targetReference>
            </connector>
            <label>Lead score and Budgetary code is checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_if_the_lead_is_getting_created</name>
        <label>Checking if the lead is getting created</label>
        <locationX>2096</locationX>
        <locationY>2735</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadIsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_recordType_of_task</targetReference>
            </connector>
            <label>Lead is Created</label>
        </rules>
        <rules>
            <name>Lead_is_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadIsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Urgent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Urgent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_custom_Notification_Id</targetReference>
            </connector>
            <label>Lead is Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLeadAccountName</name>
        <label>CheckLeadAccountName</label>
        <locationX>2096</locationX>
        <locationY>4391</locationY>
        <defaultConnector>
            <targetReference>leadidassigment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckAccountNameOnLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Map_record</targetReference>
            </connector>
            <label>CheckAccountNameOnLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>578</locationX>
        <locationY>5879</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_queue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_group_member</targetReference>
            </connector>
            <label>Owner is queue</label>
        </rules>
        <rules>
            <name>Owner_is_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_queue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Contact_Record</targetReference>
            </connector>
            <label>Owner is user</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_check_Contact</name>
        <label>decision check Contact</label>
        <locationX>2602</locationX>
        <locationY>5663</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_queue1</targetReference>
            </connector>
            <label>Exits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_queue_check</name>
        <label>Decision for queue check</label>
        <locationX>2250</locationX>
        <locationY>5879</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>owner_is_queue1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_queue1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_get_group_member</targetReference>
            </connector>
            <label>owner is queue</label>
        </rules>
        <rules>
            <name>Owner_is_user1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_queue1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assigment_to_contact_values</targetReference>
            </connector>
            <label>Owner is user</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_record_is_not_blank</name>
        <label>if record is not blank</label>
        <locationX>1062</locationX>
        <locationY>5663</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Is_Exist</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_If_Exist</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_If_Exist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Site Guest User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_queue</targetReference>
            </connector>
            <label>Record Is Exist</label>
        </rules>
        <rules>
            <name>get_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_If_Exist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_If_Exist</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConversionCheck__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Site Guest User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concat_error</targetReference>
            </connector>
            <label>get Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_New</name>
        <label>Is Lead New</label>
        <locationX>2096</locationX>
        <locationY>5447</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_If_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No3</name>
            <conditionLogic>(1 OR 2 OR 3  OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 ) AND (16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28 OR 29) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Department__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StateCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_our_contact_a_Key_Decision_Maker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Alternative_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Department__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CountryCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StateCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_our_contact_a_Key_Decision_Maker__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Alternative_Phone_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Notification_Date_Null</name>
        <label>Is Notification Date Null ?</label>
        <locationX>2096</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Lead_Address_Updated_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>1 OR (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Follow_up_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Follow_up_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Task_Exit_already_exits_with_Next_follow_up_Date</name>
        <label>Is Task Exit already exits with Next follow up Date?</label>
        <locationX>1744</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Lead_Address_Updated_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Not_Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Record</targetReference>
            </connector>
            <label>Not Exit</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISmetaData</name>
        <label>ISmetaData</label>
        <locationX>2701</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_for_Lead_score_and_Budgetary_Quote</targetReference>
            </connector>
            <label>ISmetaDataTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Address_Updated_check</name>
        <label>Lead Address Updated check</label>
        <locationX>2096</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Checking_if_the_lead_is_getting_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Latitude</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Longitude</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Present_Check</targetReference>
            </connector>
            <label>Address updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeadOwnerAssignment_based_on_Pincode</name>
        <label>LeadOwnerAssignment based on Pincode</label>
        <locationX>2096</locationX>
        <locationY>3983</locationY>
        <defaultConnector>
            <targetReference>CheckLeadAccountName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conditions_to_Check_for_LeadAssignment</name>
            <conditionLogic>(1 AND 3 AND 2 AND (4 OR 5) AND (6 OR 7)) OR (1 AND 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Region_Map__r.Zipcode__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Segment_Vertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Region_Map__r.Segment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Region_Map__r.Product_Category__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Segment_Vertical__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LeadOwner_based_on_Mapping</targetReference>
            </connector>
            <label>Conditions to Check for LeadAssignment</label>
        </rules>
        <rules>
            <name>For_russia</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CountryCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Region_Record</targetReference>
            </connector>
            <label>For russia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Present_Check</name>
        <label>Location Present Check</label>
        <locationX>1634</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>Update_Records_16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Location_Record</targetReference>
            </connector>
            <label>Location Not Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckforCold</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Lead_Score__c} &gt;= 30 &amp;&amp; {!$Record.Lead_Score__c} &lt; 70</expression>
    </formulas>
    <formulas>
        <name>Checkforhot</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Lead_Score__c} = 100</expression>
    </formulas>
    <formulas>
        <name>CheckforWarm</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Lead_Score__c} &gt;= 70 &amp;&amp; {!$Record.Lead_Score__c} &lt; 100</expression>
    </formulas>
    <formulas>
        <name>CheckRatingforlessthan30</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Lead_Score__c} &gt;= 0 &amp;&amp; {!$Record.Lead_Score__c} &lt; 30</expression>
    </formulas>
    <formulas>
        <name>Hot</name>
        <dataType>Boolean</dataType>
        <expression>(
(
    IF(TEXT({!$Record.Purchase_Timeline__c}) = &quot;0-30 days&quot;, 0.35,
        IF(TEXT({!$Record.Purchase_Timeline__c}) = &quot;31-60 days&quot;, 0.20,
            IF(TEXT({!$Record.Purchase_Timeline__c}) = &quot;61-90 days&quot;, 0.10,
                IF(TEXT({!$Record.Purchase_Timeline__c}) = &quot;greater than 90 days&quot;, 0, 0)
            )
        )
    ) +
    IF(TEXT({!$Record.Budget_Availablility_Budget_Source__c}) = &quot;Yes, Own Source&quot;, 0.35,
        IF(TEXT({!$Record.Budget_Availablility_Budget_Source__c}) = &quot;Yes, Loan Approved&quot;, 0.35,
            IF(TEXT({!$Record.Budget_Availablility_Budget_Source__c}) = &quot;In Progress&quot;, 0.20,
                IF(TEXT({!$Record.Budget_Availablility_Budget_Source__c}) = &quot;Budget not available&quot;, 0, 0)
            )
        )
    ) +
    IF(TEXT({!$Record.Space_Availability__c}) = &quot;YES&quot;, 0.10,
        IF(TEXT({!$Record.Space_Availability__c}) = &quot;NO&quot;, 0, 0)
    ) +
    IF(TEXT({!$Record.Site_Suitability__c}) = &quot;YES&quot;, 0.10,
        IF(TEXT({!$Record.Site_Suitability__c}) = &quot;NO&quot;, 0, 0)
    ) +
    IF(TEXT({!$Record.Infrastructure_completed_in_30_days__c}) = &quot;YES&quot;, 0.10,
        IF(TEXT({!$Record.Infrastructure_completed_in_30_days__c}) = &quot;NO&quot;, 0, 0)
    )
)
) = 100</expression>
    </formulas>
    <formulas>
        <name>IsCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>IsUpdated</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW())</expression>
    </formulas>
    <formulas>
        <name>ItIsUserID</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!$Record.OwnerId}, &quot;005&quot;)</expression>
    </formulas>
    <formulas>
        <name>leadIsCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>LocationName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}+&apos; &apos;+{!$Record.LastName}+&apos; Location&apos;</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <interviewLabel>RTF- {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF LEAD-After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Contact_Record</name>
        <label>Copy 1 of Create Contact Record</label>
        <locationX>578</locationX>
        <locationY>5987</locationY>
        <connector>
            <targetReference>Check_Lead_Owner_Changed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_7_of_Error_Contact_Creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alternative_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Alternative_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Department__c</field>
            <value>
                <elementReference>$Record.Customer_Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Decision_Maker__c</field>
            <value>
                <elementReference>$Record.Is_our_contact_a_Key_Decision_Maker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountryCode</field>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Creating_Task_record_for_user</name>
        <label>Assigning queue to task</label>
        <locationX>1810</locationX>
        <locationY>3167</locationY>
        <connector>
            <targetReference>Check_Lead_Score</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getting_queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_recordType_of_task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Record</name>
        <label>Create Contact Record</label>
        <locationX>50</locationX>
        <locationY>6095</locationY>
        <connector>
            <targetReference>Check_Lead_Owner_Changed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Contact_Creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alternative_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Alternative_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Department__c</field>
            <value>
                <elementReference>$Record.Customer_Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Decision_Maker__c</field>
            <value>
                <elementReference>$Record.Is_our_contact_a_Key_Decision_Maker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountryCode</field>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_group_member.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Location_Record</name>
        <label>Create Location Record</label>
        <locationX>1238</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Contact_Creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>$Record.Shipping__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>$Record.Shipping__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LocationName</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Record</name>
        <label>Create Task Record</label>
        <locationX>1744</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Lead_Address_Updated_check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_33_of_Error_Contact_Creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Next_Follow_up_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasons__c</field>
            <value>
                <stringValue>Initial Follow-Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue> Follow-Up Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creating_Task_record_for_user</name>
        <label>Creating Task record for user</label>
        <locationX>1282</locationX>
        <locationY>3059</locationY>
        <connector>
            <targetReference>Check_Lead_Score</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_5_of_Error_Contact_Creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_recordType_of_task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Custom_Notification</name>
        <label>Custom Notification</label>
        <locationX>2096</locationX>
        <locationY>6911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Add_owner_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadAssignedNotificationForNew</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_get_group_member</name>
        <label>Copy 1 of get group member</label>
        <locationX>1722</locationX>
        <locationY>5987</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigment_to_contact_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_queue1.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <sortField>UserOrGroupId</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>2701</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ISmetaData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Custom_Notification</name>
        <label>Custom Notification</label>
        <locationX>1832</locationX>
        <locationY>6911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_owner_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadAssignedNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Map_record</name>
        <label>Get Account Map record</label>
        <locationX>1832</locationX>
        <locationY>4499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Owner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_If_Exist</name>
        <label>Get Contact If Exist</label>
        <locationX>1062</locationX>
        <locationY>5555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_record_is_not_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>2602</locationX>
        <locationY>5555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_check_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_group_member</name>
        <label>get group member</label>
        <locationX>50</locationX>
        <locationY>5987</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_queue.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <sortField>UserOrGroupId</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_queue</name>
        <label>get queue</label>
        <locationX>578</locationX>
        <locationY>5771</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_queue1</name>
        <label>get queue</label>
        <locationX>2250</locationX>
        <locationY>5771</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_for_queue_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>1744</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User_Notification</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recordType_of_task</name>
        <label>Get recordType of task</label>
        <locationX>1678</locationX>
        <locationY>2843</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_the_owner_of_the_lead_is_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User_Notification</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Region_Record</name>
        <label>Get Region Record</label>
        <locationX>2096</locationX>
        <locationY>4091</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Owner_for_russia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Region_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record</name>
        <label>Get Task Record</label>
        <locationX>1744</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Task_Exit_already_exits_with_Next_follow_up_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow-Up Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Next_Follow_up_Date_Time__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_custom_Notification_Id</name>
        <label>Getting custom Notification Id</label>
        <locationX>2250</locationX>
        <locationY>2843</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_the_Id_to_UrgentLeads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Urgent_Lead_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getting_queue</name>
        <label>getting queue</label>
        <locationX>1810</locationX>
        <locationY>3059</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Creating_Task_record_for_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_LeadOwner_based_on_Mapping</name>
        <label>Assign LeadOwner based on Mapping</label>
        <locationX>1832</locationX>
        <locationY>4091</locationY>
        <connector>
            <targetReference>CheckLeadAccountName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Region_Map__r.Region_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_rating_as_Blank</name>
        <label>Assign rating as Blank</label>
        <locationX>2360</locationX>
        <locationY>3683</locationY>
        <connector>
            <targetReference>LeadOwnerAssignment_based_on_Pincode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Score__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Score__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Score__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Rating_as_Cold</name>
        <label>Assign Rating as Cold</label>
        <locationX>2096</locationX>
        <locationY>3683</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_Checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Score__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Score__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Score__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>70.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Rating_as_Warm</name>
        <label>Assign Rating as Warm</label>
        <locationX>1832</locationX>
        <locationY>3683</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Score__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Score__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>70.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Score__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Assign_Rating_as_Warm</name>
        <label>Assign Rating as Hot</label>
        <locationX>1568</locationX>
        <locationY>3683</locationY>
        <connector>
            <targetReference>Update_Checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Score__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Score__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Checkbox</name>
        <label>Update Checkbox</label>
        <locationX>1832</locationX>
        <locationY>3791</locationY>
        <connector>
            <targetReference>LeadOwnerAssignment_based_on_Pincode</targetReference>
        </connector>
        <inputAssignments>
            <field>ConversionCheck__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Contact_Record</name>
        <label>Copy 1 of Update Contact Record</label>
        <locationX>2250</locationX>
        <locationY>6095</locationY>
        <connector>
            <targetReference>Check_Lead_Owner_Changed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Copy_3_of_Error_Contact_Creation</targetReference>
        </faultConnector>
        <inputReference>Get_Contact_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Checkbox</name>
        <label>Update Checkbox</label>
        <locationX>2096</locationX>
        <locationY>3791</locationY>
        <connector>
            <targetReference>LeadOwnerAssignment_based_on_Pincode</targetReference>
        </connector>
        <inputAssignments>
            <field>ConversionCheck__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Checkbox</name>
        <label>Update Checkbox</label>
        <locationX>1568</locationX>
        <locationY>3791</locationY>
        <connector>
            <targetReference>LeadOwnerAssignment_based_on_Pincode</targetReference>
        </connector>
        <inputAssignments>
            <field>ConversionCheck__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>1722</locationX>
        <locationY>6203</locationY>
        <connector>
            <targetReference>Check_Lead_Owner_Changed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_Error_Contact_Creation</targetReference>
        </faultConnector>
        <inputReference>Get_Contact_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1238</locationX>
        <locationY>2219</locationY>
        <connector>
            <targetReference>Checking_if_the_lead_is_getting_created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_4_of_Error_Contact_Creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Lead_Location__c</field>
            <value>
                <elementReference>Create_Location_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>validationBypassDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Owner_for_russia</name>
        <label>Update Lead Owner for russia</label>
        <locationX>2096</locationX>
        <locationY>4199</locationY>
        <connector>
            <targetReference>CheckLeadAccountName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CountryCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Region_Record.Region_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_owner</name>
        <label>Update owner</label>
        <locationX>1832</locationX>
        <locationY>4607</locationY>
        <connector>
            <targetReference>leadidassigment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_6_of_Error_Contact_Creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Map_record.Account_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account_Map_record.Account_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_16</name>
        <label>Update Records 16</label>
        <locationX>2030</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Checking_if_the_lead_is_getting_created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Error_Contact_Creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Lead_Location__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Record</name>
        <label>Update Task Record</label>
        <locationX>1216</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Lead_Address_Updated_check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Message_9</targetReference>
        </faultConnector>
        <inputReference>Get_Task_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2575</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Company Name - {!$Record.Company}</text>
    </textTemplates>
    <textTemplates>
        <name>UrgentLeadCustomNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is an Urgent Lead, needs your attention
Lead Name - {!$Record.LastName}
Email - {!$Record.Email}
Phone - {!$Record.Phone}</text>
    </textTemplates>
    <triggerOrder>2</triggerOrder>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Leadids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MultipleOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Recipeintid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UrgentLeadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
