force-app/main/default/flows/Send_Purchase_Order_Details_to_IFB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Purchase_Order_to_IFB</name>
        <label>Copy 1 of Send Purchase Order to IFB</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <actionName>IntegrationHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionType</name>
            <value>
                <stringValue>Purchase Order Cancelled Sync</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsListToProccess</name>
            <value>
                <elementReference>varRecordIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegrationHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Purchase_Order_to_IFB</name>
        <label>Send Purchase Order to IFB</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <actionName>IntegrationHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionType</name>
            <value>
                <stringValue>Purchase Order Sync</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsListToProccess</name>
            <value>
                <elementReference>varRecordIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegrationHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Record_IDs_to_process</name>
        <label>Assign Record IDs to process</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Purchase_Order_to_IFB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Record_IDs_to_process</name>
        <label>Copy 1 of Assign Record IDs to process</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_Purchase_Order_to_IFB</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsActive</name>
        <label>IsActive</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Po_status</targetReference>
            </connector>
            <label>IsmetaDataTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Po_status</name>
        <label>Po status</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Po_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_IDs_to_process</targetReference>
            </connector>
            <label>Is Po Approved</label>
        </rules>
        <rules>
            <name>is_po_cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Record_IDs_to_process</targetReference>
            </connector>
            <label>is po cancelled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Purchase Order to IFB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Purchase Order Details  to IFB</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PO Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Custom_MetaData</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
