force-app/main/default/flows/Shipping_Address_Same_as_Billing_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_Lead_is_created_or_updated</name>
        <label>Check if Lead is created or updated</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Address</targetReference>
            </connector>
            <label>Is Created</label>
        </rules>
        <rules>
            <name>Updated_for_SHipping_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipping_Address_Same_As_Billing_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipping_Address_Same_As_Billing_Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Shipping_Address_Same_As_Billing_Address__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Address_on_Lead_Update</targetReference>
            </connector>
            <label>Updated for SHipping Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActive</name>
        <label>IsActive</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Lead_is_created_or_updated</targetReference>
            </connector>
            <label>IsmetaDataTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Shipping Address Same as Billing Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipping Address Same as Billing Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Ship_to_Name__c</field>
            <value>
                <elementReference>$Record.Bill_To_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__City__s</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__CountryCode__s</field>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__GeocodeAccuracy__s</field>
            <value>
                <elementReference>$Record.GeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__Latitude__s</field>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__Longitude__s</field>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__PostalCode__s</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__StateCode__s</field>
            <value>
                <elementReference>$Record.StateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__Street__s</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipping_Address_on_Lead_Update</name>
        <label>Update Shipping Address on Lead Update</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Ship_to_Name__c</field>
            <value>
                <elementReference>$Record.Bill_To_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__City__s</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__CountryCode__s</field>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__GeocodeAccuracy__s</field>
            <value>
                <elementReference>$Record.GeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__Latitude__s</field>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__Longitude__s</field>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__PostalCode__s</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__StateCode__s</field>
            <value>
                <elementReference>$Record.StateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping__Street__s</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipping_Address_Same_As_Billing_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
