force-app/main/default/flows/Technical_VAlidation_Screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Sending_for_technical_Validation</name>
        <label>Copy 1 of Sending for technical Validation</label>
        <locationX>842</locationX>
        <locationY>1166</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Copy_2_of_Final_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>getting_quote_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Drawing is required</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Technical_Validation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Submiting_for_commercial_validator</name>
        <label>Copy 1 of Submiting for commercial validator</label>
        <locationX>1106</locationX>
        <locationY>1382</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>submitted for commercial validation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Standard_Quote_ApprovalsV2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Sending_for_technical_Validation</name>
        <label>Sending for technical Validation</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>getting_quote_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Special feature is added </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Technical_Validation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submiting_for_commercial_validator</name>
        <label>Submiting for commercial validator</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>submitted for commercial validation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Standard_Quote_ApprovalsV2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>special_feature_is_there</name>
        <label>special feature is there</label>
        <locationX>996</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SpecialFeatureCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopig_over_quotelines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_ILM_Quote_with_Markup</name>
        <label>Check if ILM Quote with Markup</label>
        <locationX>479</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Getting_quotelines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_ILM_Quote_with_Markup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getting_quote_record.Is_Reason_for_Markup_Blank__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ILM_Quote_Error_Markup</targetReference>
            </connector>
            <label>Is ILM Quote with Markup</label>
        </rules>
    </decisions>
    <decisions>
        <name>checking_for_quote_option</name>
        <label>checking for quote option</label>
        <locationX>1128</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>loopig_over_quotelines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>quote_option_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopig_over_quotelines.SBQQ__ProductOption__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>special_feature_is_there</targetReference>
            </connector>
            <label>quote option is present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_for_special_feature</name>
        <label>Checking for special feature</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>UpdateQuote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Special_Feature_added</name>
            <conditionLogic>(1 AND 2) OR 3 OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>SpecialFeatureCheck</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SpecialFeatureCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getting_quote_record.Layout_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getting_quote_record.Installation_Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getting_quote_record.Installation_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ground</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sending_for_technical_Validation</targetReference>
            </connector>
            <label>Special Feature added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_if_the_drawing_required</name>
        <label>Checking if the drawing required</label>
        <locationX>974</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_UpdateQuote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Drawing_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getting_quote_record.Layout_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Sending_for_technical_Validation</targetReference>
            </connector>
            <label>Drawing required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Quote_Product_Category</name>
        <label>Checking Quote Product Category</label>
        <locationX>908</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Category_ILM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getting_quote_record.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Industrial Laundry Machine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_for_special_feature</targetReference>
            </connector>
            <label>Product Category ILM</label>
        </rules>
        <rules>
            <name>Product_Category_IDW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getting_quote_record.Product_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Industrial Dishwasher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_if_the_drawing_required</targetReference>
            </connector>
            <label>Product Category IDW</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Technical VAlidation Screen flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Technical Validation Screen flow</label>
    <loops>
        <name>loopig_over_quotelines</name>
        <label>loopig over quotelines</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <collectionReference>Getting_quotelines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checking_for_quote_option</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checking_Quote_Product_Category</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getting_quote_record</name>
        <label>getting quote record</label>
        <locationX>479</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_ILM_Quote_with_Markup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_quotelines</name>
        <label>Getting quotelines</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopig_over_quotelines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_UpdateQuote</name>
        <label>Copy 1 of UpdateQuote</label>
        <locationX>1106</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQuote</name>
        <label>UpdateQuote</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Copy_1_of_Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Copy_1_of_Final_Screen</name>
        <label>Copy 1 of Copy 1 of Final Screen</label>
        <locationX>1106</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Submiting_for_commercial_validator</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_SubmittedScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 15px; color: rgb(13, 94, 176); background-color: rgb(248, 248, 248); font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;&quot;&gt;Please click close to submit the quote to Commercial Validator for approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Final_Screen</name>
        <label>Copy 1 of Final Screen</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submiting_for_commercial_validator</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_SubmittedScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 15px; color: rgb(13, 94, 176); background-color: rgb(248, 248, 248); font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;&quot;&gt;Please click close to submit the quote to Commercial Validator for approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Final_Screen</name>
        <label>Copy 2 of Final Screen</label>
        <locationX>842</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_SubmittedScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(10, 83, 180); font-size: 14px;&quot;&gt;Sent for Technical Validation&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SubmittedScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(10, 83, 180); font-size: 14px;&quot;&gt;Sent for Technical Validation&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ILM_Quote_Error_Markup</name>
        <label>ILM Quote Error Markup</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageILMMarkupQuote</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(195, 15, 15);&quot;&gt;Please provide a reason for the markup before submitting an ILM Quote with Markup.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getting_quote_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SpecialFeatureCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
