force-app/main/default/flows/Update_Target_Achievement_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_IDW_Target_Records_To_Collection</name>
        <label>Add IDW Target Records To Collection</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>TargetRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Monthly_Target_Record_of_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_IDW_Quarterly_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_IDW_Half_Yearly_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_IDW_Yearly_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Target_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ILM_Target_Records_To_Collection</name>
        <label>Add ILM Target Records To Collection</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>TargetRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Monthly_Target_Record_of_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_ILM_Quarterly_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_ILM_Half_Yearly_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_ILM_Yearly_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Target_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_IDW_Achievement_Record</name>
        <label>Update IDW Achievement Record</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Monthly_Target_Record_of_User.IDW_Target_Amount_Achieved__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_IDW_Quarterly_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_IDW_Half_Yearly_Achievement_Record</name>
        <label>Update IDW Half Yearly Achievement Record</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Get_IDW_Half_Yearly_Record.IDW_Target_Amount_Achieved__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_IDW_Yearly_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_IDW_Quarterly_Achievement_Record</name>
        <label>Update IDW Quarterly Achievement Record</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_IDW_Quarterly_Record.IDW_Target_Amount_Achieved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_IDW_Half_Yearly_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_IDW_Yearly_Record</name>
        <label>Update IDW Yearly Record</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Get_IDW_Yearly_Record.IDW_Target_Amount_Achieved__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_IDW_Target_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ILM_Achievement_Record</name>
        <label>Update ILM Achievement Record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Monthly_Target_Record_of_User.ILM_Target_Amount_Achieved__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ILM_Quarterly_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ILM_Half_Yearly_Achievement_Record</name>
        <label>Update ILM Half Yearly Achievement Record</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Get_ILM_Half_Yearly_Record.ILM_Target_Amount_Achieved__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ILM_Yearly_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ILM_Quarterly_Achievement_Record</name>
        <label>Update ILM Quarterly Achievement Record</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_ILM_Quarterly_Record.ILM_Target_Amount_Achieved__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ILM_Half_Yearly_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ILM_Yearly_Record</name>
        <label>Update ILM Yearly Record</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Get_ILM_Yearly_Record.ILM_Target_Amount_Achieved__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ILM_Target_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Monthly_Target_Record_of_User</name>
        <label>Check Monthly Target Record of User</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Is Not Monthly Target Present</defaultConnectorLabel>
        <rules>
            <name>Is_Monthly_Target_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Monthly_Target_Record_of_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Product_Category</targetReference>
            </connector>
            <label>Is Monthly Target Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Category</name>
        <label>Check Product Category</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ILM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ILM_Achievement_Record</targetReference>
            </connector>
            <label>ILM</label>
        </rules>
        <rules>
            <name>IDW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IDW_Achievement_Record</targetReference>
            </connector>
            <label>IDW</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Current_Month_Value</name>
        <dataType>Number</dataType>
        <expression>MONTH({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Target_Achievement Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Target_Achievement Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_IDW_Half_Yearly_Record</name>
        <label>Get IDW Half Yearly Record</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_IDW_Half_Yearly_Achievement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_IDW_Quarterly_Record.Parent_Target__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IDW_Quarterly_Record</name>
        <label>Get IDW Quarterly Record</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_IDW_Quarterly_Achievement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Monthly_Target_Record_of_User.Parent_Target__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IDW_Yearly_Record</name>
        <label>Get IDW Yearly Record</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_IDW_Yearly_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_IDW_Half_Yearly_Record.Parent_Target__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ILM_Half_Yearly_Record</name>
        <label>Get ILM Half Yearly Record</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ILM_Half_Yearly_Achievement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ILM_Quarterly_Record.Parent_Target__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Target__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ILM_Quarterly_Record</name>
        <label>Get ILM Quarterly Record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ILM_Quarterly_Achievement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Monthly_Target_Record_of_User.Parent_Target__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Target__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ILM_Yearly_Record</name>
        <label>Get ILM Yearly Record</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ILM_Yearly_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ILM_Half_Yearly_Record.Parent_Target__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Target__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Monthly_Target_Record_of_User</name>
        <label>Get Monthly Target Record of User</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Monthly_Target_Record_of_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Month_Value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Target_Record</name>
        <label>Update Target Record</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <inputReference>TargetRecordsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Monthly_Target_Record_of_User</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SO created</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TargetRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Target__c</objectType>
    </variables>
</Flow>
