force-app/main/default/flows/Update_quote_Delivery_term.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_current_delivery_term</name>
        <label>assign current delivery term</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CurrentDeliveryPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Actual_Delivery_Period__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_current_delivery_term_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_current_delivery_term_Number</name>
        <label>assign current delivery term Number</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CurrentDeliveryperiodNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertTexttonumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Number</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Number</name>
        <label>check Number</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Copy_8_of_update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDeliveryperiodNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentRecordActualDeliveryPeriod</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ConvertTexttonumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_update_Record</targetReference>
            </connector>
            <label>Is1</label>
        </rules>
        <rules>
            <name>is2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDeliveryperiodNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentRecordActualDeliveryPeriod</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ConvertTexttonumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_update_Record</targetReference>
            </connector>
            <label>is2</label>
        </rules>
        <rules>
            <name>is4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDeliveryperiodNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentRecordActualDeliveryPeriod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConvertTexttonumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_update_Record</targetReference>
            </connector>
            <label>is4</label>
        </rules>
        <rules>
            <name>is5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDeliveryperiodNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentRecordActualDeliveryPeriod</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ConvertTexttonumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Record</targetReference>
            </connector>
            <label>is5</label>
        </rules>
        <rules>
            <name>is8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDeliveryperiodNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentRecordActualDeliveryPeriod</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ConvertTexttonumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_update_Record</targetReference>
            </connector>
            <label>is8</label>
        </rules>
        <rules>
            <name>is10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDeliveryperiodNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentRecordActualDeliveryPeriod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConvertTexttonumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_update_Record</targetReference>
            </connector>
            <label>is10</label>
        </rules>
        <rules>
            <name>is12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDeliveryperiodNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentRecordActualDeliveryPeriod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConvertTexttonumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_update_Record</targetReference>
            </connector>
            <label>is12</label>
        </rules>
        <rules>
            <name>is16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDeliveryperiodNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>16.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_update_Record</targetReference>
            </connector>
            <label>is16</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDelivery_period_on_quote</name>
        <label>checkDelivery period on quote</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Quote__r.Actual_Delivery_Period__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delivery_Period__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Same</label>
        </rules>
        <rules>
            <name>IsNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Actual_Delivery_Period__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delivery_Period__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Delivery_term_on_quote</targetReference>
            </connector>
            <label>IsNULL</label>
        </rules>
        <rules>
            <name>notNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Period__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delivery_Period__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Quote__r.Actual_Delivery_Period__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Actual_Delivery_Period__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_current_delivery_term</targetReference>
            </connector>
            <label>notNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActive</name>
        <label>IsActive</label>
        <locationX>2096</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsmetaDataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkDelivery_period_on_quote</targetReference>
            </connector>
            <label>IsmetaDataTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConvertTexttonumber</name>
        <dataType>Number</dataType>
        <expression>CASE(
    {!CurrentDeliveryPeriod},
    &quot;0-1 weeks&quot;, 1,
    &quot;1-2 weeks&quot;, 2,
    &quot;3-4 weeks&quot;, 4,
    &quot;5-8 weeks&quot;, 8,
    &quot;8-10 weeks&quot;, 10,
    &quot;10-12 weeks&quot;,12,
    &quot;12-16 weeks&quot;,16,
    0  
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentRecordActualDeliveryPeriod</name>
        <dataType>Number</dataType>
        <expression>CASE(
    {!CurrentDeliveryPeriod},
    &quot;0-1 weeks&quot;, 1,
    &quot;1-2 weeks&quot;, 2,
    &quot;3-4 weeks&quot;, 4,
    &quot;5-8 weeks&quot;, 8,
    &quot;8-10 weeks&quot;, 10,
    &quot;10-12 weeks&quot;,12,
    &quot;12-16 weeks&quot;,16,
    0  
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update quote Delivery term {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update quote Delivery term</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>2096</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_Record</name>
        <label>Copy 1 of update Record</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Delivery_Period__c</field>
            <value>
                <stringValue>3-4 weeks</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_update_Record</name>
        <label>Copy 2 of update Record</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Delivery_Period__c</field>
            <value>
                <stringValue>8-10 weeks</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_update_Record</name>
        <label>Copy 3 of update Record</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Delivery_Period__c</field>
            <value>
                <stringValue>1-2 weeks</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_update_Record</name>
        <label>Copy 4 of update Record</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Delivery_Period__c</field>
            <value>
                <stringValue>0-1 weeks</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_update_Record</name>
        <label>Copy 5 of update Record</label>
        <locationX>1634</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Delivery_Period__c</field>
            <value>
                <stringValue>8-10 weeks</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_6_of_update_Record</name>
        <label>Copy 6 of update Record</label>
        <locationX>1898</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Delivery_Period__c</field>
            <value>
                <stringValue>10-12 weeks</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_7_of_update_Record</name>
        <label>Copy 7 of update Record</label>
        <locationX>2162</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Delivery_Period__c</field>
            <value>
                <stringValue>12-16 weeks</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_8_of_update_Record</name>
        <label>Copy 8 of update Record</label>
        <locationX>2426</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Delivery_Period__c</field>
            <value>
                <stringValue>3-4 weeks</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Insert_Delivery_term_on_quote</name>
        <label>Insert Delivery term on quote</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Delivery_Period__c</field>
            <value>
                <elementReference>$Record.Delivery_Period__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Record</name>
        <label>update Record</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Delivery_Period__c</field>
            <value>
                <stringValue>5-8 weeks</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>1970</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CurrentDeliveryPeriod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentDeliveryperiodNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
