force-app/main/default/flows/Upload_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_File_To_Azure</name>
        <label>Send File To Azure</label>
        <locationX>314</locationX>
        <locationY>5954</locationY>
        <actionName>AzureFileUploadInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentLinkId</name>
            <value>
                <elementReference>contentDocLinkIdList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AzureFileUploadInvoker</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Content_Doc_TDS_Id</name>
        <label>Assign Content Doc TDS Id</label>
        <locationX>426</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>TdsContentDocId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_TDS_Doc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TDS_Doc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_GST_ID</name>
        <label>Assign Content GST ID</label>
        <locationX>426</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>gstContentDocId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_GST_Doc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_GST_Doc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_PAN_ID</name>
        <label>Assign Content PAN ID</label>
        <locationX>426</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>panContentDocId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PAN_Doc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_PAN_Doc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_PO_ID</name>
        <label>Assign Content PO ID</label>
        <locationX>426</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>PoContentDocID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_PO_doc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_PO_doc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_id_to_List</name>
        <label>Assign id to List</label>
        <locationX>402</locationX>
        <locationY>5762</locationY>
        <assignmentItems>
            <assignToReference>contentDocLinkIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_content_doc_link_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_content_doc_link_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Content_Document_Link_Record_TDS</name>
        <label>Content Document Link Record TDS</label>
        <locationX>426</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>contentDocLinkRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_TDS_Doc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocLinkRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocLinkRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentDocLinkRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Content_Doc_TDS_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_Content_Doc_link_Record</name>
        <label>Create Content Doc link Record</label>
        <locationX>426</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>contentDocLinkRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PAN_Doc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocLinkRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocLinkRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentDocLinkRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Content_PAN_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Create_Content_Doc_link_Record</name>
        <label>Create Content Doc link Record</label>
        <locationX>426</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>contentDocLinkRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PO_doc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocLinkRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocLinkRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentDocLinkRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Content_PO_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Content_Doc_link_Record</name>
        <label>Create Content Doc link Record</label>
        <locationX>426</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>contentDocLinkRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_GST_Doc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocLinkRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocLinkRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentDocLinkRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Content_GST_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rename_GST_File</name>
        <label>Rename GST File</label>
        <locationX>50</locationX>
        <locationY>3506</locationY>
        <assignmentItems>
            <assignToReference>Get_GST_Content_Doc_Record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gstFileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_GST_doc_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rename_PAN_File</name>
        <label>Rename PAN File</label>
        <locationX>50</locationX>
        <locationY>4070</locationY>
        <assignmentItems>
            <assignToReference>Get_PAN_Content_Doc_Record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>panFileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PAN_doc_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rename_Po_File</name>
        <label>Rename Po File</label>
        <locationX>50</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>Get_PO_Content_Doc_Record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>poFileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PO_doc_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rename_TDS_File</name>
        <label>Rename TDS File</label>
        <locationX>50</locationX>
        <locationY>5198</locationY>
        <assignmentItems>
            <assignToReference>Get_TDS_Content_Doc_Record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TdsFileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tds_doc_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_content_doc_list</name>
        <label>Check for content doc list</label>
        <locationX>446</locationX>
        <locationY>5546</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentDocLinkRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_content_doc_link_records</targetReference>
            </connector>
            <label>Not Empty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Doc_Link_Record_list</name>
        <label>Check for Doc Link Record list</label>
        <locationX>446</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>Check_for_GST_Doc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentDocLinkRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_content_doc_link_record</targetReference>
            </connector>
            <label>Not Empty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_GST</name>
        <label>Check for GST</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>check_for_PAN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gstFileSizeFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_GST_Doc</targetReference>
            </connector>
            <label>Uploaded?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_GST_Doc</name>
        <label>Check for GST Doc</label>
        <locationX>446</locationX>
        <locationY>3290</locationY>
        <defaultConnector>
            <targetReference>Check_for_PAN_DOC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_GST_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gstFileSizeFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GST_Content_Doc_Record</targetReference>
            </connector>
            <label>Is GST Uploaded?</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_PAN</name>
        <label>check for PAN</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>check_for_PO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uplaoded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>panFileSizeFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_PAN_Doc</targetReference>
            </connector>
            <label>Uplaoded?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_PAN_DOC</name>
        <label>Check for PAN DOC</label>
        <locationX>446</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <targetReference>Check_for_PO_Doc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_PAN_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>panFileSizeFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PAN_Content_Doc_Record</targetReference>
            </connector>
            <label>Is PAN Uploaded?</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_PO</name>
        <label>check for PO</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Check_for_TDS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uploaded1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>poFileSizeUpload</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_PO_doc</targetReference>
            </connector>
            <label>Uploaded?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_PO_Doc</name>
        <label>Check for PO Doc</label>
        <locationX>446</locationX>
        <locationY>4418</locationY>
        <defaultConnector>
            <targetReference>Check_for_TDS_Doc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Doc_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>poFileSizeUpload</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PO_Content_Doc_Record</targetReference>
            </connector>
            <label>PO Doc Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_TDS</name>
        <label>Check for TDS</label>
        <locationX>446</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Check_for_Doc_Link_Record_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UploadedTDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TdsFileSizeUpload</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_TDS_Doc</targetReference>
            </connector>
            <label>Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_TDS_Doc</name>
        <label>Check for TDS Doc</label>
        <locationX>446</locationX>
        <locationY>4982</locationY>
        <defaultConnector>
            <targetReference>Check_for_content_doc_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TDS_Doc_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TdsFileSizeUpload</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TDS_Content_Doc_Record</targetReference>
            </connector>
            <label>TDS Doc Uploaded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>gstFileName</name>
        <dataType>String</dataType>
        <expression>&quot;GST_&quot; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT(NOW()), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;:&quot;, &quot;&quot;), &quot;Z&quot;, &quot;&quot;) &amp; &quot;_&quot; &amp; SUBSTITUTE({!Get_GST_Content_Doc_Record.Title}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <formulas>
        <name>gstFileSizeFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!uploadGST.contentDocIds})&gt; 2, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>panFileName</name>
        <dataType>String</dataType>
        <expression>&quot;PAN_&quot; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT(NOW()), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;:&quot;, &quot;&quot;), &quot;Z&quot;, &quot;&quot;) &amp; &quot;_&quot; &amp; SUBSTITUTE({!Get_PAN_Content_Doc_Record.Title}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <formulas>
        <name>panFileSizeFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!uploadPAN.contentDocIds})&gt; 2, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>poFileName</name>
        <dataType>String</dataType>
        <expression>&quot;PO_&quot; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT(NOW()), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;:&quot;, &quot;&quot;), &quot;Z&quot;, &quot;&quot;) &amp; &quot;_&quot; &amp; SUBSTITUTE({!Get_PO_Content_Doc_Record.Title}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <formulas>
        <name>poFileSizeUpload</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!uploadPO.contentDocIds})&gt; 2, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>TdsFileName</name>
        <dataType>String</dataType>
        <expression>&quot;TDS_&quot; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT(NOW()), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;:&quot;, &quot;&quot;), &quot;Z&quot;, &quot;&quot;) &amp; &quot;_&quot; &amp; SUBSTITUTE({!Get_TDS_Content_Doc_Record.Title}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <formulas>
        <name>TdsFileSizeUpload</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!uploadTDS.contentDocIds})&gt;2, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Upload Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload Documents</label>
    <loops>
        <name>Loop_on_content_doc_link_records</name>
        <label>Loop on content doc link records</label>
        <locationX>314</locationX>
        <locationY>5654</locationY>
        <collectionReference>contentDocLinkRecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_id_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_File_To_Azure</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_GST_Doc</name>
        <label>Loop on GST Doc</label>
        <locationX>338</locationX>
        <locationY>458</locationY>
        <collectionReference>uploadGST.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Content_Doc_link_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_for_PAN</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_PAN_Doc</name>
        <label>Loop on PAN Doc</label>
        <locationX>338</locationX>
        <locationY>1058</locationY>
        <collectionReference>uploadPAN.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Create_Content_Doc_link_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_for_PO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_PO_doc</name>
        <label>Loop on PO doc</label>
        <locationX>338</locationX>
        <locationY>1658</locationY>
        <collectionReference>uploadPO.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_3_of_Create_Content_Doc_link_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_TDS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_TDS_Doc</name>
        <label>Loop on TDS Doc</label>
        <locationX>338</locationX>
        <locationY>2258</locationY>
        <collectionReference>uploadTDS.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Content_Document_Link_Record_TDS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Doc_Link_Record_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_content_doc_link_record</name>
        <label>Insert content doc link record</label>
        <locationX>182</locationX>
        <locationY>2858</locationY>
        <connector>
            <targetReference>Check_for_GST_Doc</targetReference>
        </connector>
        <faultConnector>
            <targetReference>RollbackChanges</targetReference>
        </faultConnector>
        <inputReference>contentDocLinkRecordList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_GST_Content_Doc_Record</name>
        <label>Get GST Content Doc Record</label>
        <locationX>50</locationX>
        <locationY>3398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rename_GST_File</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackChanges</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gstContentDocId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Record</name>
        <label>Get Order Record</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upload_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PAN_Content_Doc_Record</name>
        <label>Get PAN Content Doc Record</label>
        <locationX>50</locationX>
        <locationY>3962</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rename_PAN_File</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackChanges</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>panContentDocId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Content_Doc_Record</name>
        <label>Get PO Content Doc Record</label>
        <locationX>50</locationX>
        <locationY>4526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rename_Po_File</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackChanges</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PoContentDocID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TDS_Content_Doc_Record</name>
        <label>Get TDS Content Doc Record</label>
        <locationX>50</locationX>
        <locationY>5090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rename_TDS_File</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackChanges</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TdsContentDocId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>RollbackChanges</name>
        <label>RollbackChanges</label>
        <locationX>446</locationX>
        <locationY>2966</locationY>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_GST_doc_name</name>
        <label>Update GST doc name</label>
        <locationX>50</locationX>
        <locationY>3614</locationY>
        <connector>
            <targetReference>Check_for_PAN_DOC</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackChanges</targetReference>
        </faultConnector>
        <inputReference>Get_GST_Content_Doc_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PAN_doc_name</name>
        <label>Update PAN doc name</label>
        <locationX>50</locationX>
        <locationY>4178</locationY>
        <connector>
            <targetReference>Check_for_PO_Doc</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackChanges</targetReference>
        </faultConnector>
        <inputReference>Get_PAN_Content_Doc_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_doc_name</name>
        <label>Update PO doc name</label>
        <locationX>50</locationX>
        <locationY>4742</locationY>
        <connector>
            <targetReference>Check_for_TDS_Doc</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackChanges</targetReference>
        </faultConnector>
        <inputReference>Get_PO_Content_Doc_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tds_doc_Name</name>
        <label>Update Tds doc Name</label>
        <locationX>50</locationX>
        <locationY>5306</locationY>
        <connector>
            <targetReference>Check_for_content_doc_list</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackChanges</targetReference>
        </faultConnector>
        <inputReference>Get_TDS_Content_Doc_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>314</locationX>
        <locationY>6062</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>uploadsuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(36, 202, 53);&quot;&gt;Files are uploaded successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Documents</name>
        <label>Upload Documents</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Check_for_GST</targetReference>
        </connector>
        <fields>
            <name>Upload_Documents_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_Documents_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>uploadPO</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Purchase Order Document</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg, .png, .pdf, .doc, .txt</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 30, 30);&quot;&gt;Please Upload Purchase Document.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!uploadPO.contentDocIds})&gt; 2, TRUE, FALSE)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Order_Record.PO_Received__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayPONmae</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(20, 45, 238);&quot;&gt;{!uploadPO.fileNames}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Order_Record.PO_Received__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>uploadGST</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>GST Document</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg, .png, .pdf, .doc, .txt</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Order_Record.GST_Certificate_Provided__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayGSTDocName</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(20, 45, 238);&quot;&gt;{!uploadGST.fileNames}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Order_Record.GST_Certificate_Provided__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>uploadPAN</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>PAN Document</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg, .png, .pdf, .doc, .txt</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 18, 18);&quot;&gt;Please Upload PAN Document.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(TEXT({!Get_Order_Record.CurrencyIsoCode}) = &apos;INR&apos;,
  LEN({!uploadPAN.contentDocIds}) &gt; 2,
  TRUE
)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Order_Record.PAN_Card_Provided__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayPANDocName</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(20, 45, 238);&quot;&gt;{!uploadPAN.fileNames}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Order_Record.PAN_Card_Provided__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>uploadTDS</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>TDS Document</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg, .png, .pdf, .doc, .txt</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Order_Record.TDS_Provided__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayTDSdocument</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(20, 45, 238);&quot;&gt;{!uploadTDS.fileNames}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Order_Record.TDS_Provided__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentDocLinkIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocLinkRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocLinkRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>gstContentDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>panContentDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PoContentDocID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TdsContentDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
