force-app/main/default/flows/Visit_Alert_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Visits</name>
        <label>Count Visits</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Multiple_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MultidaysTure</name>
        <label>MultidaysTure</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MultidaysVisitFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Visits</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Multiple_days</name>
        <label>Check For Multiple days</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Visits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multiple_day_Visit_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Visits.PlannedVisitStartTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>EveningValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Visits.PlannedVisitEndTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NextDateValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MultidaysTure</targetReference>
            </connector>
            <label>Multiple day Visit Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Show_Screen_Check</name>
        <label>Show Screen Check</label>
        <locationX>314</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Visit_Alerts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multiple_days_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MultidaysVisitFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Visit_Alerts</targetReference>
            </connector>
            <label>Multiple days Present</label>
        </rules>
        <rules>
            <name>Visit_Less_Than_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MultidaysVisitFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visit_Alerts</targetReference>
            </connector>
            <label>Visit Less Than 3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EveningValue</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(YEAR(TODAY())) + &quot;-&quot; + 
              TEXT(MONTH(TODAY())) + &quot;-&quot; + 
              TEXT(DAY(TODAY())) + &quot; 14:30:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>MorningValue</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(YEAR(TODAY())) + &quot;-&quot; + 
              TEXT(MONTH(TODAY())) + &quot;-&quot; + 
              TEXT(DAY(TODAY())) + &quot; 00:30:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>NextDateValue</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(YEAR(TODAY())) + &quot;-&quot; + 
              TEXT(MONTH(TODAY())) + &quot;-&quot; + 
              TEXT(DAY(TODAY())) + &quot; 18:30:00&quot;)</expression>
    </formulas>
    <interviewLabel>Visit Alert Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visit Alert Screen Flow</label>
    <loops>
        <name>Loop_On_Visits</name>
        <label>Loop On Visits</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_visit_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Visits</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_Screen_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_visit_Records</name>
        <label>Get visit Records</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Visits</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Alert</targetReference>
        </faultConnector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>VisitorId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PlannedVisitStartTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EveningValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>PlannedVisitStartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>MorningValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>PlannedVisitStartTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EveningValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>PlannedVisitEndTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>NextDateValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Alert</name>
        <label>Alert</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccessIssue</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px; color: rgb(234, 47, 118);&quot;&gt;Not Able To Get Visit records for you Check if Access is there or not&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Visit_Alerts</name>
        <label>Copy 1 of Visit Alerts</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_showpopup</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(8, 255, 65); font-size: 20px;&quot;&gt;You Have Scheduled Multiday Visit &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Visit_Alerts</name>
        <label>Copy 2 of Visit Alerts</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_showpopup</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(8, 255, 65); background-color: rgb(255, 255, 255);&quot;&gt;You Have Scheduled your Todays Visits&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Visit_Alerts</name>
        <label>Visit Alerts</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showpopup</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(208, 44, 19); font-size: 20px;&quot;&gt;You Have Not Scheduled 3 Visits Today&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_visit_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MultidaysVisitFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
