force-app/main/default/flows/Visit_Fast_field_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Lead_Location_Assignment</name>
        <label>Lead Location Assignment</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.PlaceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__r.Lead_Location__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>Account_Location_Missing</name>
        <label>Account Location Missing</label>
        <locationX>314</locationX>
        <locationY>827</locationY>
        <customErrorMessages>
            <errorMessage>Account Location Not Present, Please add Account Location</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Lead_Location_Missing</name>
        <label>Lead Location Missing</label>
        <locationX>842</locationX>
        <locationY>719</locationY>
        <customErrorMessages>
            <errorMessage>Lead Location Not Present, Please add Lead Location</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>ISMetadata</name>
        <label>ISMetadata</label>
        <locationX>1007</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISMetadataTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_MetaData.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_or_Account_Check</targetReference>
            </connector>
            <label>ISMetadataTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Account_Check</name>
        <label>Lead or Account Check</label>
        <locationX>644</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_check_on_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_check_on_Account</name>
        <label>Location check on Account</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Account_Location_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Location_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.AccountLocation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_visit_record</targetReference>
            </connector>
            <label>Account Location Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_check_on_Lead</name>
        <label>Location check on Lead</label>
        <locationX>710</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Lead_Location_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Location_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__r.Lead_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Location_Assignment</targetReference>
            </connector>
            <label>Lead Location Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Visit Fast field Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visit Fast field Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_MetaData</name>
        <label>Custom MetaData</label>
        <locationX>1007</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ISMetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>org_specific_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location_check_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_visit_record</name>
        <label>update visit record</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>PlaceId</field>
            <value>
                <elementReference>get_Account.AccountLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_MetaData</targetReference>
        </connector>
        <object>Visit</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
